@use "colours" as *;

details {
  border: 1px solid $black-900;
  background-color: $white-500;

  &:not(:last-of-type) {
    margin-bottom: -1px;
  }

  summary {
    cursor: pointer;
    padding: 1.5rem;
    font-weight: 500;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $grey-100;
    }
  }

  .contents {
    padding: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 160%;
    border-top: 1px solid $black-900;
  }
}
