@use "colours" as *;
@use "type" as *;

$transition-box-background: background-color 550ms ease-in-out;

details,
.doc-or-form-item li,
.career-item li {
  border: 1px solid $black-900;
  background-color: $white-500;
  transition: $transition-box-background;

  &:not(:last-of-type) {
    margin-bottom: -1px;
  }
}

details {
  summary {
    cursor: pointer;
    padding: 1.5rem;
    font-weight: 500;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $grey-100;
    }
  }

  .contents {
    padding: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 160%;
    border-top: 1px solid $black-900;

    :last-child {
      // Clear the bottom margin that is usually present on paragraph elements
      margin-bottom: 0;
    }
  }
}

.doc-or-form-item,
.career-item {
  li {
    &:hover {
      background-color: $grey-100;
    }

    h3 {
      font-size: $font-size-lg;
      margin: 0 0 0.5rem 0 !important; //TODO: fix cascading issues causing more specific styles to be overriden by generic ones
      line-height: 100%;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.career-item {
  a {
    display: block;
    padding: 1.5rem;
    color: inherit;
    text-decoration: none;

    p {
      font-size: 1rem;
      line-height: $line-height-sm;
    }
  }
}

.doc-or-form-item {
  margin-bottom: 1rem !important; //TODO: fix cascading issues causing more specific styles to be overriden by generic ones
  li {
    display: flex;
    padding: 1.5rem;

    .icon {
      align-self: center;
      width: 2rem;
      margin-right: 2rem;

      svg {
        width: 2rem;
        height: 2rem;
        .fill-target {
          transition: $transition-text-hover;
        }
      }
      // Only add hover styles to the SVGs within links
      a {
        svg {
          &:hover {
            .fill-target {
              fill: $blue-500;
            }
          }
        }
      }
    }

    .text {
      flex: 1;
      align-self: center;

      h3 {
        a {
          color: inherit;
          // text-decoration-color: transparent;
          transition: $transition-text-hover;
          &:hover {
            color: $blue-500;
            text-decoration-color: $blue-500;
          }
        }
      }

      p {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
      }
    }
  }
}
