@use "colours" as *;
@use "type" as *;
@use "layout" as *;

$space-button-padding-y-sm: 0.75rem;
$space-button-padding-x-md: 2rem;
$space-button-padding-y-md: 1rem;

button,
.button {
  display: inline-block;
  cursor: pointer;
  font-size: $font-size-lg;
  font-weight: 700;
  padding: $space-button-padding-y-md $space-button-padding-x-md;
  &.full-width {
    padding: $space-button-padding-x-md 0;
    width: 100%;
  }
  border: 0;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
  text-align: center;

  &.primary {
    color: $white-500;
    background-color: $black-900;

    &.inverted {
      color: $black-900;
      background-color: $white-500;
    }

    &:hover {
      background-color: $blue-500;
    }
  }

  &.clear {
    color: inherit;
    background-color: inherit;
  }
}
