// Colours
$white-500: #ffffff;

$off-white-100: #fdfcfc;
$off-white-300: #fbf9f9;
$off-white-500: #f5f0f0;

$black-900: #000000;
$black-500: #140f14;

$grey-900: #0b0b0a;
$grey-800: #1d1d1b;
$grey-700: #30302c;
$grey-500: #52524c;
$grey-400: #76766f;
$grey-300: #dadad7;
$grey-200: #e6e6e5;
$grey-100: #f5f5f4;

$blue-100: #f0f5ff;
$blue-300: #a3c1ff;
$blue-400: #4280ff;
$blue-500: #0a5aff;
$blue-700: #0043cc;
$blue-800: #003cb8;
$blue-900: #002166;

$green-100: #f3fcf5;
$green-300: #97ddab;
$green-500: #2bb151;
$green-700: #21873e;
$green-900: #025018;

$red-100: #fdefec;
$red-200: #faccc2;
$red-300: #f7b4a6;
$red-500: #f04b23;
$red-700: #db380f;
$red-900: #47170b;

$pink-100: #f9ecf5;
$pink-200: #f3d8ec;
$pink-500: #dc91c8;
$pink-700: #c445a2;
$pink-900: #3c1631;

$yellow-500: #fac33c;
$yellow-700: #9a6f04;
$yellow-900: #322401;

// New (ice cream) colours
$mint-300: #ddffe7;
$mint-500: #2bb151;

$fraise-300: #ffe6e1;
$fraise-500: #f04b23;

$mango-300: #ffebb9;
$mango-500: $yellow-500;

$fig-300: #f9ecf5;
$fig-500: #c851a3;

// Investment Options
$option-balanced-index-light: $pink-500;
$option-balanced-index-core: $pink-700;
$option-balanced-index-dark: $pink-900;
$option-balanced-impact-light: $blue-300;
$option-balanced-impact-core: $blue-500;
$option-balanced-impact-dark: $blue-900;
$option-renewables-plus-growth-light: $green-300;
$option-renewables-plus-growth-core: $green-500;
$option-renewables-plus-growth-dark: $green-900;
$option-balanced-growth-pension-light: $yellow-500;
$option-balanced-growth-pension-core: $yellow-700;
$option-balanced-growth-pension-dark: $yellow-900;
