@use "colours" as *;
@use "type" as *;

// Breakpoints
$breakpoint-sm: 40rem; //640px
$breakpoint-md: 48rem; //768px
$breakpoint-lg: 80rem; //1280px

// Often-referenced spacing units
$space-section-y-sm: 6rem;
$space-section-y-md: 9rem;
$space-section-y-lg: 12rem;
$space-section-y-dynamic: $space-section-y-sm;

$space-page-padding-x-sm: 1rem;
$space-page-padding-x-md: 2rem;
$space-page-padding-x-lg: 3rem;
$space-page-padding-x-dynamic: $space-page-padding-x-sm;

$grid-gap-md: 2rem;
$grid-gap-lg: 3rem;

// TODO: Have Sass variables update depending on breakpoint
// @media (min-width: $breakpoint-md) {
//   $space-page-padding-x-dynamic: $space-page-padding-x-md !global;
//   $space-section-y-dynamic: $space-section-y-md !global;
// }
// @media (min-width: $breakpoint-lg) {
//   $space-page-padding-x-dynamic: $space-page-padding-x-lg !global;
//   $space-section-y-dynamic: $space-section-y-lg !global;
// }

// Often-referened layout styles
$border-style-colour: $grey-200;

%border-style-card {
  border: 2px solid $border-style-colour;
  background-color: $white-500;
}

// Specific component sizes that other elements also rely on
$height-acknowledgement-of-country-header: 60vh;
$height-acknowledgement-of-country-footer: 100vh;

body {
  &.mobile-menu-active {
    // Stop the page content from scrolling if the full-screen menu is open
    position: fixed;

    &.aoc-active {
      top: -$height-acknowledgement-of-country-header;
    }
  }
}

.container {
  max-width: $breakpoint-lg;
  margin-right: auto;
  margin-left: auto;
  padding: 0 $space-page-padding-x-sm;

  @media (min-width: $breakpoint-md) {
    padding: 0 $space-page-padding-x-md;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 0 $space-page-padding-x-lg;
  }

  // Blog posts and other simple pages (e.g. Terms and Conditions)
  .article-content {
    margin: 0 auto;
    max-width: $breakpoint-md;

    // Set larger font-size for p, li, etc
    > p,
    > ul,
    > ol {
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }

    img {
      margin: 3rem 0;
    }

    // Allow in-post sections to breathe
    h2 {
      margin-top: 9rem;
    }
  }
}

main > article.container {
  // Add padding to containers when used for page articles
  padding-bottom: $space-section-y-dynamic;
}

.grid {
  display: grid;
  // Small screens default = 1 column
  grid-template-columns: 1fr;
  gap: 1rem;
  > * {
    grid-column: span 1;
  }
  // Medium screens default = 2 columns (span 6 of 12)
  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    > * {
      grid-column: span 6;
    }
  }
  // Large screens default = 6 columns (span 2 of 12)
  @media (min-width: $breakpoint-md) {
    gap: $grid-gap-md;
    > * {
      grid-column: span 2;
    }
  }
  // Large screens default = 6 columns (span 2 of 12)
  @media (min-width: $breakpoint-lg) {
    gap: $grid-gap-lg;
    > * {
      grid-column: span 2;
    }
  }
}

// Extension of above grid for common text layouts
%set-grid-rythmn-text-a {
  > * {
    grid-column: span 1;

    @media (min-width: $breakpoint-sm) {
      grid-column: span 12;
    }

    @media (min-width: $breakpoint-md) {
      grid-column: span 9;
    }

    @media (min-width: $breakpoint-lg) {
      grid-column: span 6;
    }
  }
}
