@use "colours" as *;

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskBook19-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskMedium19-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskSmBold19-subset.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "SharpGrotesk", sans-serif;
  color: $black-900;
}

// Extra loud, shouty bits
.heading-zero {
  text-transform: uppercase;
  line-height: 98%;
  font-size: 6rem;
  text-align: center;
  color: $black-500;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 110%;
  margin-bottom: 1.4rem;
}

h3,
.heading-three {
  font-size: 1.17rem;
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
  a {
    color: inherit;
    &:hover {
      color: $blue-500;
    }
  }
}

$size-sm: 0.875rem; // 14px

.disclaimer {
  color: $grey-400;
  font-size: 0.75rem;
}

.bold {
  font-weight: 700;
}

.no-underline {
  text-decoration: none;
}

.text-tertiary {
  color: $grey-400;
}

.pink {
  color: $pink-700;
}

.green {
  color: $green-500;
}

.yellow {
  color: $yellow-500;
}

.red {
  color: $red-500;
}
