@use "colours" as *;
$size-sm: 0.875rem; // 14px

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskBook19-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskMedium19-subset.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskMedium19-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskSmBold19-subset.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMonoVariable.ttf") format("truetype");
  font-weight: 1 999;
  font-display: swap;
}

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: $black-900;
}

$font-default: "7vw";

// Extra loud, shouty bits
.heading-zero {
  text-transform: uppercase;
  line-height: 98%;
  text-align: center;
  color: $black-500;
  font-size: 3rem; // Fallback
  font-size: min(max(2rem, 7vw), 6rem); // Min, Variable, Max
}

h1 {
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 1.8rem;
  font-size: 2.8rem; // Fallback
  font-size: min(max(2rem, 7vw), 5rem); // Min, Variable, Max
  letter-spacing: -0.09rem; // Fallback
}

h2 {
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 1.4rem;
  font-size: 1.6rem; // Fallback
  font-size: min(max(1.5rem, 4vw), 5rem); // Min, Variable, Max
  letter-spacing: -0.04rem;
}

h3,
.heading-three {
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 1rem;
  font-size: 1rem; // Fallback
  font-size: min(max(1rem, 3vw), 1.8rem); // Min, Variable, Max
}

p {
  margin-bottom: 1rem;
  a {
    color: inherit;
    &:hover {
      color: $blue-500;
    }
  }

  &.page-header-summary {
    font-size: 2rem;
  }
}

.disclaimer {
  color: $grey-400;
  font-size: 0.75rem;
}

.bold {
  font-weight: 700;
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}

.text-tertiary {
  color: $grey-400;
}

.pink {
  color: $pink-700;
}

.green {
  color: $green-500;
}

.yellow {
  color: $yellow-500;
}

.red {
  color: $red-500;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed $black-500;

  &:hover {
    cursor: pointer;
    color: $blue-500;
    border-bottom: 1px dashed $blue-500;
  }

  .tooltip-text {
    font-family: "JetBrainsMono", monospace;
    font-weight: 600;
    letter-spacing: -1%;
    visibility: hidden;
    background-color: $black-900;
    color: $white-500;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.75rem 0.5rem;
    position: absolute;
    z-index: 1;
    width: 10rem;
    bottom: 100%;
    left: 50%;
    margin-left: -5rem;

    &::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $black-500 transparent transparent transparent;
    }
  }
  &:hover {
    .tooltip-text {
      visibility: visible;
    }
  }
}

table {
  text-align: left;

  // Add visual row gaps
  border-collapse: separate;
  border-spacing: 0 1rem;
  // Remove byproduct visual gap above and below table
  margin-top: -1rem;
  margin-bottom: -1rem;

  // Only apply horizontal padding if table has vertical headers, not horizontal
  th:only-of-type {
    padding-right: 3rem;
  }
}
