// Breakpoints
$breakpoint-sm: 40rem; //640px
$breakpoint-md: 48rem; //768px
$breakpoint-lg: 80rem; //1280px

.container {
  max-width: $breakpoint-sm;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $breakpoint-md) {
    max-width: $breakpoint-lg;
  }
}

.grid {
  display: grid;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    > div {
      grid-column: span 6;
    }
  }
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    > div {
      grid-column: span 2;
    }
  }
}
