// The main, site-wide, scss file

// Bring in global config including colours etc
@use "base" as *;

// Bring in the partials that are used widely across site (eg header, footer, join-cta)
@use "partials";

// Global styles start
body {
  .flow-content {
    background-color: $white-500;
    // Match height of below element acknowledgement-of-country (footer)
    margin-bottom: $height-acknowledgement-of-country-footer;
  }

  &.site-header-aoc-active {
    // Match height of above element acknowledgement-of-country (header)
    margin-top: $height-acknowledgement-of-country-header !important;
    box-shadow: 0 -1rem 5rem $grey-900;
  }
}
