$font-size-sm: 0.875rem; //14px

@import "colours";

h1 {
  font-weight: 900;
}

p {
  a {
    color: inherit;
    &:hover {
      color: $blue-500;
    }
  }
}

.headline-loud {
  text-transform: uppercase;
  line-height: 98%;
  font-size: 6rem;
  text-align: center;
  color: $black-500;
}

.legal {
  color: $grey-400;
}
