// BLOG LIST - PAGE-SPECIFIC STYLES

@use "../base" as *;

$transition-section-hover: opacity 250ms ease-in-out;

.post-item {
  > h2,
  > h3 {
    @media (min-width: $breakpoint-md) {
      grid-column: span 2;
      position: sticky;
      top: 0;
    }
  }

  > h2,
  > h3 {
    font-size: $font-size-xl;
    vertical-align: baseline; // TODO: have these align on $breakpoint-md  and larger
  }

  h3.month-only {
    font-size: $font-size-lg;
  }

  // Don't show month unless on $breakpoint-md or higher
  > h2.year-only,
  > h3.month-only {
    display: none;

    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }

  h2.month-and-year {
    color: $grey-400;

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    grid-row: 2;

    transition: $transition-section-hover;
    &:hover {
      opacity: 0.75;
    }

    img,
    .image-placeholder {
      height: 8rem;
      width: 100%;
      object-fit: cover;
      background-color: $grey-200;
      display: none;
    }

    .post-text {
      h4 {
        display: none;
      }

      .details {
        .author {
          color: $grey-400;
        }

        .tags {
          margin-top: 0.75rem;
          color: $grey-500;
          font-size: $font-size-xs;
        }
      }

      @media (min-width: $breakpoint-md) {
        p {
          margin: 0;
          line-height: 100%;
        }
      }
    }

    @media (min-width: $breakpoint-md) {
      grid-column: 5/13;
      grid-row: 1;

      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: $grid-gap-md;

      img,
      .image-placeholder {
        display: block;
        grid-column: span 3;
      }

      .post-text {
        grid-column: span 9;

        @media (min-width: $breakpoint-md) {
          // Span full height of area to match image
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        // Don't show month unless on breakpoint-md or higher
        h3 {
          display: none;
        }
        h4 {
          display: block;
          font-size: $font-size-lg;
        }
      }
    }

    @media (min-width: $breakpoint-lg) {
      gap: $grid-gap-lg;
    }
  }

  // Apply a bottom border to all except the last clickable element
  &:not(:last-of-type) {
    a {
      border-bottom: 1px solid $grey-300;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      @media (min-width: $breakpoint-md) {
        padding-bottom: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
}
