@use "../base" as *;

address {
  margin-top: 3rem;

  dl {
    .item {
      margin-bottom: 2rem;

      @media (min-width: $breakpoint-md) {
        grid-column: span 4;
        margin-bottom: 0;
      }

      dt {
        line-height: 100%;
      }

      dd {
        > *:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }
  }
}
