// DITHER PAGE STYLES

// This stylesheet temporarily houses styles that fit within the new
// visual identity that clash with most of the site's general styles.
// This file is called on certain pages only.

@use "../base" as *;

$img-width: 20rem;
$img-height: $img-width;
$colour-poster-text: rgba(255, 255, 255, 0.9);

// Create reusable extend for often-used crispy background
%background-crisp {
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
}

// Create mixin for the repetitive image styles
@mixin still($file-name, $background-color, $pos-y-type, $pos-y, $pos-y-md, $pos-x-type, $pos-x, $pos-x-md-type, $pos-x-md) {
  width: $img-width;
  height: $img-height;
  @if $pos-y-type == "top" {
    top: $pos-y;
  }
  @if $pos-y-type == "bottom" {
    bottom: $pos-y;
  }
  @if $pos-x-type == "left" {
    left: $pos-x;
  }
  @if $pos-x-type == "right" {
    right: $pos-x;
  }
  @media (min-width: $breakpoint-md) {
    width: $img-width * 1.5;
    height: $img-height * 1.5;
    @if $pos-y-type == "top" {
      top: $pos-y-md;
      bottom: auto;
    }
    @if $pos-y-type == "bottom" {
      top: auto;
      bottom: $pos-y-md;
    }
    @if $pos-x-md-type == "left" {
      left: $pos-x-md;
      right: auto;
    }
    @if $pos-x-md-type == "right" {
      left: auto;
      right: $pos-x-md;
    }
  }
  background-color: $background-color;

  // Begin still-specific styles that will be overridden when used within @sprite
  background-image: url("/images/cutouts/#{$file-name}-320h.png");
  background-size: $img-height $img-height;
  @media (min-width: $breakpoint-md) {
    background-image: url("/images/cutouts/#{$file-name}-480h.png");
    background-size: $img-width * 1.5 $img-height * 1.5;
  }
}

// Create additional mixin for those images that also animate
@mixin sprite($file-name, $file-width, $background-color, $pos-y-type, $pos-y, $pos-y-md, $pos-x-type, $pos-x, $pos-x-md-type, $pos-x-md, $animation-duration, $animation-steps) {
  @include still($file-name, $background-color, $pos-y-type, $pos-y, $pos-y-md, $pos-x-type, $pos-x, $pos-x-md-type, $pos-x-md);

  // Begin mixin content specific for sprites, not still images
  // Append sprite to file name
  background-image: url("/images/cutouts/#{$file-name}-sprite-320h.png");
  // $img-width is preferably pixel width / 16 for rems
  // E.g. "100rem"
  background-size: $file-width $img-height;
  animation: #{$file-name}MoveX $animation-duration steps($animation-steps) infinite;
  @media (min-width: $breakpoint-md) {
    background-image: url("/images/cutouts/#{$file-name}-sprite-480h.png");
    background-size: $file-width * 1.5 $img-height * 1.5;
    animation: #{$file-name}MoveXMd $animation-duration steps($animation-steps) infinite;
  }

  @keyframes #{$file-name}MoveX {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -$file-width;
    }
  }
  @keyframes #{$file-name}MoveXMd {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -($file-width * 1.5);
    }
  }
}

.flow-content {
  // Override body background
  background-color: $mint-300 !important; //TODO: fix cascading issues causing more specific styles to be overriden by generic ones
  position: relative; // TODO: why is this still necessary?
}

// Ensure relevant sections contain their absolutely-positioned dithered image children
.dithered-img-container,
// Ensure text stays above any parallax elements
.article-content {
  position: relative;
}

.poster {
  text-align: center;
  word-spacing: 100vw;
  margin: 0 auto 4rem;
  width: max-content;
  width: clamp(16rem, 62vw, 21rem);
  height: clamp(18rem, 48vh, 30rem);
  @media (min-width: $breakpoint-md) {
    width: clamp(16rem, 64vw, 24rem);
    height: clamp(18rem, 54vh, 40rem);
  }
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1,
  h2 {
    color: $colour-poster-text;
  }
}

.dithered-img {
  position: absolute;
  @extend %background-crisp;
}

// Override default bolded text
h1,
h2,
h3,
h4,
article header .button,
.tidbit .button {
  font-weight: normal;
}

.poster h1,
.poster h2 {
  margin-bottom: 0;
  line-height: 100%;
  text-transform: uppercase;
  font-size: clamp($font-size-48, 5vh, 5rem);
  @media (min-width: $breakpoint-md) {
    font-size: clamp($font-size-48, 9vh, 5rem);
  }
}

article header {
  margin-top: -5rem;
  padding-top: 3rem;
  padding-bottom: 6vh;

  .poster {
    background-color: $mint-300;
    width: clamp(16rem, 62vw, 28rem);
    height: clamp(22rem, 48vh, 50vh);

    @media (min-width: $breakpoint-md) {
      width: clamp(28rem, 40vw, 28rem);
      height: clamp(10rem, 56vh, 60rem);
    }

    h1 {
      margin-bottom: 0;
    }
  }
}

body > .flow-content {
  // Stop absolutely-positioned images from causing overflow-x
  // Set specifically overflow instead as overflow-x causes multiple scrollbars
  overflow: hidden;

  // Override default footer styling, just on homepage
  > footer {
    background: $white-500;
  }
}
