// EVERYTHING WE INVEST IN - PAGE-SPECIFIC STYLES

// includes colours, type and everything else in "sass > base" folder
// the "as *" is so that we can reference colours etc, without the
// namespace (ie '$grey-100' instead of 'base.$grey100')
@use "../base" as *;

.everything-we-invest-in {
  fieldset {
    display: inline-block;
    border: 0;
  }

  select {
    background-color: $grey-100;
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    color: $black-900;
    border: 1px solid $grey-500;
    outline: none;
  }
  .selectors {
    margin-bottom: $space-section-y-sm;
    @media (min-width: $breakpoint-md) {
      margin-bottom: $space-section-y-md;
    }
    @media (min-width: $breakpoint-lg) {
      margin-bottom: $space-section-y-lg;
    }
  }
  .selectors-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
  }

  .investment-card-section {
    margin-bottom: $space-section-y-sm;

    .info-at-top {
      margin-bottom: 3rem;
      align-items: center;

      select {
        background-color: $white-500;
      }
    }

    .sort-item {
      grid-column: span 6;
      @media (min-width: $breakpoint-md) {
        // grid-column: span 3;
        // uncomment above and remove below once 2nd filter good to go
        grid-column-start: 10;
        grid-column-end: 13;
      }
      display: flex;
      align-items: center;

      h5 {
        font-weight: normal;
        flex: 1;
        margin: 0;
      }

      fieldset {
        flex: 3;
        margin: 0;
        padding: 0;
      }
    }

    .as-at-date {
      margin: 1rem 0 0 0;
      line-height: 100%;
      color: $grey-500;
      grid-row: 2 / 2;
      @media (min-width: $breakpoint-md) {
        margin: 0;
        grid-row: 1 / 1;
        grid-column: 1 / 7;
      }
    }
  }

  .grid-options-weight {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 0.5rem;
    font-size: 0.8rem;
    padding: 0.6rem;
  }

  .investment-container {
    padding: 2rem;
    @extend %border-style-card;
    // Prevent titles from spilling out of container
    overflow-wrap: break-word;
    // And just in case...
    overflow: hidden;

    @media (min-width: $breakpoint-md) {
      grid-column: span 4;
    }

    @media (min-width: $breakpoint-lg) {
      grid-column: span 3;
    }

    h4 {
      margin-top: 0.5rem;
    }
  }
}
