// EVERYTHING WE INVEST IN - PAGE-SPECIFIC STYLES

// includes colours, type and everything else in "sass > base" folder
// the "as *" is so that we can reference colours etc, without the
// namespace (ie '$grey-100' instead of 'base.$grey100')
@use "../base" as *;

.everything-we-invest-in {
  .table-intro {
    margin: 4rem 0;
  }

  fieldset {
    display: inline-block;
    border: 0;
    padding: 0;
    margin-bottom: 2rem;
  }

  select {
    background-color: $white-500;
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    color: $black-900;
    border: 1px solid $grey-500;
    outline: none;
  }

  .investment-card-section {
    margin-bottom: $space-section-y-sm;

    .grid {
      font-family: $font-stack-monospace;
      padding: 1rem 0;
      border-bottom: 2px solid $grey-100;
      font-size: 0.8rem;

      :nth-child(1) {
        grid-column: span 4;
        font-weight: bold;
      }
      :nth-child(2) {
        grid-column: span 2;
      }
      :nth-child(3) {
        grid-column: span 2;
      }
      :nth-child(4) {
        grid-column: span 2;
      }
      :nth-child(5) {
        grid-column: span 2;
      }
    }

    .table-row:hover {
      background-color: $off-white-300;
      cursor: pointer;
    }

    .header-row {
      font-family: $font-stack-sans-serif;
      font-size: 1rem;
      font-weight: bold;
      border-bottom: 2px solid $grey-300;
    }
  }

  #details-overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: $off-white-500;
    border-left: 1px solid $grey-300;
    padding: 2rem;
  }
  .close-button-container {
    text-align: right;
    #join-close {
      cursor: pointer;
      svg {
        height: 3rem;
      }
    }
  }
}
