@use "../base" as *;

%background-crisp {
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
}

// Override body background
.flow-content {
  background-color: $mint-300 !important; // TODO fix @use or whatever else is blocking this for cascading properly
}

// Override site header margins
article header .button,
.tidbit .button {
  font-size: $font-size-xl;
  padding: $space-button-padding-y-md 0;
  width: 100%;
  @media (min-width: $breakpoint-sm) {
    width: inherit;
    padding: 1rem 10rem;
  }
}

article header,
.tidbit h2 {
  text-align: center;
}

// Override default bolded buttons
article header h1,
.tidbit h2,
article header .button,
.tidbit .button {
  font-weight: normal;
}

article header h1,
.tidbit h2 {
  margin: 0 auto 4rem;
  line-height: 100%;
  text-transform: uppercase;
  font-size: clamp($font-size-48, 5vh, 5rem);
  @media (min-width: $breakpoint-md) {
    font-size: clamp($font-size-48, 9vh, 5rem);
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

article header {
  margin-top: -5rem;
  padding-top: 3rem;
  padding-bottom: 6vh;

  background-color: $mint-300;
  background-image: url("/images/dithered/smoke-stack.png");
  @extend %background-crisp;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top -16rem center;

  @media (min-width: $breakpoint-md) {
    margin-top: 0;
    padding-top: 0;

    background-image: url(/images/dithered/smoke-stack.png), url(/images/dithered/smoke-stack.png);
    background-size: 32vh;
    background-position: top -4rem left 25%, top 8rem right 25%;
  }

  h1 {
    background-color: $mint-300;
    color: $mint-500;
    margin-bottom: 0;

    width: clamp(16rem, 62vw, 28rem);
    height: clamp(22rem, 48vh, 50vh);

    @media (min-width: $breakpoint-md) {
      width: clamp(28rem, 40vw, 28rem);
      height: clamp(10rem, 56vh, 60rem);
    }
  }

  .button {
    position: relative;
    top: 3rem;
  }

  p {
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    // Add optical padding
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: $line-height-125;
  }
}

.tidbit {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-repeat: no-repeat;
  // Allow for inline child images to be positioned absolutely
  position: relative;

  h2 {
    background-color: $fraise-500;
    color: rgba(255, 255, 255, 0.9);
    width: clamp(16rem, 62vw, 21rem);
    height: clamp(18rem, 48vh, 30rem);

    @media (min-width: $breakpoint-md) {
      width: clamp(16rem, 64vw, 24rem);
      height: clamp(18rem, 54vh, 40rem);
    }
  }

  .article-content {
    // Ensure text stays above any parallax elements
    position: relative;
  }

  p:not(.disclaimer) {
    text-indent: 1.75rem;
    font-size: $font-size-xl !important; // TODO: reorder CSS cascade so we don't need to use !important
    line-height: $line-height-xs !important; // TODO: reorder CSS cascade so we don't need to use !important

    @media (min-width: $breakpoint-md) {
      font-size: $font-size-40 !important;
      text-indent: 3.5rem;
    }

    span {
      font-family: $font-stack-monospace;
      font-size: $font-size-xs;
      color: $grey-700;
      vertical-align: top;
      position: relative;
      top: -2px;
    }
  }

  .sprite-container {
    position: absolute;
    width: 20rem;
    height: 20rem;
  }

  .img-container {
    position: absolute;
    width: 20rem;
    height: 20rem;
    @media (min-width: $breakpoint-md) {
      width: 30rem;
      height: 30rem;
    }

    img {
      width: 80%;
      height: 80%;
      position: absolute;
      top: 10%;
      left: 10%;
      @extend %background-crisp;
    }
  }

  aside {
    margin-top: 2rem;

    .disclaimer {
      font-family: $font-stack-monospace;
      color: $grey-500;
    }
  }

  .button {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  // Begin section-specific styling
  &.give-fossil-fuels-the-flick {
    background-color: $fraise-300;
    background-image: url("/images/dithered/barrel.png"), url("/images/dithered/smoke-stack-small-red.png"), url("/images/dithered/coal.png");
    @extend %background-crisp;
    background-position: top 75vh right 0, top 40vh right 50%, top -2rem right -2rem;
    @media (min-width: $breakpoint-md) {
      background-position: top 50vh left 20%, top 30vh right 20%, top -2rem left 30%;
    }

    #coal {
      top: -2rem;
      right: -2rem;

      @media (min-width: $breakpoint-md) {
        left: 30%;
      }

      background-color: $mango-300;
      @extend %background-crisp;
      background-image: url("/images/dithered/coal-sprite.png");
      background-size: 100rem 20rem;
      animation: moveCoalX 1000ms steps(5) infinite;
      @keyframes moveCoalX {
        from {
          background-position-x: 0;
        }
        to {
          background-position-x: -100rem;
        }
      }
    }

    h2 {
      background-color: $fraise-500;
      margin-bottom: 54vh;
      @media (min-width: $breakpoint-md) {
        margin-top: 6vh;
        margin-bottom: 24vh;
      }
    }

    .disclaimer {
      grid-column: 5/13;
    }
  }
  &.your-money-talks {
    background-color: $mango-300;
    background-image: url("/images/dithered/dollar-coin.png"), url("/images/dithered/earth.png");
    @extend %background-crisp;
    background-position: top -2vh right -5rem, top 40vh left -20%;
    @media (min-width: $breakpoint-md) {
      background-position: top 4vh right 32%, top 50vh left 28%;
    }

    h2 {
      background-color: $mango-500;
      margin-bottom: 15vh;
      @media (min-width: $breakpoint-md) {
        margin-top: 6vh;
        margin-bottom: 24vh;
      }
    }

    .button {
      color: $black-500;
      background-color: $mango-500;

      &:hover {
        color: $white-500;
        background-color: $blue-500;
      }
    }

    .disclaimer {
      grid-column: 4/13;
    }
  }
  &.join-in-a-few-taps {
    background-color: $mint-300;
    background-image: url("/images/dithered/wind-turbine.png"), url("/images/dithered/sunflower.png");
    @extend %background-crisp;
    background-position: top 2rem left -5rem, top 34vh right -6rem;
    @media (min-width: $breakpoint-md) {
      background-position: top 10vh left 32%, top 48vh right 28%;
    }

    h2 {
      background-color: $mint-500;
      margin-bottom: 10vh;
      @media (min-width: $breakpoint-md) {
        margin-top: 6vh;
        margin-bottom: 24vh;
      }
    }

    #sunflower {
      background-color: $fig-300;
      top: 34vh;
      right: -6rem;

      @media (min-width: $breakpoint-md) {
        top: 40vh;
        right: 28%;
      }
    }
  }
}

.product-review-carousel {
  padding: 8rem 0;
  color: $black-900;
  background-color: $fig-300;
  background-image: url("/images/dithered/coal.png"), url("/images/dithered/smoke-stack-small-green.png");
  @extend %background-crisp;
  background-position: top 0 left -4rem, bottom 7rem right -2rem;
  background-repeat: no-repeat;

  // For aligning footer
  position: relative;

  figure {
    padding: 2rem 2rem 6rem 2rem;
    background-color: $fig-300;

    .star-container {
      display: flex;
      margin-bottom: 2rem;

      .star {
        width: 42px;
        height: 38px;
        background-image: url("/images/dithered/starburst-sprite.png");
        @extend %background-crisp;
        animation: moveStarX 1000ms steps(7) infinite;
        &:nth-of-type(2) {
          animation-delay: 25ms;
        }
        &:nth-of-type(3) {
          animation-delay: 50ms;
        }
        &:nth-of-type(4) {
          animation-delay: 75ms;
        }
        &:nth-of-type(5) {
          animation-delay: 100ms;
        }
      }
      @keyframes moveStarX {
        from {
          background-position-x: 0px;
        }
        to {
          background-position-x: -294px;
        }
      }
    }

    blockquote {
      .review-title {
        font-size: $font-size-xl;
        @media (min-width: $breakpoint-sm) {
          font-size: $font-size-48;
        }
      }

      .review-title {
        line-height: 130%;
        margin-right: 4rem;
        // Offset open-quote
        text-indent: -0.5rem;
        @media (min-width: $breakpoint-sm) {
          margin-right: 0;
          line-height: 120%;
          text-indent: 0;
        }

        &:before {
          content: open-quote;
        }
        &:after {
          content: close-quote;
        }
      }
    }
    figcaption {
      cite {
        font-style: normal;

        a {
          color: inherit;

          &:hover {
            color: $fig-500;
          }
        }
      }
    }
  }

  .see-all-reviews {
    position: absolute;
    bottom: 1rem;

    @media (min-width: $breakpoint-sm) {
      font-size: $font-size-24;
    }

    a {
      color: inherit;

      &:hover {
        color: $fig-500;
      }
    }
  }
}

body > .flow-content {
  // Stop absolutely-positioned images from causing overflow-x
  overflow-x: hidden;

  // Override default footer styling, just on homepage
  > footer {
    background: $white-500;
  }
}
