@use "../base" as *;

.flow-content {
  background-color: $mint-300 !important; // TODO fix @use or whatever else is blocking this for cascading properly
}

article header .button,
.tidbit .button {
  font-size: $font-size-xl;
}

article header,
.tidbit h2 {
  text-align: center;
}

// Override default bolded buttons
article header h1,
.tidbit h2,
.button {
  font-weight: normal;
}

article header h1,
.tidbit h2 {
  margin: 0 auto 4rem;
  line-height: 100%;
  text-transform: uppercase;
  font-size: $font-size-48;
  display: flex;
  justify-content: center;
  align-items: center;
}

article header {
  // Bleed into site-header above
  $site-header-height-temp: 12rem; // TODO: calc height of site-header, offset by that amount
  margin-top: -$site-header-height-temp;
  padding-top: $site-header-height-temp;

  background-color: $mint-300;
  background-image: url("/images/dithered/smoke-stack.png");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: bottom $site-header-height-temp left 0px;

  padding-bottom: 6vh;

  h1 {
    background-color: $mint-300;
    color: $mint-500;

    max-width: 75vw;
    height: 48vh;
    margin-bottom: 2vh;
  }

  .button {
    position: relative;
    top: 3rem;
  }

  p {
    margin-top: 5.5rem;
    margin-bottom: 2rem;
    // Add optical padding
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.tidbit {
  padding-top: 5rem;
  background-repeat: no-repeat;

  h2 {
    background-color: $fraise-500;
    color: rgba(255, 255, 255, 0.8);
    max-width: 62vw; // TODO: clamp this or use for desktop
    height: 40vh;
  }

  p:not(.disclaimer) {
    text-indent: 1.75rem;
    font-size: $font-size-xl !important; // TODO: reorder CSS cascade so we don't need to use !important
    line-height: $line-height-xs !important; // TODO: reorder CSS cascade so we don't need to use !important

    span {
      font-family: $font-stack-monospace;
      font-size: $font-size-xs;
      color: $grey-700;
      margin-left: -5px;
      vertical-align: top;
      position: relative;
      top: -2px;
    }
  }

  aside {
    margin-top: 2rem;

    .disclaimer {
      font-family: $font-stack-monospace;
      color: $grey-700;
      grid-column: 7/13;
    }
  }

  .button {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  // Begin section-specific styling
  &.give-fossil-fuels-the-flick {
    padding-bottom: 4rem;

    background-color: $fraise-300;
    background-image: url("/images/dithered/barrel.png"), url("/images/dithered/smoke-stack-small-red.png"), url("/images/dithered/coal.png");
    background-position: top 75vh right 0, top 40vh right 50%, top -2rem right -2rem;

    h2 {
      background-color: $fraise-500;
      margin-bottom: 62vh;
    }
  }
  &.your-money-talks {
    padding-bottom: 3rem;

    background-color: $mango-300;
    background-image: url("/images/dithered/dollar-coin.png"), url("/images/dithered/earth.png");
    background-position: top -2vh right -5rem, top 40vh left -20%;

    h2 {
      background-color: $mango-500;
      margin-bottom: 23vh;
    }

    .button {
      color: $black-500;
      background-color: $mango-500;
    }
  }
  &.join-in-a-few-taps {
    background-color: $mint-300;
    background-image: url("/images/dithered/wind-turbine.png"), url("/images/dithered/sunflower.png");
    background-position: top 2rem left -3rem, top 26vh right -4rem;

    h2 {
      background-color: $mint-500;
      margin-bottom: 10vh;
    }

    .button {
      margin-bottom: 3rem;
    }
  }
}

.product-review-carousel {
  padding: 8rem 0;
  color: $black-900;
  background-color: $fig-300;
  background-image: url("/images/dithered/coal.png"), url("/images/dithered/smoke-stack-small-green.png");
  background-position: top 0 left -4rem, bottom 2rem right -2rem;
  background-repeat: no-repeat;

  // For aligning footer
  position: relative;

  figure {
    padding: 2rem 2rem 4rem 2rem;
    background-color: $fig-300;

    .stars {
      display: flex;
      margin-bottom: 2rem;
    }

    blockquote {
      .review-title {
        font-size: $font-size-xl;
        @media (min-width: $breakpoint-sm) {
          font-size: $font-size-48;
        }
      }

      .review-title {
        line-height: 130%;
        margin-right: 4rem;
        // Offset open-quote
        text-indent: -0.5rem;
        @media (min-width: $breakpoint-sm) {
          margin-right: 0;
          line-height: 120%;
          text-indent: 0;
        }

        &:before {
          content: open-quote;
        }
        &:after {
          content: close-quote;
        }
      }
    }
    figcaption {
      cite {
        font-style: normal;

        a {
          color: inherit;

          &:hover {
            color: $fig-500;
          }
        }
      }
    }
  }

  .see-all-reviews {
    position: absolute;
    bottom: 1rem;

    @media (min-width: $breakpoint-sm) {
      font-size: $font-size-24;
    }

    a {
      color: inherit;

      &:hover {
        color: $fig-500;
      }
    }
  }
}

// Override default footer styling, just on homepage
body > .flow-content > footer {
  background: $white-500;
}
