@use "../base" as *;

.flow-content {
  background-color: $mint-300 !important; // TODO fix @use or whatever else is blocking this for cascading properly
}

article header,
.tidbit h2 {
  text-align: center;
}

article header h1,
.tidbit h2 {
  margin: 0 auto;
  font-weight: normal;
  line-height: 100%;
  text-transform: uppercase;
  font-size: $font-size-48;
  display: flex;
  justify-content: center;
  align-items: center;
}

article header {
  background-color: $mint-300;
  background-image: url("/images/dithered/smoke-stack.png");
  padding-bottom: 4rem;

  h1 {
    background-color: $mint-300;
    color: $mint-500;

    max-width: 75vw;
    height: 48vh;
  }
}

.tidbit {
  padding-top: 4rem;
  h2 {
    background-color: $fraise-500;
    color: rgba(255, 255, 255, 0.8);
    max-width: 62vw; // TODO: clamp this or use for desktop
    height: 40vh;
  }

  p:not(.disclaimer) {
    text-indent: 1.75rem;
    font-size: $font-size-xl;
    line-height: $line-height-125;

    span {
      color: $grey-500;
    }
  }

  .disclaimer {
    font-family: $font-stack-monospace;
    font-size: $font-size-xs;
  }

  // Begin section-specific styling
  &.give-fossil-fuels-the-flick {
    background-color: $fraise-300;
    padding-bottom: 4rem;
    h2 {
      background-color: $fraise-500;
    }
  }
  &.your-money-talks {
    background-color: $mango-300;
    h2 {
      background-color: $mango-500;
    }

    .button {
      color: $black-500;
      background-color: $mango-500;
    }
  }
  &.join-in-a-few-taps {
    background-color: $mint-300;
    h2 {
      background-color: $mint-500;
    }
  }
}

.product-review-carousel {
  padding: 4rem 0;
  color: $black-900;
  background-color: $fig-300;

  @media (min-width: $breakpoint-sm) {
    text-align: center;
  }

  h2,
  .stars,
  .see-all-reviews {
    color: $pink-700;
  }

  h2 {
    font-size: $font-size-24;
  }

  figure {
    padding-top: $space-section-y-dynamic / 2;
    padding-bottom: $space-section-y-dynamic;

    blockquote {
      .stars,
      .review-title {
        font-size: 1.75rem;
        @media (min-width: $breakpoint-sm) {
          font-size: 3rem;
        }
      }

      .review-title {
        line-height: 130%;
        margin-right: 4rem;
        // Offset open-quote
        text-indent: -0.5rem;
        @media (min-width: $breakpoint-sm) {
          margin-right: 0;
          line-height: 120%;
          text-indent: 0;
        }

        &:before {
          content: open-quote;
          color: $pink-700;
        }
        &:after {
          content: close-quote;
          color: $pink-700;
        }
      }
    }
    figcaption {
      cite {
        font-style: normal;

        a {
          color: inherit;

          &:hover {
            color: $pink-500;
          }
        }
      }
    }
  }

  .see-all-reviews {
    @media (min-width: $breakpoint-sm) {
      font-size: $font-size-24;
    }

    a {
      color: inherit;

      &:hover {
        color: $pink-500;
      }
    }
  }

  .stars {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .overall-rating {
    color: $pink-500;

    span {
      color: $white-500;
    }
  }
}
