// HOW WE INVEST - PAGE-SPECIFIC STYLES

// Includes colours, type and everything else in "sass > base" folder
// the "as *" is so that we can reference colours etc, without the
// namespace (ie '$grey-100' instead of 'base.$grey100')
@use "../base" as *;
@use "dither-page-style" as *;

%poster-height-auto {
  height: auto;
  padding: 3rem 0.75rem;
}
%marquee-height {
  height: 4rem;
  @media (min-width: $breakpoint-md) {
    height: 5rem;
  }
}

.article-content > h2,
.article-content > h3,
.heading-two,
article header p {
  font-size: $font-size-xl;
  line-height: $line-height-xs;

  @media (min-width: $breakpoint-md) {
    font-size: $font-size-40;
  }
}

.article-content > h2,
.article-content > h3 {
  color: $mint-500;
}

.article-content h3 {
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
}

.article-content p:not(.disclaimer) {
  text-indent: 1.75rem;
}

article {
  padding-bottom: $space-section-y-sm;
}

// Set general background colours
.exclude {
  background-color: $fraise-300;
}
.neutral {
  background-color: $off-white-500;
}

// Set general button margins
.article-content .button,
.article-content .doc-or-form-item {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

// Set general marquee content
.marquee-container {
  margin: 2.5rem auto;
  height: 56vh;
  @extend %background-crisp;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: $breakpoint-md) {
    margin-bottom: 10rem;
    background-size: 28rem;
  }
  &.seek {
    background-image: url("/images/mixed/wind.jpg");
    background-color: $mint-500;
    @media (min-width: $breakpoint-md) {
      background-color: initial;
    }
  }
  &.exclude {
    background-image: url("/images/mixed/bulldozer.jpg");
    background-color: $fraise-500;
    @media (min-width: $breakpoint-md) {
      background-color: initial;
    }
  }

  .marquee {
    top: calc(50% - 2rem);
    left: -$space-page-padding-x-sm;
    width: 100vw;
    @media (min-width: $breakpoint-md) {
      top: calc(50% - 2.5rem);
      left: 0;
      width: 100%;
    }

    overflow: hidden;
    position: relative;

    @extend %marquee-height;

    &.seek {
      background-color: $mint-300;
      border-top: 1px solid $mint-500;
      border-bottom: 1px solid $mint-500;
      ul {
        animation: marquee 72s linear infinite;
        li {
          color: $mint-500;
          &::after {
            content: " ▲";
          }
        }
      }
    }
    &.exclude {
      background-color: $fraise-300;
      border-top: 1px solid $fraise-500;
      border-bottom: 1px solid $fraise-500;
      ul {
        animation: marquee 140s linear infinite;
        li {
          color: $fraise-500;
          text-decoration: line-through;
          &::after {
            content: " ▼";
          }
        }
      }
    }

    ul {
      position: absolute;
      list-style-type: none;
      margin: 0;
      @extend %marquee-height;
      display: flex;
      align-items: center;
      white-space: nowrap;

      li {
        text-transform: uppercase;
        font-size: $font-size-32;
        margin-right: 5rem;

        @media (min-width: $breakpoint-md) {
          font-size: $font-size-40;
        }
      }
    }

    @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}

// Style specific sections
article header {
  margin-top: -8rem;
  padding-top: 3rem;
  padding-bottom: 1rem;

  .earth {
    @include still("earth", $blueberry-300, "top", 6rem, 10vh, "right", -20%, "left", 46%);
  }
  .flower {
    @include sprite("flower", 100rem, $fig-300, "top", 34vh, 42vh, "left", -6rem, "right", 49%, 2000ms, 5);
  }

  .poster {
    background-color: $mint-500;
    @extend %poster-height-auto;
    margin-top: 26vh;
    margin-bottom: 30vh;
    @media (min-width: $breakpoint-md) {
      margin-top: 26vh;
    }
  }

  p {
    color: $mint-500;
  }
}

#mission,
#how-we-get-there {
  p {
    font-size: $font-size-xl;
    line-height: $line-height-xs;

    @media (min-width: $breakpoint-md) {
      font-size: $font-size-40;
      text-indent: 3.5rem;
    }
  }
}

#mission {
  margin-top: 3rem;
  margin-bottom: $space-section-y-sm;
  @media (min-width: $breakpoint-md) {
    margin-top: 5rem;
    margin-bottom: $space-section-y-md;
  }
}

#how-we-get-there {
  padding-top: 5rem;
  position: relative;

  .banana {
    @include still("banana", $blueberry-300, "top", -2rem, -2rem, "left", -5rem, "right", 48%);
  }
  .macintosh {
    @include still("macintosh", $mango-300, "top", 25vh, 34vh, "right", -5rem, "left", 44%);
    transform: scale(0.75);
  }

  .poster {
    background-color: $mint-500;
    @extend %poster-height-auto;
    margin-bottom: 24vh;
    @media (min-width: $breakpoint-md) {
      margin-bottom: 40vh;
    }
  }

  // Override colour styling for 'exclude' header
  h3:last-of-type {
    color: $fraise-500;
  }
}

#rules-for-impact-investing {
  padding-top: 3rem;
  padding-bottom: 6rem;

  @extend %background-crisp;
  background-image: url("/images/filled/solar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .poster {
    background-color: $mint-500;
    @extend %poster-height-auto;
    margin-bottom: 0;
  }

  .rules-carousel {
    font-family: $font-stack-monospace;
    font-weight: 400;
    letter-spacing: -1%;
    text-align: center;

    figure {
      padding: 2rem 3rem;
      border: 1px solid $mint-500;
      background-color: $mint-300;
      height: auto;

      h3 {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 2rem;
        color: $mint-500;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

#impact-investing {
  padding-bottom: 4rem;

  // Override marquee defaults just for this section
  .marquee-container {
    height: 75vw;
    background-size: 75vw;
    @media (min-width: $breakpoint-md) {
      height: 24rem;
      background-size: 24rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
    .marquee {
      background-color: $off-white-500;
    }
    &:nth-of-type(1) {
      background-image: url("/images/filled/solar.png");
      .marquee ul {
        animation: marquee 16s linear infinite;
      }
    }
    &:nth-of-type(2) {
      background-image: url("/images/filled/waste-management.png");
      .marquee ul {
        animation: marquee 14s linear infinite;
      }
    }
    &:nth-of-type(3) {
      background-image: url("/images/filled/speciality-housing.png");
      .marquee ul {
        animation: marquee 15s linear infinite;
      }
    }
  }
}

#how-we-exclude-investments {
  padding-top: 4rem;
  padding-bottom: 6rem;

  .coal {
    @include sprite("coal", 100rem, $mango-300, "top", -2rem, -2rem, "right", -2rem, "left", 44%, 5000ms, 5);
  }
  .smoke-stack {
    @include still("smoke-stack", $fig-300, "top", 30vh, 28vh, "left", -4em, "right", 48%);
    transform: scale(0.75);
  }

  .poster {
    background-color: $fraise-500;
    @extend %poster-height-auto;
    hyphens: auto;
    margin-bottom: 20vh;
    @media (min-width: $breakpoint-md) {
      margin-bottom: 18vh;
    }
  }

  .perma-tooltip-container,
  .screens-container {
    max-width: $breakpoint-sm;
    margin: 0 auto;
  }

  .perma-tooltip-container {
    position: relative;
    &.active {
      display: none;
    }

    .perma-tooltip {
      top: 0.5rem;
      left: -0.5rem;
      width: 13rem;
      @media (min-width: $breakpoint-sm) {
        top: 3rem;
        left: -1.5rem;
        width: auto;
      }
      @media (min-width: $breakpoint-md) {
        top: 0.25rem;
        left: auto;
        right: -1.5rem;
        width: auto;
      }

      &#swipe-instructions {
        @media (min-width: $breakpoint-md) {
          display: none;
        }
      }
      &#tap-instructions {
        display: none;
        @media (min-width: $breakpoint-md) {
          display: inherit;
        }
      }
    }
  }

  .screens-container {
    font-family: $font-stack-monospace;
    font-weight: 400;
    letter-spacing: -1%;

    background-color: $white-500;
    border: 1px solid $red-500;

    max-width: $breakpoint-sm;
    margin: 3rem auto;

    // Style for expander button
    position: relative;
    overflow: hidden;
    transition: max-height 1000ms ease;

    max-height: 64vh;
    @media (min-width: $breakpoint-md) {
      max-height: 72vh;
    }

    // Set to a finite number to enable transition
    &.active {
      max-height: 300vh;
    }

    // Prevent iOS Safari from causing flicker on max-height transitions
    -webkit-transform: translate3d(0, 0, 0);

    .screens {
      padding: 1.5rem;
      @media (min-width: $breakpoint-md) {
        padding: 2rem;
      }

      .scroll-buttons {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.5rem;
        @media (min-width: $breakpoint-md) {
          display: none;
        }

        button {
          width: 2.5rem;
          height: 2.5rem;
          padding: 0;
          background: inherit;
          &:hover {
            background: $red-100;
          }

          svg {
            width: 1.5rem;
            height: 1.5rem;
            // Offset to visually sit in middle
            margin-top: 0.5rem;

            .fill-target {
              fill: $grey-300;
            }
          }

          &.active {
            svg {
              .fill-target {
                fill: $red-500;
              }
            }
          }
        }
      }

      .buttons-container {
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
        @media (min-width: $breakpoint-md) {
          overflow-x: inherit;
          flex-wrap: wrap;
          margin-right: 0;
        }

        input {
          position: absolute;
          top: 0;
          left: 0;
          visibility: hidden;
          pointer-events: none;

          &:checked + label {
            background-color: $red-700;
            color: $white-500;
            border-color: $red-700;
          }
        }

        label {
          font-size: $font-size-sm;
          cursor: pointer;
          padding: 0.75rem 1rem;
          // Give all a right-side margin
          &:not(:last-of-type) {
            margin-right: 0.25rem;
          }
          color: $red-700;
          border: 1px solid $red-200;
          background-color: $white-500;
          transition: all 200ms ease;
          flex-shrink: 0;
          text-align: center;
          @media (min-width: $breakpoint-md) {
            font-size: 1rem;
            margin: 0.25rem;
            flex-grow: 1;
          }

          &:hover {
            background-color: $red-200;
            border-color: $red-500;
          }
        }
      }

      .criteria-container {
        display: none;
        &.active {
          display: inherit;
        }

        .criteria-intro {
          text-align: center;
          margin-top: 2rem;
          margin-bottom: 1.5rem;
          @media (min-width: $breakpoint-md) {
            margin-top: 3rem;
            margin-bottom: 2rem;
          }

          h3 {
            color: $red-500;
            font-size: $font-size-xl;
            margin-bottom: 0.25rem;
          }

          p {
            color: $red-900;
            font-size: $font-size-xs;
            // Set optical padding to prevent awkward line breaks
            padding: 0 2rem;
            @media (min-width: $breakpoint-sm) {
              padding: 0;
            }
          }
        }

        .criteria-item {
          &:not(:last-of-type) {
            margin-bottom: 1.5rem;
          }
          padding: 1.5rem;
          @media (min-width: $breakpoint-md) {
            padding: 2rem;
          }
          background: $red-200;
          color: $red-900;

          font-size: $font-size-sm;
          @media (min-width: $breakpoint-md) {
            font-size: 1rem;
          }

          .examples-intro {
            margin-top: 2rem;
            margin-bottom: 0.5rem;
            color: $red-500;
          }

          .examples-intro,
          ul li {
            font-size: $font-size-xs;
          }

          ul li {
            margin-bottom: 0.25rem;
            &::before {
              content: "❌";
              margin-right: 1em;
            }

            a {
              color: $red-700;

              &:hover {
                color: $red-500;
              }
            }
          }
        }

        .disclaimer {
          margin-top: 2rem;
        }
      }
    }

    .expander {
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: $white-500;
      color: $red-900;
      &:hover {
        background-color: $red-200;
      }

      box-shadow: 0 -2rem 2rem $white-500;
      // One-sided border as to not clash with parent container border
      border-top: 1px solid $red-500;

      &.active {
        display: none;
      }
    }
  }
}

#everything-we-invest-in {
  padding-top: 5rem;
  padding-bottom: 3rem;

  .tv {
    @include still("tv", $mango-300, "top", -3rem, -3rem, "left", -5rem, "right", 44%);
  }
  .fifty-cents {
    @include still("fifty-cents", $fig-300, "top", 32vh, 28vh, "right", -5rem, "left", 44%);
    transform: scale(0.75);
  }

  .poster {
    background-color: $mint-500;
    @extend %poster-height-auto;
    margin-bottom: 18vh;
  }
}

#our-voting-record {
  margin-top: 3rem;
  padding-top: 6rem;
  padding-bottom: 3rem;

  .telephone {
    @include still("telephone", $mango-300, "top", 0, 0, "right", -5rem, "left", 44%);
    transform: scale(0.75);
    transform-origin: center right;
  }
  .megaphone {
    @include still("megaphone", $blueberry-300, "top", 22vh, 20vh, "left", -2rem, "right", 42%);
  }

  .poster {
    background-color: $mint-500;
    @extend %poster-height-auto;
    margin-bottom: 19vh;
    @media (min-width: $breakpoint-md) {
      margin-bottom: 32vh;
    }
  }
}

//
// Being old styles

// Fade in-and-outs of criteria
// #criteria-item,
// #selected-screen-title,
// .screen-icon {
//   opacity: 0;
//   transition: opacity 250ms ease-in-out;

//   &.is-visible {
//     opacity: 1;
//   }
// }

// .scroll-buttons {
//   @media (min-width: 720px) {
//     display: none;
//   }
// }

// Other old styles

// Form radio buttons
// #screens-form {
//   display: flex;
//   flex-wrap: wrap;
//   font-family: "JetBrains Mono";
//   font-size: 0.875rem;
//   margin-top: -0.25rem;
//   margin-left: -0.25rem;
//   // Mobile-specific item behaviour
//   overflow-x: scroll;
//   flex-wrap: nowrap;
//   // Tablet/desktop-specific item behaviour
//   @media (min-width: 720px) {
//     flex-wrap: wrap;
//   }

//
// }
