// HOW WE INVEST - PAGE-SPECIFIC STYLES

// Includes colours, type and everything else in "sass > base" folder
// the "as *" is so that we can reference colours etc, without the
// namespace (ie '$grey-100' instead of 'base.$grey100')
@use "../base" as *;

.investment-options {
  background-color: $white-500;
  padding: 4rem 0 12rem;

  h1 {
    padding: 3rem 0;
  }

  .grid {
    gap: 3rem;
    margin-bottom: 6rem;
    > .optionCard {
      @media (min-width: $breakpoint-sm) {
        grid-column: span 12;
      }
      @media (min-width: $breakpoint-lg) {
        grid-column: span 4;
      }
    }
  }

  .optionCard {
    padding: 3rem;
    border: 2px solid $grey-200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div {
      display: flex;
      flex-direction: column;
      text-align: center;

      img {
        margin-bottom: 1rem;
      }
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 700;
    }

    button {
      font-weight: 400;
      color: $white-500;
      margin-top: 1rem;
    }

    &:first-of-type {
      h2,
      p {
        color: $pink-900;
      }
      button {
        background-color: $pink-700;
      }
    }
    &:nth-of-type(2) {
      h2,
      p {
        color: $blue-900;
      }
      button {
        background-color: $blue-500;
      }
    }
    &:last-of-type {
      h2,
      p {
        color: $green-900;
      }
      button {
        background-color: $green-500;
      }
    }
  }

  section {
    .grid-container {
      width: 100%;
      overflow-x: scroll;

      .details-grid {
        padding: 6rem 0;
        display: grid;
        grid-template-columns: repeat(12, auto);
        gap: 1rem;

        > * {
          grid-column: span 2;
        }

        // Medium screens default = 2 columns (span 6 of 12)
        @media (min-width: $breakpoint-sm) {
          gap: 1.5rem;
        }
        // Large screens default = 6 columns (span 2 of 12)
        @media (min-width: $breakpoint-md) {
          gap: 2rem;
        }

        h3,
        h5 {
          grid-column: span 6;
        }

        p {
          font-family: "JetBrainsMono", monospace;
        }
      }
    }
  }
}
