<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    {% if pageStyles %}
      {% for styles in pageStyles %}
        {% set css %}
        {% include styles %}
        {% endset %}
        <style>
          {{css | cssmin | safe}}
        </style>
      {% endfor %}
    {% endif %}
  </head>

  <body>
    <div class="content">
      {% include "partials/site-header.html" %}
      <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
      </main>
      {% include "partials/site-footer.html" %}
    </div>
    {% include "partials/acknowledgement-of-country-footer.html" %}

    {# Add global script #}
    {% set globaljs %}
    {% include "scripts/global.js" %}
    {% endset %}
    <script>
      {{ globaljs | jsmin | safe }}
    </script>

    {% if pageScripts %}
      {% for script in pageScripts %}
        {% set js %}
        {% include script %}
        {% endset %}
        <script>
          {{ js | jsmin | safe }}
        </script>
      {% endfor %}
    {% endif %}
  </body>

</html>