{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% set careerSummaryBlock %}
<div class="career-summary">
  <dl>
    <dt>Salary</dt>
    <dd>{{ salary }}</dd>
    <dt>Location</dt>
    <dd>{{ location }}</dd>
    <dt>Closes</dt>
    <dd>{{ endDate | dateFilter }}</dd>
  </dl>
  <a class="button primary" href="{{ applicationUrl }}" target="_blank" rel="noopener noreferrer"">Apply for this role</a>
</div>
{% endset %}

{% block content %}

<article class=" container">
    <p class="breadcrumb center">
      <a href="/work-with-us">Work With Us</a>
      /
    </p>

    {% include "partials/page-header.html" %}

    <div class="article-content">
      {{ careerSummaryBlock | safe }}

      {{ content | safe }}

      {{ careerSummaryBlock | safe }}
    </div>

    </article>

    {% include "partials/also-see.html" %}

    {% endblock %}