{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

{# Define reusable macro for row icon #}
{% macro rowIcon() %}
<div class="icon">
  <a href="{{ item.data.slug }}" target="_blank" rel="noopener noreferrer">
    {% if item.data.type === "Online" %}
    {{ "/src/images/icons/globe.svg" | svgContents("fill-light") | safe }}
    {% else %}
    {{ "/src/images/icons/download.svg" | svgContents("fill-light") | safe }}
    {% endif %}
  </a>
</div>
{% endmacro %}

{% macro rowRichText() %}
<div class="icon">
  <a href="{{ item.data.slug }}" target="_blank" rel="noopener noreferrer">
    {% if item.data.type === "Online" %}
    {{ "/src/images/icons/globe.svg" | svgContents("fill-light") | safe }}
    {% else %}
    {{ "/src/images/icons/download.svg" | svgContents("fill-light") | safe }}
    {% endif %}
  </a>
</div>
<div class="text">
  <h2>
    <a href="{{ item.data.url }}" target="_blank" rel="noopener noreferrer">{{ item.data.title
      }}</a>
  </h2>

  {{ item.templateContent | safe }}
</div>
{% endmacro %}


<article class="container">

  {% include "partials/page-header.html" %}

  <div class="article-content">
    <section>
      <h2>Super fund documents</h2>

      <ul class="plain forms-and-docs">
        {% for item in collections.fundDocumentsAndForms %}
        <li>
          {% include "partials/documents-and-forms/rich-text.html" %}
        </li>
        {% endfor %}
      </ul>

      <p class="text-tertiary disclaimer">
        * On 1 April 2020, the way that opt-out (sometimes called default) insurance cover is provided through super is
        changing. The change is being made to address situations where individuals’ super account balances are being
        eroded by insurance fees charged for cover that they don’t know they have, that they don’t want, or that is
        unsuitable for their situation. The good news is that at Future Super, we only offer opt-in (voluntary)
        insurance.
        This means that it’s your choice to sign up and pay for the type and amount of insurance cover that you want. It
        also means that the majority of our members won’t be impacted by these changes. However, if you did take out
        insurance cover through Future Super between 1 November 2019 and 18 March 2020 and have an account balance below
        $6,000.00, please look out for some separate correspondence from us asking you to make a one-off election to
        maintain your insurance cover.
      </p>
      <p class="text-tertiary disclaimer">
        ** As at the 2nd December 2019, the 60 day opt-in window will only apply to new members on the first occasion
        that
        they join Future Super. You can still apply for voluntary cover, if your 60 days has lapsed, subject to
        eligibility. Please call us on 1300 658 422 for further information.Our insurance coverage has not changed
        because
        of COVID-19. Where a claim is made because of COVID-19, we will carefully assess these against the terms of the
        relevant policy to ensure our members receive the right decision promptly. As Future Super only offers opt-in
        insurance, insurance will continue so long as the account has enough funds to cover monthly premiums. When a
        member makes a full withdrawal or the balance drops below the cost of monthly premiums, the policy will be
        switched off. Special consideration may be given to members wishing to reinstate their policy after a COVID
        early
        release payment by the insurer. For more information on insurance with Future Super, <a href="/contact-us">
          contact us</a>.
      </p>
    </section>

    <section>
      <h2>Forms for individuals</h2>
      <p>Forms you will need to become a member of Future Super, as well as forms regarding rollovers, withdrawals,
        insurance and other transactions with the fund.</p>
      <ul class="plain forms-and-docs">
        {% for item in collections.individualsDocumentsAndForms %}
        <li>
          {% include "partials/documents-and-forms/rich-text.html" %}
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Forms for employers</h2>
      <p>Please visit our <a href="/employers">Employers page</a> to find the details and forms required to register as
        an employer and make employer contributions.</p>
    </section>

    <section>
      <h2>Fund annual reports</h2>
      <ul class="plain forms-and-docs">
        {% for item in annualReports %}
        <li>
          <div class="icon">
            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
              {{ "/src/images/icons/download.svg" | svgContents("fill-light") | safe }}
            </a>
          </div>
          <div class="text">
            <h2>
              <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.year }} {% if item.title %}{{
                item.title
                }}{% else %} Fund Annual Report{% endif %}</a>
            </h2>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Pension plan documents</h2>
      <ul class="plain forms-and-docs">
        {% for item in collections.pensionDocuments %}
        <li>
          {% include "partials/documents-and-forms/rich-text.html" %}
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Pension plan forms</h2>
      <p>Forms you will need to become a member of the Future Super Pension Plan, as well as forms regarding
        withdrawals, beneficiaries, advisers and other transactions relating to your account.</p>
      <ul class="plain forms-and-docs">
        {% for item in collections.pensionForms %}
        <li>
          {% include "partials/documents-and-forms/rich-text.html" %}
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Impact reports</h2>

      <ul class="plain forms-and-docs">
        {% for item in impactReports %}
        <li>
          <div class="icon">
            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
              {{ "/src/images/icons/download.svg" | svgContents("fill-light") | safe }}
            </a>
          </div>
          <div class="text">
            <h2>
              <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.year }} Impact Report</a>
            </h2>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>

  </div>
</article>

{% include "partials/also-see.html" %}

{% endblock %}