{% extends "layouts/base.html" %}

{% block content %}
  <div class="home">
    <div class="hero-section">
      <h1 class="heading-zero">Switch your super.<br>Shake the system.</h1>
      <p>Your super has the power to combat climate change. Let’s put it to&nbsp;work.</p>
      <a href="{{ site.joinurl }}" class="button primary">Join Now</a>
    </div>

    <section>
      <div>
        <h2>Give fossil fuels the&nbsp;flick</h2>
        <p>Each time just 34 people switch, that’s another million dollars out of super exposed to the fossil fuel&nbsp;industry^.</p>
        <aside>
          <p class="disclaimer">
            ^Assumes average balance of $30,000, and that super has been moved from a Fund that invests in fossil&nbsp;fuels.
          </p>
        </aside>
      </div>
      <img src="{% src 'coal-flick.png', 502 %}" alt="A hand flicking a piece of coal" loading="lazy">
    </section>

    <section>
      <div>
        <h2>Your money&nbsp;talks</h2>
        <p>Changing the future is simple when you understand your power over the systems around&nbsp;you.</p>
        <p>Only 7.7% of super could fund Australia's transition to 100% clean&nbsp;energy*.</p>
        <p>Future Super helps move your super out of fossil fuels and into climate solutions to make that vision for your future a&nbsp;reality.</p>
        <p class="featured-link">
          <a href="/how-we-invest" class="no-underline bold pink">See how we invest →</a>
        </p>
        <aside>
          <p class="disclaimer">
            <a href="https://www.uts.edu.au/sites/default/files/article/downloads/teske_et_al_2018_supercharging_australia’s_clean_energy_transition_0.pdf" target="_blank" rel="noopener noreferrer">
              * Supercharging Australia's Clean Energy Transition
            </a>
            <br/>UTS: Institute For Sustainable Futures,&nbsp;2018
          </p>
        </aside>
      </div>
      <img src="{% src 'queen-megaphone.png', 464 %}" alt="A collage of the queen and a megaphone" loading="lazy">
    </section>

    <section>
      <div>
        <h2>Join in just a few&nbsp;minutes</h2>
        <p>It only takes 5 minutes to switch to super you can&nbsp;believe&nbsp;in.</p>
        <a href="{{ site.joinurl }}" class="no-underline bold green">Make the switch →</a>
      </div>
      <div class="image">
        <picture>
          <source media="(max-width: 599px)" srcset="{% src 'phone-tap.png', 205 %}">
          <source media="(min-width: 600px)" srcset="{% src 'mouse-click-wind.png', 498 %}">
          <img src="{% src 'phone-tap', 205 %}" alt="A finger tapping a mobile phone">
        </picture>
      </div>
    </section>

  </div>

  {% include "partials/join-cta.html" %}

{% endblock %}