{% extends "layouts/base.html" %} {% block content %}
<div class="home container">
  <div class="hero-section" style="margin: 0">
    <h1 style="text-transform: uppercase">
      The super fund that’s doing something about climate change
    </h1>
    <p>
      We help your super investments combat climate change and protect your
      future by being<br />
      <span class="bold"
        >Fossil fuel free · Invested in climate solutions · 100%
        transparent</span
      >
    </p>
    <a href="{{ site.joinUrl }}" class="button primary">Join Now</a>
  </div>

  <section>
    <div>
      <h2>
        The future isn’t only measured in dollars. It’s measured in celsius.
      </h2>
      <p>
        We have a record of competitive super returns, but that’s not enough
        when climate change threatens the financial and actual future of
        millions of people. We care about what kind of world your investments
        deliver.
      </p>
      <p>
        We protect you from the risks that climate change poses to your
        retirement by screening out harmful activity from your investments,
        voting on the issues of today, and investing in the climate solutions of
        tomorrow. That means renewables over fossil fuels, responsibility over a
        quick buck and the future over now.
      </p>
      <p>
        Past performance is not a reliable indicator of future performance, but
        you can still check out our history with one simple click.
      </p>
    </div>
    <img
      src="{% src 'dollarsCelsuis.png', 502 %}"
      alt="A thermometer and money"
      loading="lazy"
    />
  </section>

  <section>
    <div style="display: flex; flex-direction: column; align-items: center">
      <h3 class="pink" style="text-align: center">RESULTS</h2>
      <img
        src="{% src 'numberone.png', 300 %}"
        style="max-width: 300px"
        alt="A number one and a trophy"
        loading="lazy"
      />
      <h3 style="text-align: center">Future Super Balanced Impact was #1 in FY 2019-20^</h2>
      <aside>
        <p class="disclaimer" style="text-align: center">
          ^ Superratings Fund Crediting Survey - Balanced (60-79) 2020. Past
          performance is no guarantee of future returns.
        </p>
      </aside>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <h3 class="green" style="text-align: center">SUSTAINABILITY</h2>
      <img
        src="{% src 'bcorp2.png', 300 %}"
        style="max-width: 300px"
        alt="An image of the earth and a bcorp logo"
        loading="lazy"
      />
      <h3 style="text-align: center">Future Super is a Best In The World B&nbsp;Corp&nbsp;2021</h2>
    </div>
  </section>

  <section>
    <div>
      <h2>Switch your super. Shake the system.</h2>
      <p>
        An electric bike. An eco-friendly diet. Shopping local and dressing
        ethically. Let’s face it - being a good human is hard and doesn’t always
        make the change you want it to.
      </p>
      <p>
        But where your super gets invested is an easy choice that can benefit
        you while creating real systems change. Your switch can mean the
        creation of new renewables instead of new coal. Here’s how investing
        with Future Super can compare with other actions you might take.
      </p>
    </div>
    <img
      src="{% src 'data-vis2.png', 464 %}"
      alt="A graph comparing carbon emissions"
      loading="lazy"
    />
  </section>

  <section style="grid-template-columns: 100%">
    <div>
      <h2>Three ways for your super to have an impact</h2>
      <div class="grid">
        <div style="grid-column: span 4">
          <p style="display: inline; background-color: #f3d8ec; padding: 2px">
            LOWEST FEES
          </p>
          <p class="bold" style="margin: 8px 0 0 0; font-size: 1.2rem">
            Balanced Index
          </p>
          <p>The simplest ethical option. Screening but no impact goals.</p>
          <a href="/investment-options">Learn More</a>
        </div>
        <div style="grid-column: span 4">
          <p style="display: inline; background-color: #a3c1ff; padding: 2px">
            SOCIAL IMPACT INVESTMENTS
          </p>
          <p class="bold" style="margin: 8px 0 0 0; font-size: 1.2rem">
            Balanced Impact
          </p>
          <p>An ethical option with social and environmental impact goals.</p>
          <a href="/investment-options">Learn More</a>
        </div>
        <div style="grid-column: span 4">
          <p style="display: inline; background-color: #97ddab; padding: 2px">
            MOST RENEWABLES INVESTMENTS
          </p>
          <p class="bold" style="margin: 8px 0 0 0; font-size: 1.2rem">
            Renewables Plus Growth
          </p>
          <p>An ethical option with environmental impact goals.</p>
          <a href="/investment-options">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
      <h2>
        We don’t solve climate change.<br />
        We invest in the companies who will.
      </h2>
      <p>
        Just 7.7% of superannuation could fund Australia’s transition to 100%
        renewable energy<sup>1</sup>. Right now, more money than that is already
        invested in fossil fuels by the super industry.
      </p>
      <p>
        We make it easy for you to be part of the solution by investing in
        solar, wind, infrastructure and more. Not all your super will invest in
        direct climate solutions - but your money will be in low carbon
        portfolios made up of companies genuinely committed to a sustainable
        future.
      </p>
      <p>
        Investing your super in a climate conscious fund like Future Super isn’t
        just an ethical choice. It’s boarding the future at the first stop. So
        when the world pays the price of climate recovery - it will be into your
        pocket.
      </p>
      <p class="featured-link">
        <a href="/how-we-invest" class="no-underline bold blue"
          >Learn more about how we invest →</a
        >
      </p>
      <aside>
        <p class="disclaimer">
          <sup>1</sup>
          <a
            href="https://www.uts.edu.au/research-and-teaching/our-research/institute-sustainable-futures/our-research/energy-and-climate/supercharging-clean-energy"
            >Supercharging Australia's Clean Energy Transition</a
          >
          UTS: Institute For Sustainable Futures, 2018
        </p>
      </aside>
    </div>
    <img
      src="{% src 'just7percent2.png', 464 %}"
      alt="A graph showeing 7 percent"
      loading="lazy"
    />
  </section>

  <section>
    <div>
      <h2>Join in just a few minutes</h2>
      <p>
        The average time taken to complete the switch to Future Super is
        currently:
      </p>
      <p>
        <span class="bold"> 6 mins 39 seconds</span>
      </p>
      <a href="{{ site.joinUrl }}" class="no-underline bold green"
        >Make the switch →</a
      >
    </div>
    <div class="image">
      <picture>
        <source
          media="(max-width: 599px)"
          srcset="{% src 'phone-tap.png', 205 %}"
        />
        <source
          media="(min-width: 600px)"
          srcset="{% src 'mouse-click-wind.png', 498 %}"
        />
        <img
          src="{% src 'phone-tap', 205 %}"
          alt="A finger tapping a mobile phone"
        />
      </picture>
    </div>
  </section>
</div>

{% include "partials/product-review-carousel.html" %}

<div class="home container">
  <section>
    <div>
      <h2>Clear. Transparent. Open Source.</h2>
      <p>
        If you have a question about your super, we have the answer easily
        available and easy to understand.
      </p>
    </div>
    <div>
      <div style="border: 1px solid black; padding: 1rem; margin-bottom: 1rem">
        <p>
          Want to know how our investment strategy impacts your carbon
          emissions? Browse the Carbon Transparency Report.
        </p>
        <p>
          <a href="/ImpactReport2019" class="no-underline bold red"
            >Browse our latest impact report →</a
          >
        </p>
      </div>
      <div style="border: 1px solid black; padding: 1rem; margin-bottom: 1rem">
        <p>
          Want to know everything that Future Super invests in, how much money
          we allocate to each company, and which investments go in which
          options?
        </p>
        <p>
          <a href="/everything-we-invest-in" class="no-underline bold pink"
            >Check out everything we invest in →</a
          >
        </p>
      </div>
      <div style="border: 1px solid black; padding: 1rem">
        <p>
          Want to know how each of our screens works, including tolerance and
          how we define things like “fossil fuels”?
        </p>
        <p>
          <a href="/how-we-invest" class="no-underline bold green"
            >Understand our screens →</a
          >
        </p>
      </div>
    </div>
  </section>
</div>
<aside class="join-cta">
  <div class="container">
    <h2>Join now for climate conscious super</h2>
    <a href="{{ site.joinUrl }}" class="button primary">Join Future Super</a>
  </div>
</aside>
{% endblock %}
