{% extends "layouts/base.html" %}

{% block content %}

<article>
  <header>
    <div class="container">
      <div class="poster rellax" data-rellax-xs-speed="2" data-rellax-mobile-speed="3" data-rellax-tablet-speed="5"
        data-rellax-desktop-speed="7">
        <h1>Switch your super. Shake the system</h1>
      </div>
      <div class="article-content">
        <a href="{{ site.joinUrl }}" class="button primary">Join Now</a>
        <p>
          Your super has the power to combat climate change.<br>
          Let’s put it to work.
        </p>
      </div>
    </div>
  </header>

  <section id="give-fossil-fuels-the-flick" class="tidbit dithered-img-container">
    <div class="coal dithered-img rellax"></div>
    <div class="smoke-stack dithered-img"></div>
    <div class="barrel dithered-img rellax"></div>
    <div class="container">
      <div class="poster rellax" data-rellax-xs-speed="2" data-rellax-mobile-speed="3" data-rellax-tablet-speed="5"
        data-rellax-desktop-speed="7">
        <h2>Give fossil fuels the flick</h2>
      </div>
      <div class="article-content">
        <p>Each time just 34 people switch, that’s another million dollars out of super exposed to the fossil fuel
          industry<span>^</span>.</p>
        <aside class="grid">
          <p class="disclaimer">^&thinsp;Assumes average balance of $30,000, and that super has been moved from a Fund
            that
            invests in fossil fuels.</p>
        </aside>
      </div>
    </div>
  </section>

  <section id="your-money-talks" class="tidbit dithered-img-container">
    <div class="coin dithered-img rellax"></div>
    <div class="earth dithered-img"></div>
    <div class="container">
      <div class="poster rellax" data-rellax-xs-speed="2" data-rellax-mobile-speed="3" data-rellax-tablet-speed="5"
        data-rellax-desktop-speed="7">
        <h2>Your money talks</h2>
      </div>
      <div class="article-content">
        <p>Changing the future is simple when you understand your power over the systems around you.</p>
        <p>Only 7.7% of super could fund Australia's transition to 100% clean energy<span>*</span>.</p>
        <p>Future Super helps move your super out of fossil fuels and into climate solutions to make that vision for
          your future a reality.</p>
        <a href="/how-we-invest" class="button ">See how we invest</a>
        <aside class="grid">
          <p class="disclaimer">
            *&thinsp;<a
              href="https://www.uts.edu.au/sites/default/files/article/downloads/teske_et_al_2018_supercharging_australia’s_clean_energy_transition_0.pdf"
              target="_blank" rel="noopener noreferrer">Supercharging Australia's Clean Energy Transition</a>, UTS:
            Institute For Sustainable
            Futures, 2018
          </p>
        </aside>
      </div>
    </div>
  </section>

  <section id="join-in-a-few-taps" class="tidbit dithered-img-container">
    <div class="wind dithered-img"></div>
    <div class="flower dithered-img rellax"></div>
    <div class="container">
      <div class="poster rellax" data-rellax-xs-speed="2" data-rellax-mobile-speed="3" data-rellax-tablet-speed="5"
        data-rellax-desktop-speed="7">
        <h2>Join in a few taps</h2>
      </div>
      <div class="article-content">
        <p>Join in just a few easy steps for super you can believe in.</p>
        <a href="{{ site.joinUrl }}" class="button primary" target="_blank" rel="noopener noreferrer">Make
          the
          switch</a>
      </div>
    </div>
  </section>
</article>

{% include "partials/product-review-carousel2.html" %}

{% endblock %}