{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}

<style>
  @media (min-width: 40rem) {
    .heading-cols {
      grid-column: span 6;
    }
  }
  @media (min-width: 80rem) {
    h2 {
      font-size: 3rem;
      margin: 0;
      padding: 0;
    }
  }
</style>

<article class="container">
  <div class="grid" style="margin-bottom: 6rem">
    <h2 class="heading-cols">
      Looks like you’ve been chatting to your friend
      <span id="friend-name"></span>about Future Super?
    </h2>
    <p class="heading-cols">
      You may have only just heard of Future Super for the first time, so here
      are some common questions people ask about us when they’re thinking about
      switching their super, or just trying to get their head around what we do.
    </p>
  </div>

  <div class="article-content">
    <section>
      <details>
        <summary>What are the returns like?</summary>
        <div class="contents">
          <p>
            Ok let’s get this out of the way. Past performance is not an
            indicator of future performance. We can’t see the future. If we
            could, we probably wouldn’t need to invest to save it.
          </p>
          <p>
            But to date our returns have been pretty good.
            <a
              href="https://www.futuresuper.com.au/blog/five-years-of-future-super/"
            >
              We’ve had some standout years, like 2019-20 when we outperformed
              almost every balanced super fund in Australia^ </a
            >. But we’re also realists. Any super owner should expect their fund
            to have positive and negative returns over time. Why? Markets go up
            and down all the time and no one is immune to that.
            <a href="https://www.myfuturesuper.com.au/performance-and-returns/">
              If you want to see our returns in detail, here’s a handy link.
            </a>
          </p>
          <p class="disclaimer">
            ^ Based on data obtained from ‘SuperRatings Fund Crediting Rate
            Survey - Balanced (60-76)’ over 12 months to 30 June 2020.
          </p>
        </div>
      </details>
      <details>
        <summary>What are the fees like?</summary>
        <div class="contents">
          <p>
            Let’s talk about fees! There are two main types of fees for super -
            investment and administration. The administration fee is a fixed $60
            per year for all our options. If your balance is less than $6000,
            you won’t have to pay this one.
          </p>
          <p>
            Our investment fees vary depending on the option you choose. The
            Balanced Index option is low cost for more fee conscious customers
            at 0.87%. Our Balanced Impact and Renewables Plus Growth options
            have higher fees (1.47% and 1.48% respectively).
          </p>
          <p>
            So what sort of extra value are you getting for that? Each of those
            options targets specific types of investments in line with its
            Investment Strategy, which means we have to find and include
            additional types of investments that create climate solutions (e.g.
            solar and wind technology) or social improvement (e.g. disability
            housing). So not only are there more investments than the low fee
            option, they’re even more focussed our mission to create a future
            free from climate change and inequality.
          </p>
          <p>
            You can definitely find funds with lower fees, but we’re confident
            they won’t be anywhere near as ethical or impactful as Future Super.
          </p>
        </div>
      </details>
      <details>
        <summary>What does super have to do with the climate?</summary>
        <div class="contents">
          <p>
            Quite a bit actually. We often hear people say that reducing your
            personal impact doesn’t matter because big businesses are the ones
            driving climate change and polluting the planet. The thing is, those
            people often don’t realise that their super is invested in a lot of
            those companies. But if all of Australia’s super was invested with
            Future Super’s ethical screens, here’s what happens: the
            <strong>entire world</strong> would be halfway to the carbon
            reduction target set out in the Paris Agreement to keep warming
            below 1.5-2 degrees (1-2bn tC02e per year)^.
          </p>
          <p>
            That’s the power of superannuation. It’s one of the world’s largest
            privately owned wealth resources and it’s literally in your hands.
          </p>
          <p class="disclaimer">
            ^ You can read more in
            <a
              href="https://content.myfuturesuper.com.au/forms-docs/FS-Carbon-Transparency-Report-2020.pdf"
            >
              Future Super’s 2020 Carbon Transparency Report
            </a>
          </p>
        </div>
      </details>
      <details>
        <summary>
          Will I lose money or make less by investing ethically?
        </summary>
        <div class="contents">
          <p>
            There is no evidence to suggest investing ethically makes less
            money. In fact there’s a truckload of evidence that says the exact
            opposite. *Cue truck reversing noise as we dump some info on you*.
          </p>
          <p>
            <a
              href="https://www.responsibleinvestment.org/wp-content/uploads/2014/08/RIAABenchmark2013_v3b.pdf"
            >
              Responsible investing has been shown to make more money in the
              short, medium and long term
            </a>
            . So why doesn’t everyone do it? Well, it’s actually pretty hard to
            do. The world isn’t perfect and neither are companies, so
            constructing rules for what’s considered ethical and what isn’t can
            be complex.
          </p>
          <p>
            But what hasn’t been taken into consideration is that fossil fuel
            companies cannot exist in a world where we want to keep global
            warming below 2 degrees.
          </p>
          <p>
            Fossil fuel companies have detracted from super fund returns
            enormously. Those companies won’t exist in a 2 degree world.
          </p>
          <p>
            We think fossil fuels are overvalued because we cannot afford to
            burn all the fossil fuels available if we’re to limit the effects of
            climate change.
          </p>
          <p>
            The basic premise we use is that any activity that is harmful to
            people or the planet is a long-term risk to an investment’s
            profitability. Some companies in this category might be good
            investments now, some probably aren’t. We remove them all because,
            over time, we believe that risk turns into poor performance more
            often than not. That leaves your money open to invest in more things
            that will protect your future from the threat of climate change.
          </p>
        </div>
      </details>
      <details>
        <summary>Is it hard to change super funds?</summary>
        <div class="contents">
          <p>
            No. It’s so incredibly easy. A lot of super funds would like you to
            think it’s harder than it is. But you could do it all in the time it
            takes to make a nice cup of tea.
          </p>
          <p>Here’s what you need:</p>
          <ol start="1" type="1">
            <li>Five minutes.</li>
            <li>
              Your Tax File Number (TFN), which you can find in your MyGov
              account.
            </li>
            <li>
              Decide whether to move all your super into your new account (we do
              it for you, you just have to choose).
            </li>
            <li>
              Forward an email from us to your employer with your new super
              details.
            </li>
          </ol>
          <p class="disclaimer">
            Information provided is of a general nature only and we have not
            taken your personal financial objectives, situation or needs into
            account. We recommend you seek financial advice when considering if
            Future Super is right for your objectives and needs.
          </p>
        </div>
      </details>
      <details>
        <summary>What does Future Super actually invest in?</summary>
        <div class="contents">
          <p>
            If we’re being cheeky, we’d say we invest in your future. But that’s
            probably not what you meant. It’s actually a pretty clever question
            because believe it or not, the majority of super funds won’t tell
            you what they invest in. That’s not the case for Future Super.
          </p>
          <p>
            The list of things Future Super invests in is constantly evolving
            and, just like the fees, it depends on which investment option you
            choose. Across the fund, we hold investments in shares, fixed
            interest loans, debt, and in unlisted assets too (like solar farms
            or disability housing). We try to keep the list of companies pretty
            diverse so no single investment affects your super balance too much.
            Feeling nerdy?
            <a href="https://www.myfuturesuper.com.au/everything-we-invest-in/">
              You can find details on every investment here.
            </a>
          </p>
        </div>
      </details>
      <details>
        <summary>
          I’m already with an ethical option. Why should I change? How is Future
          Super different?
        </summary>
        <div class="contents">
          <p>
            We think it’s great that you’ve already chosen an ethical or
            sustainable option. There are a few good ones, but there’s two
            things you should know.
          </p>
          <p>
            First, there’s no regulation on what is and isn’t ethical or
            sustainable super. It’s not uncommon for those options to include
            coal companies, gambling businesses and weapons manufacturers as
            investments. Second, there are different approaches to ethical
            investing. Future Super chooses not to invest in companies that we
            think are bad for people or the planet. This is called divestment.
            Others continue to invest some of their portfolio in such companies
            so that they have power as a shareholder to influence them. This is
            called engagement. While Future Super does engage with companies, we
            think divestment is a more efficient and effective strategy to
            achieve change. Bottom line is, you can’t engage a coal company out
            of mining coal. That’s not how the world works.
          </p>
          <p>
            Check out your super option and see what sort of stuff you’re
            invested in while you wait for change.<em></em>
          </p>
        </div>
      </details>
      <details>
        <summary>
          What do you think of my current super? Are they really that bad?
        </summary>
        <div class="contents">
          <p>
            We think every super fund has room to improve the way they handle
            your money, including us. Hopefully they’re making you money, like
            all super funds should.
          </p>
          <p>
            But here’s what we think is gross. If even 1% of Australia’s
            superannuation is invested in fossil fuels (hint: it’s definitely
            more), that’s $31 billion propping up an industry that’s risking
            your future. There are very few super funds that don’t invest in
            fossil fuels. In a world where scientists say we have less than 10
            years to cut global emissions by half, that’s just not good enough.
            So we don’t just think <em>your </em>super fund is bad. We think our
            whole industry is a few sandwiches short of the picnic basket.
          </p>
          <p>
            We created Future Super because no one was doing what we’re doing.
            So, if you want a fund that will act quickly and decisively to
            protect your future, Future Super stands out from the crowd.<em
            ></em>
          </p>
        </div>
      </details>
      <details>
        <summary>
          What does the Barefoot Investor think of Future Super?
        </summary>
        <div class="contents">
          <p>
            We think the Barefoot Investor is a pretty cool dude. He makes money
            easier to understand for so many people and that’s a tick in our
            books. But we have some philosophical differences. Scott says that
            fees are the most important thing but doesn’t say much about the
            future. In many ways he assumes that the money you investing won’t
            affect the world you live in. But money doesn’t exist in a vacuum.
          </p>
          <p>
            We think it’s important to align the way you invest with your values
            because the future isn’t just measured in dollars, it’s measured in
            celsius. Future Super invests on behalf of members who care deeply
            about climate change, and we know that as one of the largest assets
            you have, super is the best opportunity for many to create
            meaningful change. The Barefoot Investor is all about saving money
            but his style of investing won’t give you more than that. Future
            Super is about saving both money and your future.
          </p>
        </div>
      </details>
      <details>
        <summary>Why does being fossil fuel free matter?</summary>
        <div class="contents">
          <p>
            It doesn’t just protect the planet. It protects your money as well.
            Did you know that Australian fossil fuel investments nearly halved
            in value over the last decade? As energy sources move away from
            fossil fuels, the value of those investments will continue to
            decline, until they aren’t worth the paper they’re printed on. This
            is called a stranded asset - an investment so bad it’s basically
            unsellable. It’s a one way ticket to losing your super.
          </p>
          <p>
            We know that not everyone cares about climate change as much as we
            do. If you don’t think that looking after the future of our planet
            is important, then think about your own future when you consider if
            you want fossil fuels in your super.
          </p>
        </div>
      </details>
      <details>
        <summary>How can I compare returns with my current fund?</summary>
        <div class="contents">
          <p>
            Commercially-run super fund comparison websites exist, but many of
            them only include the biggest funds, which is under 10% of all super
            funds. So keep heading back to our
            <a href="https://www.myfuturesuper.com.au/performance-and-returns/">
              performance and returns page
            </a>
            to check Future Super against info you find on the internet.
          </p>
          <p>
            It’s also important to remember that super isn’t like for like and
            options that appear similar can hold very different investments. So
            while one might perform better one day, another can perform better
            the next.
          </p>
        </div>
      </details>
      <details>
        <summary>What should I look at when comparing super funds?</summary>
        <div class="contents">
          <p>
            When comparing super funds the most common things people are told to
            look at are fees and long-term returns. But to get the full picture
            of what’s happening with your money, we think there are a few other
            signals you should look for.
          </p>
          <p>
            A responsible fund should disclose all their investments, yet only
            12 percent do. If they don’t, it’s easy to call them and ask if they
            invest in fossil fuels. If the fund is fully transparent and doesn’t
            invest in fossil fuels, they may provide data on the emissions
            produced by their investments. We think all these things should be
            easily accessible and Future Super provides all this information on
            our website.
          </p>
        </div>
      </details>
    </section>
  </div>
</article>

{% endblock %}
