{% extends "layouts/base.html" %}

{% block content %}

<article>
  <header>
    <div class="container">
      <h1 class="rellax-poster" data-rellax-xs-speed="2" data-rellax-mobile-speed="3" data-rellax-tablet-speed="5"
        data-rellax-desktop-speed="10">Switch <br>your <br>super. <br>Shake <br>the <br>system</h1>
      <div class="article-content rellax-text">
        <a href="{{ site.joinUrl }}" class="button primary">Join Now</a>
        <p>
          Your super has the power to combat climate change.
          <br>Let’s put it to work.
        </p>
      </div>
    </div>
  </header>

  <section class="tidbit give-fossil-fuels-the-flick">
    <div id="coal" class="sprite-container">
    </div>
    <div class="container">
      <h2 class="rellax-poster" data-rellax-xs-speed="2" data-rellax-mobile-speed="3" data-rellax-tablet-speed="5"
        data-rellax-desktop-speed="10">Give <br>fossil <br>fuels <br>the <br>flick</h2>
      <div class="article-content rellax-text">
        <p>Each time just 34 people switch, that’s another million dollars out of super exposed to the fossil fuel
          industry<span>^</span>.</p>
        <aside class="grid">
          <p class="disclaimer">^&thinsp;Assumes average balance of $30,000, and that super has been moved from a Fund
            that
            invests in fossil fuels.</p>
        </aside>
      </div>
    </div>
  </section>

  <section class="tidbit your-money-talks">
    <div id="coin" class="sprite-container">
    </div>
    <div class="container">
      <h2 class="rellax-poster" data-rellax-xs-speed="2" data-rellax-mobile-speed="3" data-rellax-tablet-speed="5"
        data-rellax-desktop-speed="10">Your <br>money <br>talks</h2>
      <div class="article-content rellax-text">
        <p>Changing the future is simple when you understand your power over the systems around you.</p>
        <p>Only 7.7% of super could fund Australia's transition to 100% clean energy<span>*</span>.</p>
        <p>Future Super helps move your super out of fossil fuels and into climate solutions to make that vision for
          your future a reality.</p>
        <a href="/how-we-invest" class="button ">See how we invest</a>
        <aside class="grid">
          <p class="disclaimer">
            *&thinsp;<a
              href="https://www.uts.edu.au/sites/default/files/article/downloads/teske_et_al_2018_supercharging_australia’s_clean_energy_transition_0.pdf"
              target="_blank" rel="noopener noreferrer">Supercharging Australia's Clean Energy Transition</a>, UTS:
            Institute For Sustainable
            Futures, 2018
          </p>
        </aside>
      </div>
    </div>
  </section>

  <section class="tidbit join-in-a-few-taps">
    <div class="container">
      <div id="sunflower" class="img-container">
        <img src="/images/dithered/sunflower-bg.png" alt="The outline of a sunflower">
        <img class="rellax-img" data-rellax-percentage="0.5" src="/images/dithered/sunflower-fg.png" alt="A sunflower">
      </div>
      <h2 class="rellax-poster" data-rellax-xs-speed="2" data-rellax-mobile-speed="3" data-rellax-tablet-speed="5"
        data-rellax-desktop-speed="10">Join <br>in <br>a <br>few <br>taps</h2>
      <div class="article-content">
        <p>Join in just a few easy steps for super you can believe in.</p>
        <a href="{{ site.joinUrl }}" class="button primary" target="_blank" rel="noopener noreferrer">Make
          the
          switch</a>
      </div>
    </div>
  </section>
</article>

{% include "partials/product-review-carousel2.html" %}

{% endblock %}