{% extends "layouts/base.html" %}
{% set pageSpecificStyles = ['/css/pages/how-we-invest.css'] %}

{# Sets the page title from the .md file this layout is called from #}
{% set pageHeaderTitle = title %}

{# Template HTML #}
{% block content %}

  <div class="how-we-invest">

    <header>
      <h1>{{ pageHeaderTitle }}</h1>
    </header>
    <article class="container">
      <section id="part-one" class="loud">
        <p>The super industry’s purpose is to invest and
          <span class="text-green">grow</span>
          Australia’s retirement savings.</p>
      </section>

      <div id="shape"></div>

      <section id="part-two" class="loud">
        <p class="target">But super funds have consistently invested money in fossil fuels and other
          <span class="text-red">harmful</span>
          industries that have set us on a path towards climate change.</p>
      </section>
    </article>

    <article class="container">
      <header>
        <h2>Ethical screens</h2>
        <p>We apply industry-leading ethical screens to all our super portfolios. Investments must pass every screen to qualify.</p>
      </header>
      <div style="padding: 6rem">
        <div class="screens-container">
          <div class="buttons-container">
            {% for screen in screens %}
              <button onclick="showScreen('{{ screen.name }}')">{{ screen.name }}</button>
            {% endfor %}
          </div>
          {% for screen in screens %}
            <div class="screen-container criteria-intro" id="{{ screen.name }}" style="{% if loop.first %}display:block;{% else %}display:none;{% endif %}">
              <!-- TODO: Format as SVG for fill colour https://stackoverflow.com/a/11978996 -->
              <img class="screen-icon" src="/images/icons/screens/{{ screen.name | slug }}.svg" alt="Icon for {{ screen.name }}">
              <h3>{{ screen.name }}</h3>
              <p class="is-screened">Is screened for through the following criteria...</p>
              {% for criteria in screen.criteria %}
                <div class="criteria-container">
                  <div class="criteria">
                    <p class="question">{{ criteria.question }}</p>
                    <p class="example-label">Failing examples include...</p>
                    <ul class="examples">
                      {% for example in criteria.examples %}
                        <li>{{ example }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script>
      function showScreen(screen) {
        const screenContainers = document.getElementsByClassName("screen-container");
        for (let i = 0; i < screenContainers.length; i++) {
          screenContainers[i].style.display = "none";
        }
        document
          .getElementById(screen)
          .style
          .display = "block";
      }
    </script>
  </article>

  {% include "partials/join-cta.html" %}

</div>

{% endblock %}