{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set iconsPath = '/src/images/icons/investment-options/' %}

{% block content %}

  {# Define reusable macro for table header row #}
  {% macro initialTableRow(showButtons, tableTitle) %}
    <div class="grid-row">
      <div class="row-header">
        {% if tableTitle %}
          <h3>{{ tableTitle }}</h3>
        {% endif %}
      </div>
      {% for option in investmentOptions %}
        <div class="row-data option-card-mini {{ option.key }}">
          {% set iconUrl = iconsPath + option.key + ".svg" %}
          {{ iconUrl | svgContents("fill-core") | safe }}
          <h4>{{ option.opticalName[0] }}<br>{{ option.opticalName[1] }}</h4>
          {% if showButtons === "true" %}
            <a href="{{ site.joinurl }}/?option={{ option.key }}" class="button">Select</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endmacro %}

  <div class="investment-options">
    <div class="container">
      <header>
        <h1 class="center">{{ pageHeaderTitle }}</h1>
        <div class="grid">
          {% for option in investmentOptions %}
            <div class="option-card-full {{ option.key }}">
              {% set iconUrl = iconsPath + option.key + ".svg" %}
              {{ iconUrl | svgContents("fill-light") | safe }}
              <h2>{{ option.opticalName[0] }}<br>{{ option.opticalName[1] }}</h2>
              <p>{{ option.description }}</p>
              <a href="{{ site.joinurl }}/?option={{ option.key }}" class="button">Select</a>
            </div>
          {% endfor %}
        </div>
      </header>

      <section>
        <div class="intro grid">
          <div>
            <h2>Let's break things down</h2>
            <p>Not sure what something means? Tap anything that’s
            <a class="tooltip">underlined<span class="tooltip-text">You're a natural!</span></a>
            to see a full, jargon-free, explanation.
          </p>
          </div>
        </div>

        <div class="table-container">
          {{ initialTableRow("false", "Force for change") }}

          <div class="grid-row">
            <div class="row-header">
              <h5>Impact</h5>
            </div>
            {% for option in investmentOptions %}
              <div class="row-data {{ option.key }}">
                <p>
                  <a class="tooltip">
                    {{ option.impact }}
                    <span class="tooltip-text">What this means</span>
                  </a>
                </p>
              </div>
            {% endfor %}
          </div>

          {% macro booleanDataStatic(dataTitle) %}
            <div class="grid-row">
              <div class="row-header">
                <h5>{{ dataTitle }}</h5>
              </div>
              {% for option in investmentOptions %}
                <div class="row-data {{ option.key }}">
                  {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
                </div>
              {% endfor %}
            </div>
          {% endmacro %}

          {# Render static macros #}
          {{booleanDataStatic("Zero fossil fuels")}}
          {{booleanDataStatic("Ethically screened")}}

          {# Render dynamic data (as global parameters can't be read in a macro, e.g. `option.dataAttribute`) #}
          <div class="grid-row">
            <div class="row-header">
              <h5>Fights inequality</h5>
            </div>
            {% for option in investmentOptions %}
              <div class="row-data {{ option.key }}">
                {% if option.fightsInequality %}
                  {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
                {% endif %}
              </div>
            {% endfor %}
          </div>

          <div class="grid-row">
            <div class="row-header">
              <h5>Invests in renewables</h5>
            </div>
            {% for option in investmentOptions %}
              <div class="row-data {{ option.key }}">
                {% if option.investsInRenewables %}
                  {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
                {% endif %}
              </div>
            {% endfor %}
          </div>

          <div class="grid-row">
            <div class="row-header">
              <h5>Targets 20% investment in renewable energy projects</h5>
            </div>
            {% for option in investmentOptions %}
              <div class="row-data {{ option.key }}">
                {% if option.targets20Percent %}
                  {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
                {% endif %}
              </div>
            {% endfor %}
          </div>

          <div class="grid-row">
            <div class="row-header">
              <h5>Highlight investments</h5>
              <p>
                <a href="/everything-we-invest-in">See all investments</a>
              </p>
            </div>
            {% for option in investmentOptions %}
              <div class="row-data highlight-investments {{ option.key }}">
                <ul class="plain">
                  {% for item in option.highlightInvestments %}
                    <li>
                      <a class="tooltip">
                        {{ item.name }}
                        <span class="tooltip-text">{{ item.description }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>

        {# Table Two #}
        <div class="table-container">
          {{ initialTableRow("false", "Money talk") }}
          <div class="grid-row">
            <div class="row-header">
              <h5>How much you pay each year</h5>
            </div>
            {% for option in investmentOptions %}
              <div class="row-data {{ option.key }}">
                {# TODO: insert row data #}
              </div>
            {% endfor %}
          </div>
          {# TODO: insert rest of table data #}
        </div>

        <div class="table-container">
          {{ initialTableRow("true") }}
        </div>

      </div>
    </section>
  </div>

  {% include "partials/join-cta.html" %}

{% endblock %}