{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set iconsPath = '/src/images/icons/investment-options/' %}

{% block content %}

  {# Define reusable macro for table header row #}
  {% macro initialTableRow(solo, showSelectButtonsOnMdBreakpoint, tableTitle) %}
    <div class="grid-row {% if solo == "true" %}solo{% endif %}">
      <div class="row-header">
        {% if tableTitle %}
          <h3>{{ tableTitle }}</h3>
        {% endif %}
      </div>
      {% for option in investmentOptions %}
        <div class="row-data option-card-mini {{ option.slug }}">
          {% set iconUrl = iconsPath + option.slug + ".svg" %}
          {{ iconUrl | svgContents("fill-core") | safe }}
          <h4>{{ option.opticalLabel[0] }}<br>{{ option.opticalLabel[1] }}</h4>
          {% if showSelectButtonsOnMdBreakpoint === "true" or solo === "true" %}
            <a href="{{ site.joinurl }}/?option={{ option.slug }}" class="button full-width">Select</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endmacro %}

  <article class="investment-options">
    <header class="container">
      <h1 class="center">{{ pageHeaderTitle }}</h1>
      <div class="grid">
        {% for option in investmentOptions %}
          <div class="option-card-full {{ option.slug }}">
            {% set iconUrl = iconsPath + option.slug + ".svg" %}
            {{ iconUrl | svgContents("fill-light") | safe }}
            <h2>{{ option.opticalLabel[0] }}<br>{{ option.opticalLabel[1] }}</h2>
            <p>{{ option.subtitle }}</p>
            <a href="{{ site.joinurl }}/?option={{ option.slug }}" class="button full-width">Select</a>
          </div>
        {% endfor %}
      </div>
    </header>

    <section>
      <div class="intro grid container">
        <div>
          <h2>Let's break things down</h2>
          <p>Not sure what something means? Tap anything that’s
          <a class="tooltip">underlined<span class="tooltip-text">You're a natural!</span></a>
          to see a full, jargon-free, explanation.
        </p>
        </div>
      </div>

      {# Table one of two #}
      <div class="table-container">
        {{ initialTableRow("false", "true", "Force for change") }}

        <div class="grid-row">
          <div class="row-header">
            <h5>Impact</h5>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data {{ option.slug }}">
              <p>
                <a class="tooltip">
                  {{ option.impact.label }}
                  <span class="tooltip-text">{{ option.impact.definition }}</span>
                </a>
              </p>
            </div>
          {% endfor %}
        </div>

        {% macro booleanDataStatic(dataTitle) %}
          <div class="grid-row">
            <div class="row-header">
              <h5>{{ dataTitle }}</h5>
            </div>
            {% for option in investmentOptions %}
              <div class="row-data {{ option.slug }}">
                {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
              </div>
            {% endfor %}
          </div>
        {% endmacro %}

        {# Render static macros #}
        {{booleanDataStatic("Zero fossil fuels")}}
        {{booleanDataStatic("Ethically screened")}}

        {# Render dynamic data (as global parameters can't be read in a macro, e.g. `option.dataAttribute`) #}
        <div class="grid-row">
          <div class="row-header">
            <h5>Fights inequality</h5>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data {{ option.slug }}">
              {% if option.fightsInequality %}
                {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="grid-row">
          <div class="row-header">
            <h5>Invests in renewables</h5>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data {{ option.slug }}">
              {% if option.investsInRenewables %}
                {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="grid-row">
          <div class="row-header">
            <h5>Targets 20% investment in renewable energy projects</h5>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data {{ option.slug }}">
              {% if option.targets20Percent %}
                {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="grid-row">
          <div class="row-header">
            <h5>Highlight investments</h5>
            <p>
              <a href="/everything-we-invest-in">See all investments</a>
            </p>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data highlight-investments {{ option.slug }}">
              <ul class="plain">
                {% for item in option.highlightInvestments %}
                  <li>
                    <a class="tooltip">
                      {{ item.label }}
                      <span class="tooltip-text">{{ item.definition }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>

      {# Table two of two #}
      <div class="table-container">
        {{ initialTableRow("false", "true", "Money talk") }}

        <div class="grid-row">
          <div class="row-header">
            <h5>Fees per year</h5>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data {{ option.slug }}">
              <p>
                {{ option.fee.perAnnumPercentage }}% + ${{ option.fee.perYearPrice | currency }}
              </p>
              <p class="caption">
                {% set yearlyFee = 50000 * (option.fee.perAnnumPercentage / 100) + option.fee.perYearPrice %}
                <small>${{ yearlyFee | currency }} smaller year on a balance of $50,000</small>
              </p>
            </div>
          {% endfor %}
        </div>

        <div class="grid-row">
          <div class="row-header">
            <h5>
              <a class="tooltip">Investment objectives<span class="tooltip-text">How much we aim for your money to grow
                each year</span></a>
            </h5>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data {{ option.slug }}">
              <p>
                <a class="tooltip">CPI<span class="tooltip-text">Consumer Price Index</span></a>
            +
            {{ option.investmentObjective }}%
          </p>
              <p class="caption">
                <small>Per annum over
              <a class="tooltip">rolling ten-year periods<span class="tooltip-text">Across 10 consecutive
                  years</span></a> (after fees and taxes)
            </small>
              </p>
            </div>
          {% endfor %}
        </div>

        <div class="grid-row">
          <div class="row-header">
            <h5>
              <a class="tooltip">Asset allocation<span class="tooltip-text">How we balance risk and reward in order to
                achieve investment objectives</span></a>
            </h5>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data {{ option.slug }}">
              <p>{{ option.assetAllocation.growth }}% Growth</p>
              <p>{{ option.assetAllocation.defensive }}% Defensive</p>
            </div>
          {% endfor %}
        </div>

        <div class="grid-row">
          <div class="row-header">
            <h5>Management style</h5>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data {{ option.slug }}">
              {% if option.management === "active" %}
                <p>
                  <a class="tooltip">Active<span class="tooltip-text">We actively manage the alternative allocation of
                this option’s investments</span></a>
                </p>
              {% elseif option.management === "passive" %}
                <p>
                  <a class="tooltip">Passive<span class="tooltip-text">This option automatically tracks the market index
                through exchange traded funds</span></a>
                </p>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="grid-row">
          <div class="row-header">
            <h5>Recent returns</h5>
            <p>
              <a href="/performance-and-returns">See full performance and returns</a>
            </p>
          </div>
          {% for option in investmentOptions %}
            <div class="row-data {{ option.slug }}">
              <p>{{ option.performance.lastYear }}%</p>
              <p class="caption">
                <small>Over the last year</small>
              </p>

              <p>{{ option.performance.sinceInception }}%</p>
              <p class="caption">
                <small>Since inception<br>
                  <span class="text-tertiary">({{ option.inceptionDate }})</span></small>
              </p>
            </div>
          {% endfor %}
        </div>

      </div>

      <div class="table-container">
        {{ initialTableRow("true", "true") }}
      </div>

      <section class="chill container">
        <h2>Not sure? No stress.</h2>
        <p>You can change your investment option any time after joining, up to four times a year. Learn more <a
          href="#todo">here</a>.</p>
      </section>
    </section>
  </article>

  {% include "partials/also-see.html" %}

{% endblock %}