{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}

<div class="letter-edit">
  <p class="logo">FS</p>
  <div class="container">
    <h1 id="title-sender">
      Nice Work<span id="name1"></span>! Your letter has been sent
    </h1>
    <h1 id="title-shared">Your friend<span id="name2"></span> sent a letter</h1>
    <div class="letter-container">
      <div class="letter-holes">
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
      </div>
      <div class="letter-body">
        <p class="bold">Attn: CEO & Executives of <span id="fund"></span></p>
        <p>
          It’s time to stop investing in fossil fuels.<br /><br />

          I have chosen to leave your super fund because the way you invest
          shows that you aren’t taking the risk of climate change seriously.<br /><br />

          We need climate action now, not in 2050. So I’m asking your fund to
          change for the benefit of the future we share and stop investing in
          fossil fuels.<br /><br />

          When it comes to fossil fuels - I’m out. Will you be too?
        </p>
        <p id="signature"></p>
      </div>
    </div>
  </div>
</div>
<div id="share" class="letter-send">
  <div class="container">
    <p>If you’d like to share your letter, here’s your personal link:</p>
    <div class="share-container">
      <div class="share-link">
        www.futuresuper.com.au/letter?r=<span id="rcode"></span>
      </div>
      {# TO DO: Make This Work #}
      <button class="primary">COPY LINK</button>
    </div>
    <p style="margin-top: 2rem; text-align: center; font-size: 0.9rem">
      We’ll let you know when someone joins Future Super from this link so you
      can see the difference you make.
    </p>
  </div>
</div>
<div id="join" class="letter-send">
  <div class="container">
    <p>Not a Future Super member yet?</p>
    <button class="primary join">JOIN NOW</button>
    <p>Already a Future Super member?</p>
    <button class="primary">SEND A LETTER TO YOUR OLD FUND</button>
  </div>
</div>

<script>
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (decodeURIComponent(pair[0]) == variable) {
        return decodeURIComponent(pair[1]);
      }
    }
  }
  async function postData(url = "", data = {}) {
    const response = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data), // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
  }
  let referer = getQueryVariable("r");
  let fname = getQueryVariable("first");
  let fund = getQueryVariable("fund");
  let share = getQueryVariable("share") ? true : false;
  console.log("REFERER: " + referer);
  console.log("SHARE: " + share);
  console.log("FIRST: " + fname);
  console.log("FUND: " + fund);
  if (share) {
    document.getElementById("join").style.display = "none";
    document.getElementById("title-shared").style.display = "none";
  } else {
    document.getElementById("share").style.display = "none";
    document.getElementById("title-sender").style.display = "none";
  }
  if (fname) {
    document.getElementById("name1").innerHTML = " " + fname;
    document.getElementById("name2").innerHTML = " " + fname;
    document.getElementById("signature").innerHTML = "Signed,<br/>" + fname;
  }
  if (fund) {
    document.getElementById("fund").innerHTML = fund;
  }
  if (referer) {
    document.getElementById("rcode").innerHTML = referer;
    postData(
      "https://67l8qspd50.execute-api.ap-southeast-2.amazonaws.com/prod/letter?rcode=" +
        referer
    ).then((data) => {
      console.log(data);
    });
  }
</script>

{% endblock %}
