{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set iconsPath = '/src/images/icons/investment-options/' %}

{% set singlePensionOptionCard %}
<div class="grid container">
  {% for option in investmentOptions %}
  {% if option.type === "pension" %}
  <div class="option-card-large-container one-up">
    <div class="option-card-large {{ option.slug }}">
      {% set iconUrl = iconsPath + option.slug + ".svg" %}
      {{ iconUrl | svgContents("fill-light") | safe }}
      <h2>{{ option.opticalLabel[0] }}<br>{{ option.opticalLabel[1] }}</h2>
      <p>{{ option.subtitle }}</p>
      <a href="https://www.futuresuper.com.au/pensionpaperapplicationform" class="button full-width">Sign Up</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endset %}

{% block content %}

{# Define reusable macro for table header row #}
{% macro initialTableRow(showJoinButtonsOnMdBreakpoint, tableTitle) %}
<div class="grid-row">
  <div class="row-header">
    {% if tableTitle %}
    <h3>{{ tableTitle }}</h3>
    {% endif %}
  </div>
  {% for option in investmentOptions %}
  {% if option.type === "pension" %}
  <div class="row-data option-card-mini {{ option.slug }}">
    {% set iconUrl = iconsPath + option.slug + ".svg" %}
    {{ iconUrl | svgContents("fill-core") | safe }}
    <h4>{{ option.opticalLabel[0] }}<br>{{ option.opticalLabel[1] }}</h4>
    {% if showJoinButtonsOnMdBreakpoint === "true" %}
    <a href="https://www.futuresuper.com.au/pensionpaperapplicationform" class="button full-width">Sign Up</a>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endmacro %}

<article>
  <div class="top container">
    {% include "partials/page-header.html" %}

    {{ singlePensionOptionCard | safe }}
  </div>

  <div class="table-intro grid container">
    <div>
      <h2>Let's break things down</h2>
      <p>Don’t speak finance? Super is full of jargon that hurts our brains. Hover over anything with a
        <a class="tooltip">dotted underline<span class="tooltip-text">You're a natural!</span></a>
        to see a normal human explanation.
      </p>
    </div>
  </div>

  {# Table one of one #}
  <div class="table-container one-up">
    {{ initialTableRow("false") }}

    {% macro booleanDataStatic(dataTitle) %}
    <div class="grid-row">
      <div class="row-header">
        <h5>{{ dataTitle }}</h5>
      </div>
      {% for option in investmentOptions %}
      {% if option.type === "pension" %}
      <div class="row-data {{ option.slug }}">
        {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endmacro %}

    {# Render static macros #}
    {{booleanDataStatic("Zero fossil fuels")}}
    {{booleanDataStatic("Ethically screened")}}

    {# Render dynamic data (as global parameters can't be read in a macro, e.g. `option.dataAttribute`) #}
    <div class="grid-row">
      <div class="row-header">
        <h5>Fights inequality</h5>
      </div>
      {% for option in investmentOptions %}
      {% if option.type === "pension" %}
      <div class="row-data {{ option.slug }}">
        {% if option.fightsInequality %}
        {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-row">
      <div class="row-header">
        <h5>Invests in climate solutions</h5>
      </div>
      {% for option in investmentOptions %}
      {% if option.type === "pension" %}
      <div class="row-data {{ option.slug }}">
        {% if option.investsInRenewables %}
        {{ "/src/images/icons/tick.svg" | svgContents("fill-core") | safe }}
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-row">
      <div class="row-header">
        <h5>Fees per year<span class="text-tertiary">&thinsp;*</span></h5>
      </div>
      {% for option in investmentOptions %}
      {% if option.type === "pension" %}
      <div class="row-data {{ option.slug }}">
        <p>
          {{ option.fee.perAnnumPercentage }}% + ${{ option.fee.perYearPrice | twoDecimalPlaces }}
        </p>
        <p class="caption">
          {% set yearlyFee = 50000 * (option.fee.perAnnumPercentage / 100) + option.fee.perYearPrice %}
          <small>${{ yearlyFee | twoDecimalPlaces }}
            per year on a balance of $50,000</small>
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-row">
      <div class="row-header">
        <h5>
          <a class="tooltip">Investment objectives<span class="tooltip-text">How much we aim for your money to grow each
              year</span></a>
        </h5>
      </div>
      {% for option in investmentOptions %}
      {% if option.type === "pension" %}
      <div class="row-data {{ option.slug }}">
        <p>
          <a class="tooltip">CPI<span class="tooltip-text">Consumer Price Index</span></a>
          +
          {{ option.investmentObjective }}%
        </p>
        <p class="caption">
          <small>Per annum over
            <a class="tooltip">rolling ten-year periods<span class="tooltip-text">Across 10 consecutive years</span></a>
            (after fees and taxes)
          </small>
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-row">
      <div class="row-header">
        <h5>
          <a class="tooltip">Asset allocation<span class="tooltip-text">How we balance risk and reward in order to
              achieve investment objectives</span></a>
        </h5>
      </div>
      {% for option in investmentOptions %}
      {% if option.type === "pension" %}
      <div class="row-data {{ option.slug }}">
        <p>{{ option.assetAllocation.growth }}% Growth</p>
        <p>{{ option.assetAllocation.defensive }}% Defensive</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="grid-row">
      <div class="row-header">
        <h5>Recent returns^</h5>
        <small>As at
          {{ performanceReturns.dateAsAt | dateFilter }}</small>
        <p>
          <a href="/performance-and-returns">See full performance and returns</a>
        </p>
      </div>

      {# Structure of performanceReturns.json (via ReturnsToGithub.js serverless function) differs, cannot be looped as
      above #}
      {# Cannot use macro as macro variables are referenced from within loops #}
      {# Balanced Growth Pension #}
      <div class="row-data balanced-growth-pension">
        {% for row in performanceReturns.table %}
        {% if row.rowHeading === "1 Year" %}
        <p>{{ row.balancedGrowthPension }}</p>
        {% endif %}
        {% endfor %}
        <p class="caption">
          <small>One year</small>
        </p>

        {% for row in performanceReturns.table %}
        {% if row.rowHeading === "Since inception" %}
        <p>{{ row.balancedGrowthPension }}</p>
        {% endif %}
        {% endfor %}
        <p class="caption">
          <small>Since inception<br>
            {% for row in performanceReturns.table %}
            {% if row.rowHeading === "Launch date" %}
            <span class="text-tertiary">({{ row.balancedGrowthPension }})</span></small>
          {% endif %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>

  <div class="table-disclaimers grid container">
    <div>
      <p class="disclaimer">*&thinsp;Read our
        <a href="https://www.futuresuper.com.au/pppds">Pension Product Disclosure Statement</a>
        for full details on how fees apply to your Future Super account. The fees shown above are the total Investment
        Fees, Administration Fees and Indirect Cost Ratio payable for our pension option. Other fees and costs may apply
        to your account.
      </p>
      <p class="disclaimer">^&thinsp;Returns provided are after investment fees, percentage-based administration fees
        and taxes but before dollar-based administration fees have been taken out. Returns for periods of greater than
        one year are on a per annum compound basis. Return of capital and the performance of your investment in the Fund
        are not guaranteed. Past performance is not a reliable indicator of future performance.
      </p>
    </div>
  </div>

  {{ singlePensionOptionCard | safe }}

  <div class="container">
    <div class="article-content">
      {% include "partials/page-faqs.html" %}
    </div>
  </div>

  <section class="callout container">
    <h2>Looking for super?</h2>
    <p>Check out our
      <a href="/investment-options">Investment Options</a>.
    </p>
  </section>
</article>

{% include "partials/also-see.html" %}

{% endblock %}