{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set summary = "As of " + performanceReturns.dateAsAt | dateFilter + "." %}
{% set iconsPath = '/src/images/icons/investment-options/' %}

{% block content %}
<article class="container">
  {% include "partials/page-header.html" %}

  <div class="table-container four-up">
    <div class="grid-row">
      <div class="row-header"></div>
      {% for option in investmentOptions %}
      <div class="row-data option-card-mini {{ option.slug }}">
        {% set iconUrl = iconsPath + option.slug + ".svg" %}
        {{ iconUrl | svgContents("fill-core") | safe }}
        <h4>{{ option.opticalLabel[0] }}<br>{{ option.opticalLabel[1] }}</h4>
        <a {% if option.type==="accumulation" %}href="/investment-options" {% elseif option.type==="pension"
          %}href="/pension-fund" {% endif %} class="button full-width">View</a>
      </div>
      {% endfor %}
    </div>

    {% for row in performanceReturns.table %}
    <div class="grid-row">
      <div class="row-header">
        <h5>{{ row.rowHeading }}</h5>
        {% if row.rowSubHeading %}
        <p>{{ row.rowSubHeading }}</p>
        {% endif %}
      </div>
      <div class="row-data balanced-index">
        <p>
          {{ row.balancedIndex }}
        </p>
      </div>
      <div class="row-data balanced-impact">
        <p>
          {{ row.balancedImpact }}
        </p>
      </div>
      <div class="row-data renewables-plus-growth">
        <p>
          {{ row.renewablesPlusGrowth }}
        </p>
      </div>
      <div class="row-data balanced-growth-pension">
        <p>
          {{ row.balancedGrowthPension }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="table-disclaimers grid container">
    <div>
      <p class="disclaimer">Returns provided are after investment fees, percentage-based administration fees and taxes
        but before dollar-based
        administration fees have been taken out. Returns for periods of greater than one year are on a per annum
        compound
        basis. Return of capital and the performance of your investment in the Fund are not guaranteed. Past performance
        is not a reliable indicator of future performance.</p>
    </div>
  </div>

  <div class="article-content">
    {% if pageFaqs %}
    {% include "partials/page-faqs.html" %}
    {% endif %}
  </div>
</article>

{% include "partials/also-see.html" %}

{% endblock %}