{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
<time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
{% if tags %}
  <p>Tags:</p>
  <ul class="tags-list" aria-describedby="tags-desc">
    {% for tag in tags %}
      <li>
        #{{ tag | title | replace(' ', '') }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endset %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
    {{ content | safe }}
  </article>

  {% include "partials/join-cta.html" %}
{% endblock %}