{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set summary = "As of " + unitPrices.dateAsAt | dateFilter + "." %}
{% set iconsPath = '/src/images/icons/investment-options/' %}

{% block content %}
<article class="container">
  {% include "partials/page-header.html" %}

  <div class="article-content">
    <p>Future Super is a unitised fund, which means that every time you make a contribution you are issued units in the
      fund. The unit price for all members of the fund (the value of a unit) is calculated every week day and changes
      based on the value of the assets the fund invests in, as well as the fees and taxes that are due.

    <p>As the unit price fluctuates so too will your balance, as your balance is calculated as the number of units you
      hold multiplied by the unit price on any particular day.</p>
  </div>

  <div class="table-container four-up">
    <div class="grid-row">
      <div class="row-header"></div>
      {% for option in investmentOptions %}
      <div class="row-data option-card-mini {{ option.slug }}">
        {% set iconUrl = iconsPath + option.slug + ".svg" %}
        {{ iconUrl | svgContents("fill-core") | safe }}
        <h4>{{ option.opticalLabel[0] }}<br>{{ option.opticalLabel[1] }}</h4>
        <a {% if option.type==="accumulation" %}href="/investment-options" {% elseif option.type==="pension"
          %}href="/pension-fund" {% endif %} class="button full-width">View</a>
      </div>
      {% endfor %}
    </div>

    <div class="grid-row">
      <div class="row-header">
        <h5>Buy price</h5>
      </div>
      {% for row in unitPrices.table %}
      <div class="row-data {{ row.investment_option_label | slug }}">
        <p>{{ row.buy_price }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="grid-row">
      <div class="row-header">
        <h5>Sell price</h5>
      </div>
      {% for row in unitPrices.table %}
      <div class="row-data {{ row.investment_option_label | slug }}">
        <p>{{ row.sell_price }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="grid-row">
      <div class="row-header">
        <h5>Historical pricing</h5>
      </div>
      {% for row in unitPrices.table %}
      <div class="row-data {{ row.investment_option_label | slug }}">
        <p><a href="{{ row.historical_pricing }}">Download</a></p>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="table-disclaimers grid container">
    <div>
      <p class="disclaimer">Unit prices are calculated daily and generally take 2-3 days to be published. You can see
        historical pricing by clicking the 'Download' links above. When considering performance, past performance is not
        a reliable indicator of future returns.</p>
    </div>
  </div>

  <div class="article-content">
    {% include "partials/page-faqs.html" %}
  </div>
</article>

{% include "partials/also-see.html" %}

{% endblock %}