<header>
    <h1>{{ pageHeaderTitle }}</h1>
</header>
<article class="container">
    <section id="part-one">
        <p>The super industry’s purpose is to invest and <span class="text-green">grow</span> Australia’s retirement
                savings.</p>
    </section>

    <div id="shape"></div>

    <section id="part-two">
        <p class="target">But super funds have consistently invested money in fossil fuels and other
                <span class="text-red">harmful</span>
                industries
                that have set us on a path towards climate change.</p>
    </section>
</div>