<article>
    <header>
        <h2>How we <span>exclude</span></h2>
        <p>We apply industry-leading ethical screens to all our super portfolios.</p>
        <p>Investments must pass every screen to qualify.</p>
    </header>
    <form id="screens-form">
        {% for item in screens.items %}
            {# Create a radio button for each, with the first one checked by default #}
            <input type="radio" name="screen" id="{{ item.name | slug }}" value="{{ item.name | slug }}" {% if loop.index === 1 %} checked {% endif %}>
            <label for="{{ item.name | slug }}">{{ item.name }}</label>
        {% endfor %}
    </form>

    <p>
    Currently selected item from above is:
        <span id="selected-screen">
            {% for item in screens.items %}
                {% if loop.index === 1 %}
                    {{ item.name }}
                {% endif %}
            {% endfor %}
        </span>
    </p>
</article>