/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
main:focus {
  outline: none;
}

address {
  font-style: inherit;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMonoVariable.ttf") format("truetype");
  font-weight: 1 999;
  font-display: swap;
}
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #000000;
}

.heading-zero {
  text-transform: uppercase;
  line-height: 98%;
  text-align: center;
  color: #140f14;
  font-size: 3rem;
  font-size: min(max(2rem, 7vw), 6rem);
}

h1 {
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 1.8rem;
  font-size: 2.8rem;
  font-size: min(max(2rem, 7vw), 5rem);
  letter-spacing: -0.09rem;
}

h2 {
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-size: min(max(1.5rem, 4vw), 5rem);
  letter-spacing: -0.04rem;
}

h3,
.heading-three {
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-size: min(max(1rem, 3vw), 1.8rem);
}

h4 {
  line-height: 110%;
}

p {
  margin-bottom: 1rem;
}
p a {
  color: inherit;
  transition: all 125ms ease-in-out;
}
p a:hover {
  color: #0a5aff;
}

.disclaimer {
  color: #76766f;
  font-size: 0.75rem;
  line-height: 140%;
}
.disclaimer a:hover {
  color: #140f14;
}

.bold {
  font-weight: 700;
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}

.text-tertiary {
  color: #76766f;
}

.breadcrumb {
  color: #dadad7;
}
.breadcrumb a {
  color: #76766f;
}

.pink {
  color: #c445a2;
}

.green {
  color: #2bb151;
}

.yellow {
  color: #fac33c;
}

.red {
  color: #f04b23;
}

details,
.doc-or-form-item li,
.career-item li {
  border: 1px solid #000000;
  background-color: #ffffff;
  transition: background-color 550ms ease-in-out;
}
details:not(:last-of-type),
.doc-or-form-item li:not(:last-of-type),
.career-item li:not(:last-of-type) {
  margin-bottom: -1px;
}

details summary {
  cursor: pointer;
  padding: 1.5rem;
  font-weight: 500;
}
details summary:focus {
  outline: none;
}
details summary:hover {
  background-color: #f5f5f4;
}
details .contents {
  padding: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 160%;
  border-top: 1px solid #000000;
}
details .contents :last-child {
  margin-bottom: 0;
}

.doc-or-form-item li:hover,
.career-item li:hover {
  background-color: #f5f5f4;
}
.doc-or-form-item li h3,
.career-item li h3 {
  font-size: 1.125rem;
  margin: 0 0 0.5rem 0 !important;
  line-height: 100%;
}
.doc-or-form-item li p,
.career-item li p {
  margin-bottom: 0;
}

.career-item a {
  display: block;
  padding: 1.5rem;
  color: inherit;
  text-decoration: none;
}
.career-item a p {
  font-size: 1rem;
  line-height: 140%;
}

.doc-or-form-item {
  margin-bottom: 1rem !important;
}
.doc-or-form-item li {
  display: flex;
  padding: 1.5rem;
}
.doc-or-form-item li .icon {
  align-self: center;
  width: 2rem;
  margin-right: 2rem;
}
.doc-or-form-item li .icon svg {
  width: 2rem;
  height: 2rem;
}
.doc-or-form-item li .icon svg .fill-target {
  transition: all 125ms ease-in-out;
}
.doc-or-form-item li .icon a svg:hover .fill-target {
  fill: #0a5aff;
}
.doc-or-form-item li .text {
  flex: 1;
  align-self: center;
}
.doc-or-form-item li .text h3 a {
  color: inherit;
  transition: all 125ms ease-in-out;
}
.doc-or-form-item li .text h3 a:hover {
  color: #0a5aff;
  text-decoration-color: #0a5aff;
}
.doc-or-form-item li .text p {
  font-size: 0.875rem;
  line-height: 140%;
}

.everything-we-invest-in .investment-container, input.search {
  border: 2px solid #e6e6e5;
  background-color: #ffffff;
}

body.mobile-menu-active {
  position: fixed;
}
body.mobile-menu-active.aoc-active {
  top: -60vh;
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .container {
    padding: 0 2rem;
  }
}
@media (min-width: 80rem) {
  .container {
    padding: 0 3rem;
  }
}
.container .article-content {
  margin: 0 auto;
  max-width: 48rem;
}
.container .article-content > section > p:not(.disclaimer),
.container .article-content > p:not(.disclaimer),
.container .article-content > ul,
.container .article-content > ol {
  font-size: 1.125rem;
  line-height: 170%;
}
.container .article-content img {
  margin: 3rem 0;
}
.container .article-content h2 {
  margin-top: 9rem;
}

main > article.container {
  padding-bottom: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.grid > * {
  grid-column: span 12;
}
@media (min-width: 40rem) {
  .grid {
    gap: 1.5rem;
  }
  .grid > * {
    grid-column: span 6;
  }
}
@media (min-width: 48rem) {
  .grid {
    gap: 2rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}
@media (min-width: 80rem) {
  .grid {
    gap: 3rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}

.table-intro > * {
  grid-column: span 1;
}
@media (min-width: 40rem) {
  .table-intro > * {
    grid-column: span 12;
  }
}
@media (min-width: 48rem) {
  .table-intro > * {
    grid-column: span 9;
  }
}
@media (min-width: 80rem) {
  .table-intro > * {
    grid-column: span 6;
  }
}

.table-disclaimers > * {
  grid-column: span 1;
}
@media (min-width: 40rem) {
  .table-disclaimers > * {
    grid-column: span 9;
  }
}
@media (min-width: 48rem) {
  .table-disclaimers > * {
    grid-column: span 6;
  }
}
@media (min-width: 80rem) {
  .table-disclaimers > * {
    grid-column: span 6;
  }
}

table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
@media (min-width: 40rem) {
  table th:only-of-type {
    padding-right: 1rem;
  }
}
@media (min-width: 48rem) {
  table th:only-of-type {
    padding-right: 3rem;
  }
}

.callout {
  margin-top: 6rem;
  margin-bottom: 6rem;
  background-color: #fbf9f9;
  padding: 6rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.callout > * {
  text-align: center;
  max-width: 40rem;
}

button,
.button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 0;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
  text-align: center;
}
button.full-width,
.button.full-width {
  padding: 2rem 0;
  width: 100%;
}
button.primary,
.button.primary {
  color: #ffffff;
  background-color: #000000;
}
button.primary.inverted,
.button.primary.inverted {
  color: #000000;
  background-color: #ffffff;
}
button.primary:hover,
.button.primary:hover {
  background-color: #0a5aff;
}
button.clear,
.button.clear {
  color: inherit;
  background-color: inherit;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plain {
  list-style-type: none;
}

input.search {
  width: 100%;
  padding: 1rem 1rem 1rem 3.5rem;
  background-image: url(/images/icons/search.svg);
  background-position: 0.75rem;
  background-repeat: no-repeat;
  background-size: 2rem auto;
  margin-bottom: 6rem;
  font-size: 1.125rem;
}

.table-container .grid-row .balanced-index.row-data {
  color: #3c1631;
}
.table-container .grid-row .balanced-index.row-data svg.fill-core .fill-target {
  fill: #c445a2;
}
.table-container .grid-row .balanced-index.row-data svg.fill-core .stroke-target {
  stroke: #c445a2;
}
.table-container .grid-row .balanced-index.row-data svg.fill-light .stroke-target {
  stroke: #dc91c8;
}
.table-container .grid-row .balanced-index.row-data .button {
  background-color: #c445a2;
}
.table-container .grid-row .balanced-index.row-data .button:hover {
  background-color: #3c1631;
}
.table-container .grid-row .balanced-impact.row-data {
  color: #002166;
}
.table-container .grid-row .balanced-impact.row-data svg.fill-core .fill-target {
  fill: #0a5aff;
}
.table-container .grid-row .balanced-impact.row-data svg.fill-core .stroke-target {
  stroke: #0a5aff;
}
.table-container .grid-row .balanced-impact.row-data svg.fill-light .stroke-target {
  stroke: #a3c1ff;
}
.table-container .grid-row .balanced-impact.row-data .button {
  background-color: #0a5aff;
}
.table-container .grid-row .balanced-impact.row-data .button:hover {
  background-color: #002166;
}
.table-container .grid-row .renewables-plus-growth.row-data {
  color: #025018;
}
.table-container .grid-row .renewables-plus-growth.row-data svg.fill-core .fill-target {
  fill: #2bb151;
}
.table-container .grid-row .renewables-plus-growth.row-data svg.fill-core .stroke-target {
  stroke: #2bb151;
}
.table-container .grid-row .renewables-plus-growth.row-data svg.fill-light .stroke-target {
  stroke: #97ddab;
}
.table-container .grid-row .renewables-plus-growth.row-data .button {
  background-color: #2bb151;
}
.table-container .grid-row .renewables-plus-growth.row-data .button:hover {
  background-color: #025018;
}
.table-container .grid-row .balanced-growth-pension.row-data {
  color: #322401;
}
.table-container .grid-row .balanced-growth-pension.row-data svg.fill-core .fill-target {
  fill: #9a6f04;
}
.table-container .grid-row .balanced-growth-pension.row-data svg.fill-core .stroke-target {
  stroke: #9a6f04;
}
.table-container .grid-row .balanced-growth-pension.row-data svg.fill-light .stroke-target {
  stroke: #fac33c;
}
.table-container .grid-row .balanced-growth-pension.row-data .button {
  background-color: #9a6f04;
}
.table-container .grid-row .balanced-growth-pension.row-data .button:hover {
  background-color: #322401;
}

.table-intro {
  margin-bottom: 1rem;
}
.table-intro > * {
  grid-column: span 12;
}
@media (min-width: 48rem) {
  .table-intro > * {
    grid-column: span 6;
  }
}

.table-container {
  overflow-x: visible;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6rem;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .table-container {
    padding: 0 2rem;
  }
}
.table-container:last-of-type {
  display: none;
}
@media (min-width: 40rem) {
  .table-container:last-of-type {
    display: block;
    margin-top: -6rem;
  }
}
.table-container .grid-row {
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}
.table-container .grid-row:not(:last-of-type) {
  border-bottom: 0.125rem solid #f5f5f4;
}
.table-container .grid-row:first-of-type:not(:only-of-type) {
  position: sticky;
  top: -2rem;
  background-color: #ffffff;
  z-index: 2;
  border-bottom: 0.125rem solid #dadad7;
}
@media (min-width: 40rem) {
  .table-container .grid-row:first-of-type:not(:only-of-type) {
    position: static;
    top: 0;
    background-color: none;
    z-index: auto;
  }
}
.table-container .grid-row .row-header,
.table-container .grid-row .row-data {
  justify-items: start;
}
.table-container .grid-row .row-header h5,
.table-container .grid-row .row-header p,
.table-container .grid-row .row-data h5,
.table-container .grid-row .row-data p {
  font-size: 0.875rem;
  line-height: 125%;
  margin: 0;
  padding: 0;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-header h5,
.table-container .grid-row .row-header p,
.table-container .grid-row .row-data h5,
.table-container .grid-row .row-data p {
    font-size: 1rem;
    line-height: 100%;
  }
}
.table-container .grid-row .row-header h5,
.table-container .grid-row .row-data h5 {
  font-size: 1rem;
}
.table-container .grid-row .row-header {
  grid-column: span 12;
  grid-row: 1;
  position: relative;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-header {
    grid-column: span 3;
  }
}
@media (min-width: 48rem) {
  .table-container .grid-row .row-header {
    grid-column: span 6;
  }
}
.table-container .grid-row .row-header h3 {
  position: absolute;
  bottom: 0;
}
.table-container .grid-row .row-header p {
  font-size: 0.875rem;
  color: #76766f;
  margin-top: 1rem;
}
.table-container .grid-row .row-data {
  grid-column: span 4;
  grid-row: 2;
  font-family: "JetBrainsMono", monospace;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-data {
    grid-column: span 3;
    grid-row: 1;
  }
}
@media (min-width: 48rem) {
  .table-container .grid-row .row-data {
    grid-column: span 2;
  }
}
.table-container .grid-row .row-data.highlight-investments {
  font-size: 0.75rem;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-data.highlight-investments {
    font-size: 0.875rem;
  }
}
.table-container .grid-row .row-data.highlight-investments li:not(:last-of-type) {
  margin-bottom: 1rem;
}
.table-container .grid-row .row-data p.caption {
  margin-top: 0.25rem;
}
.table-container .grid-row .row-data p.caption:not(:last-of-type) {
  margin-bottom: 2rem;
}
.table-container .grid-row .row-data p.caption small {
  font-size: 0.6875rem;
  line-height: 102%;
  color: #76766f;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-data p.caption small {
    font-size: 0.75rem;
    line-height: 115%;
    color: #52524c;
  }
}
.table-container .grid-row .option-card-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
.table-container .grid-row .option-card-mini svg {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.1rem;
  margin-left: -0.25rem;
}
@media (min-width: 40rem) {
  .table-container .grid-row .option-card-mini svg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.25rem;
    margin-left: 0;
  }
}
.table-container .grid-row .option-card-mini h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
@media (min-width: 48rem) {
  .table-container .grid-row .option-card-mini h4 {
    font-size: 1.125rem;
  }
}
.table-container .grid-row .option-card-mini .button {
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0.75rem 0;
}
@media (min-width: 40rem) {
  .table-container .grid-row .option-card-mini .button {
    font-size: 1rem;
    padding: 1rem 0;
  }
}
@media (min-width: 40rem) {
  .table-container .grid-row {
    gap: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .table-container .grid-row {
    gap: 2rem;
  }
}
@media (min-width: 40rem) {
  .table-container.one-up .grid-row .row-header {
    grid-column: span 4;
  }
}
@media (min-width: 48rem) {
  .table-container.one-up .grid-row .row-header {
    grid-column: span 6;
  }
}
.table-container.one-up .grid-row .row-data {
  grid-column: span 12;
}
@media (min-width: 40rem) {
  .table-container.one-up .grid-row .row-data {
    grid-column: span 8;
  }
}
@media (min-width: 48rem) {
  .table-container.one-up .grid-row .row-data {
    grid-column: span 6;
  }
}
@media (min-width: 40rem) {
  .table-container.four-up .grid-row .row-header {
    grid-column: span 4;
  }
}
@media (min-width: 48rem) {
  .table-container.four-up .grid-row .row-header {
    grid-column: span 4;
  }
}
.table-container.four-up .grid-row .row-data {
  grid-column: span 3;
}
@media (min-width: 40rem) {
  .table-container.four-up .grid-row .row-data {
    grid-column: span 2;
  }
}

.table-disclaimers {
  margin-top: -3rem;
  margin-bottom: 6rem;
}
.table-disclaimers > * {
  grid-column: span 12;
}
@media (min-width: 48rem) {
  .table-disclaimers > * {
    grid-column: span 5;
  }
}

.tooltip {
  position: relative;
  display: inline;
  text-decoration: dotted underline;
  -webkit-text-decoration: dotted underline;
}
.tooltip:hover {
  cursor: help;
  color: #0a5aff;
}
.tooltip:hover .tooltip-text {
  display: block;
}
.tooltip .tooltip-text {
  font-family: "JetBrainsMono", monospace;
  font-weight: 500;
  letter-spacing: -1%;
  display: none;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.75rem;
  position: absolute;
  z-index: 3;
  width: 13rem;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 100%;
}
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #140f14 transparent transparent transparent;
}
.tooltip .tooltip-text.left {
  text-align: left;
  transform: translate(-0.5rem, 0);
  left: 0;
}
.tooltip .tooltip-text.left::after {
  left: 2.5rem;
}
.tooltip .tooltip-text.right {
  text-align: right;
  transform-origin: top right;
  transform: translate(0, 0);
  left: -7.75rem;
}
.tooltip .tooltip-text.right::after {
  left: calc(100% - 2.5rem);
}

.everything-we-invest-in h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
.everything-we-invest-in fieldset {
  display: inline-block;
  border: 0;
}
.everything-we-invest-in select {
  background-color: #f5f5f4;
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  color: #000000;
  border: 1px solid #52524c;
  outline: none;
}
.everything-we-invest-in .top-section-container {
  padding: 8rem;
  background-color: #ffffff;
}
.everything-we-invest-in .selectors-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.everything-we-invest-in .investment-card-section-container {
  padding: 3rem 3rem 10rem 3rem;
}
.everything-we-invest-in .investment-card-section-container .info-at-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.everything-we-invest-in .investment-card-section-container .info-at-top select {
  background-color: #ffffff;
}
.everything-we-invest-in .investment-card-section-container .sorting-container {
  display: flex;
  align-items: center;
}
.everything-we-invest-in .grid-of-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.everything-we-invest-in .grid-options-weight {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 0.5rem;
  font-size: 0.8rem;
  padding: 0.6rem;
}
.everything-we-invest-in .investment-container {
  padding: 2rem;
}
.everything-we-invest-in .investment-container h4 {
  margin-top: 0.5rem;
}

/*# sourceMappingURL=everything-we-invest-in.css.map */
