/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
main:focus {
  outline: none;
}

address {
  font-style: inherit;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMonoVariable-subset.woff2") format("woff2");
  font-weight: 1 999;
  font-display: swap;
}
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #000000;
}

.heading-zero {
  text-transform: uppercase;
  line-height: 98%;
  text-align: center;
  color: #140f14;
  font-size: 3rem;
  font-size: min(max(2rem, 7vw), 6rem);
}

h1 {
  font-weight: 900;
  line-height: 115%;
  margin-bottom: 1.8rem;
  font-size: 2.8rem;
  font-size: clamp(2rem, 14vw, 5rem);
  letter-spacing: -0.09rem;
  overflow-wrap: break-word;
}

h2 {
  font-weight: 900;
  line-height: 115%;
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-size: min(max(1.5rem, 4vw), 5rem);
  letter-spacing: -0.04rem;
}

h3,
.heading-three {
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-size: min(max(1rem, 3vw), 1.8rem);
}

h4 {
  line-height: 115%;
}

h5,
.heading-five {
  font-size: 0.875rem;
  line-height: 115%;
}

p {
  margin-bottom: 1rem;
}
p a {
  color: inherit;
  transition: all 125ms ease-in-out;
}
p a:hover {
  color: #0a5aff;
}

.disclaimer {
  color: #76766f;
  font-size: 0.75rem;
  line-height: 140%;
}
.disclaimer a:hover {
  color: #140f14;
}

.bold {
  font-weight: 700;
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}

.text-tertiary {
  color: #76766f;
}

.breadcrumb {
  color: #dadad7;
}
.breadcrumb a {
  color: #76766f;
}

.pink {
  color: #c445a2;
}

.green {
  color: #2bb151;
}

.yellow {
  color: #fac33c;
}

.red {
  color: #f04b23;
}

details,
.doc-or-form-item li,
.career-item li {
  border: 1px solid #000000;
  background-color: #ffffff;
  transition: background-color 550ms ease-in-out;
}
details:not(:last-of-type),
.doc-or-form-item li:not(:last-of-type),
.career-item li:not(:last-of-type) {
  margin-bottom: -1px;
}

details summary {
  cursor: pointer;
  padding: 1.5rem;
  font-weight: 500;
}
details summary:focus {
  outline: none;
}
details summary:hover {
  background-color: #f5f5f4;
}
details .contents {
  padding: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 160%;
  border-top: 1px solid #000000;
}
details .contents :last-child {
  margin-bottom: 0;
}

.doc-or-form-item li:hover,
.career-item li:hover {
  background-color: #f5f5f4;
}
.doc-or-form-item li h3,
.career-item li h3 {
  font-size: 1.125rem;
  margin: 0 0 0.5rem 0 !important;
  line-height: 100%;
}
.doc-or-form-item li p,
.career-item li p {
  margin-bottom: 0;
}

.career-item a {
  display: block;
  padding: 1.5rem;
  color: inherit;
  text-decoration: none;
}
.career-item a p {
  font-size: 1rem;
  line-height: 140%;
}

.doc-or-form-item {
  margin-bottom: 1rem !important;
}
.doc-or-form-item li {
  display: flex;
  padding: 1.5rem;
}
.doc-or-form-item li .icon {
  align-self: center;
  width: 2rem;
  margin-right: 2rem;
}
.doc-or-form-item li .icon svg {
  width: 2rem;
  height: 2rem;
}
.doc-or-form-item li .icon svg .fill-target {
  transition: all 125ms ease-in-out;
}
.doc-or-form-item li .icon a svg:hover .fill-target {
  fill: #0a5aff;
}
.doc-or-form-item li .text {
  flex: 1;
  align-self: center;
}
.doc-or-form-item li .text h3 a {
  color: inherit;
  transition: all 125ms ease-in-out;
}
.doc-or-form-item li .text h3 a:hover {
  color: #0a5aff;
  text-decoration-color: #0a5aff;
}
.doc-or-form-item li .text p {
  font-size: 0.875rem;
  line-height: 140%;
}

input.search {
  border: 2px solid #e6e6e5;
  background-color: #ffffff;
}

body .flow-content {
  background-color: #ffffff;
  margin-bottom: 100vh;
}
body.site-header-aoc-active {
  margin-top: 60vh !important;
  box-shadow: 0 -1rem 5rem #0b0b0a;
}
body.site-header-menu-active {
  background-color: #1d1d1b;
}
body.site-header-menu-active .acknowledgement-of-country.footer {
  display: none;
}
body.site-header-menu-active .flow-content {
  margin-bottom: 0;
}
body.site-header-menu-active .flow-content #main-content,
body.site-header-menu-active .flow-content > footer {
  display: none;
}
body.site-header-menu-active.site-header-aoc-active {
  top: -60vh;
}

.container,
.container-unlimited {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .container,
.container-unlimited {
    padding: 0 2rem;
  }
}
@media (min-width: 80rem) {
  .container,
.container-unlimited {
    padding: 0 3rem;
  }
}

.container {
  max-width: 80rem;
}
.container .article-content {
  margin: 0 auto;
  max-width: 48rem;
}
.container .article-content > section > p:not(.disclaimer),
.container .article-content > p:not(.disclaimer):not(.heading-two),
.container .article-content > ul,
.container .article-content > ol {
  font-size: 1.125rem;
  line-height: 170%;
}
.container .article-content img {
  margin: 3rem 0;
}
.container .article-content h2 {
  margin-top: 9rem;
}

main > article.container {
  padding-bottom: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.grid > * {
  grid-column: span 12;
}
@media (min-width: 40rem) {
  .grid {
    gap: 1.5rem;
  }
  .grid > * {
    grid-column: span 6;
  }
}
@media (min-width: 48rem) {
  .grid {
    gap: 2rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}
@media (min-width: 80rem) {
  .grid {
    gap: 3rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}

.table-intro > * {
  grid-column: span 1;
}
@media (min-width: 40rem) {
  .table-intro > * {
    grid-column: span 12;
  }
}
@media (min-width: 48rem) {
  .table-intro > * {
    grid-column: span 9;
  }
}
@media (min-width: 80rem) {
  .table-intro > * {
    grid-column: span 6;
  }
}

.table-disclaimers > * {
  grid-column: span 1;
}
@media (min-width: 40rem) {
  .table-disclaimers > * {
    grid-column: span 9;
  }
}
@media (min-width: 48rem) {
  .table-disclaimers > * {
    grid-column: span 6;
  }
}
@media (min-width: 80rem) {
  .table-disclaimers > * {
    grid-column: span 6;
  }
}

table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
@media (min-width: 40rem) {
  table th:only-of-type {
    padding-right: 1rem;
  }
}
@media (min-width: 48rem) {
  table th:only-of-type {
    padding-right: 3rem;
  }
}

.callout {
  margin-top: 6rem;
  margin-bottom: 6rem;
  background-color: #fbf9f9;
  padding: 6rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.callout > * {
  text-align: center;
  max-width: 40rem;
}

button,
.button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 0;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
  text-align: center;
}
button.full-width,
.button.full-width {
  padding: 2rem 0;
  width: 100%;
}
button.primary,
.button.primary {
  color: #ffffff;
  background-color: #000000;
}
button.primary.inverted,
.button.primary.inverted {
  color: #000000;
  background-color: #ffffff;
}
button.primary:hover,
.button.primary:hover {
  background-color: #0a5aff;
}
button.clear,
.button.clear {
  color: inherit;
  background-color: inherit;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plain {
  list-style-type: none;
}

input.search {
  width: 100%;
  padding: 1rem 1rem 1rem 3.5rem;
  background-image: url(/images/icons/search.svg);
  background-position: 0.75rem;
  background-repeat: no-repeat;
  background-size: 2rem auto;
  margin-bottom: 6rem;
  font-size: 1.125rem;
}

.table-container .grid-row .balanced-index.row-data {
  color: #3c1631;
}
.table-container .grid-row .balanced-index.row-data svg.fill-core .fill-target {
  fill: #c445a2;
}
.table-container .grid-row .balanced-index.row-data svg.fill-core .stroke-target {
  stroke: #c445a2;
}
.table-container .grid-row .balanced-index.row-data svg.fill-light .stroke-target {
  stroke: #dc91c8;
}
.table-container .grid-row .balanced-index.row-data .button {
  background-color: #c445a2;
}
.table-container .grid-row .balanced-index.row-data .button:hover {
  background-color: #3c1631;
}
.table-container .grid-row .balanced-impact.row-data {
  color: #002166;
}
.table-container .grid-row .balanced-impact.row-data svg.fill-core .fill-target {
  fill: #0a5aff;
}
.table-container .grid-row .balanced-impact.row-data svg.fill-core .stroke-target {
  stroke: #0a5aff;
}
.table-container .grid-row .balanced-impact.row-data svg.fill-light .stroke-target {
  stroke: #a3c1ff;
}
.table-container .grid-row .balanced-impact.row-data .button {
  background-color: #0a5aff;
}
.table-container .grid-row .balanced-impact.row-data .button:hover {
  background-color: #002166;
}
.table-container .grid-row .renewables-plus-growth.row-data {
  color: #025018;
}
.table-container .grid-row .renewables-plus-growth.row-data svg.fill-core .fill-target {
  fill: #2bb151;
}
.table-container .grid-row .renewables-plus-growth.row-data svg.fill-core .stroke-target {
  stroke: #2bb151;
}
.table-container .grid-row .renewables-plus-growth.row-data svg.fill-light .stroke-target {
  stroke: #97ddab;
}
.table-container .grid-row .renewables-plus-growth.row-data .button {
  background-color: #2bb151;
}
.table-container .grid-row .renewables-plus-growth.row-data .button:hover {
  background-color: #025018;
}
.table-container .grid-row .balanced-growth-pension.row-data {
  color: #322401;
}
.table-container .grid-row .balanced-growth-pension.row-data svg.fill-core .fill-target {
  fill: #9a6f04;
}
.table-container .grid-row .balanced-growth-pension.row-data svg.fill-core .stroke-target {
  stroke: #9a6f04;
}
.table-container .grid-row .balanced-growth-pension.row-data svg.fill-light .stroke-target {
  stroke: #fac33c;
}
.table-container .grid-row .balanced-growth-pension.row-data .button {
  background-color: #9a6f04;
}
.table-container .grid-row .balanced-growth-pension.row-data .button:hover {
  background-color: #322401;
}

.table-intro {
  margin-bottom: 1rem;
}
.table-intro > * {
  grid-column: span 12;
}
@media (min-width: 48rem) {
  .table-intro > * {
    grid-column: span 6;
  }
}

.table-container {
  overflow-x: visible;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6rem;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .table-container {
    padding: 0 2rem;
  }
}
.table-container:last-of-type {
  display: none;
}
@media (min-width: 40rem) {
  .table-container:last-of-type {
    display: block;
    margin-top: -6rem;
  }
}
.table-container .grid-row {
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}
.table-container .grid-row:not(:last-of-type) {
  border-bottom: 0.125rem solid #f5f5f4;
}
.table-container .grid-row:first-of-type:not(:only-of-type) {
  position: sticky;
  top: -2rem;
  background-color: #ffffff;
  z-index: 2;
  border-bottom: 0.125rem solid #dadad7;
}
@media (min-width: 40rem) {
  .table-container .grid-row:first-of-type:not(:only-of-type) {
    position: static;
    top: 0;
    background-color: none;
    z-index: auto;
  }
}
.table-container .grid-row .row-header,
.table-container .grid-row .row-data {
  justify-items: start;
}
.table-container .grid-row .row-header h5,
.table-container .grid-row .row-header p,
.table-container .grid-row .row-data h5,
.table-container .grid-row .row-data p {
  font-size: 0.875rem;
  line-height: 125%;
  margin: 0;
  padding: 0;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-header h5,
.table-container .grid-row .row-header p,
.table-container .grid-row .row-data h5,
.table-container .grid-row .row-data p {
    font-size: 1rem;
    line-height: 100%;
  }
}
.table-container .grid-row .row-header h5,
.table-container .grid-row .row-data h5 {
  font-size: 1rem;
}
.table-container .grid-row .row-header {
  grid-column: span 12;
  grid-row: 1;
  position: relative;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-header {
    grid-column: span 3;
  }
}
@media (min-width: 48rem) {
  .table-container .grid-row .row-header {
    grid-column: span 6;
  }
}
.table-container .grid-row .row-header h3 {
  position: absolute;
  bottom: 0;
}
.table-container .grid-row .row-header p {
  font-size: 0.875rem;
  color: #76766f;
  margin-top: 1rem;
}
.table-container .grid-row .row-data {
  grid-column: span 4;
  grid-row: 2;
  font-family: "JetBrainsMono", monospace;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-data {
    grid-column: span 3;
    grid-row: 1;
  }
}
@media (min-width: 48rem) {
  .table-container .grid-row .row-data {
    grid-column: span 2;
  }
}
.table-container .grid-row .row-data.highlight-investments {
  font-size: 0.75rem;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-data.highlight-investments {
    font-size: 0.875rem;
  }
}
.table-container .grid-row .row-data.highlight-investments li:not(:last-of-type) {
  margin-bottom: 1rem;
}
.table-container .grid-row .row-data p.caption {
  margin-top: 0.25rem;
}
.table-container .grid-row .row-data p.caption:not(:last-of-type) {
  margin-bottom: 2rem;
}
.table-container .grid-row .row-data p.caption small {
  font-size: 0.6875rem;
  line-height: 102%;
  color: #76766f;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-data p.caption small {
    font-size: 0.75rem;
    line-height: 115%;
    color: #52524c;
  }
}
.table-container .grid-row .option-card-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
.table-container .grid-row .option-card-mini svg {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.1rem;
  margin-left: -0.25rem;
}
@media (min-width: 40rem) {
  .table-container .grid-row .option-card-mini svg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.25rem;
    margin-left: 0;
  }
}
.table-container .grid-row .option-card-mini h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
@media (min-width: 48rem) {
  .table-container .grid-row .option-card-mini h4 {
    font-size: 1.125rem;
  }
}
.table-container .grid-row .option-card-mini .button {
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0.75rem 0;
}
@media (min-width: 40rem) {
  .table-container .grid-row .option-card-mini .button {
    font-size: 1rem;
    padding: 1rem 0;
  }
}
@media (min-width: 40rem) {
  .table-container .grid-row {
    gap: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .table-container .grid-row {
    gap: 2rem;
  }
}
@media (min-width: 40rem) {
  .table-container.one-up .grid-row .row-header {
    grid-column: span 4;
  }
}
@media (min-width: 48rem) {
  .table-container.one-up .grid-row .row-header {
    grid-column: span 6;
  }
}
.table-container.one-up .grid-row .row-data {
  grid-column: span 12;
}
@media (min-width: 40rem) {
  .table-container.one-up .grid-row .row-data {
    grid-column: span 8;
  }
}
@media (min-width: 48rem) {
  .table-container.one-up .grid-row .row-data {
    grid-column: span 6;
  }
}
.table-container.four-up .grid-row {
  gap: 0.75rem;
}
@media (min-width: 376px) {
  .table-container.four-up .grid-row {
    gap: 1.5rem;
  }
}
@media (min-width: 40rem) {
  .table-container.four-up .grid-row .row-header {
    grid-column: span 4;
  }
}
@media (min-width: 48rem) {
  .table-container.four-up .grid-row .row-header {
    grid-column: span 4;
  }
}
.table-container.four-up .grid-row .row-data {
  grid-column: span 3;
}
@media (min-width: 40rem) {
  .table-container.four-up .grid-row .row-data {
    grid-column: span 2;
  }
}
.table-container.four-up .grid-row .row-data.option-card-mini {
  overflow: hidden;
}
.table-container.four-up .grid-row .row-data.option-card-mini h4 {
  font-size: 0.75rem;
}

.table-disclaimers {
  margin-top: -3rem;
  margin-bottom: 6rem;
}
.table-disclaimers > * {
  grid-column: span 12;
}
@media (min-width: 48rem) {
  .table-disclaimers > * {
    grid-column: span 5;
  }
}

.tooltip {
  position: relative;
  display: inline;
  text-decoration: dotted underline;
  -webkit-text-decoration: dotted underline;
}
.tooltip:hover {
  cursor: help;
  color: #0a5aff;
}
.tooltip:hover .tooltip-text {
  display: block;
}
.tooltip .tooltip-text {
  font-family: "JetBrainsMono", monospace;
  font-weight: 500;
  letter-spacing: -1%;
  display: none;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.75rem;
  position: absolute;
  z-index: 3;
  width: 13rem;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 100%;
}
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #140f14 transparent transparent transparent;
}
.tooltip .tooltip-text.left {
  text-align: left;
  transform: translate(-0.5rem, 0);
  left: 0;
}
.tooltip .tooltip-text.left::after {
  left: 2.5rem;
}
.tooltip .tooltip-text.right {
  text-align: right;
  transform-origin: top right;
  transform: translate(0, 0);
  left: -7.75rem;
}
.tooltip .tooltip-text.right::after {
  left: calc(100% - 2.5rem);
}

article header, .product-review-carousel figure .star-container .star, .dithered-img {
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming)*/
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
}

.flow-content {
  background-color: #ddffe7 !important;
  position: relative;
}

.dithered-img-container,
.article-content {
  position: relative;
}

article header .button,
.tidbit .button,
article .button {
  font-size: 1.75rem;
  padding: 1rem 0;
  width: 100%;
}
@media (min-width: 40rem) {
  article header .button,
.tidbit .button,
article .button {
    width: inherit;
    padding: 1rem 10rem;
  }
}

.poster {
  text-align: center;
  word-spacing: 100vw;
  margin: 0 auto 4rem;
  width: max-content;
  width: clamp(16rem, 62vw, 21rem);
  height: clamp(18rem, 48vh, 30rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 48rem) {
  .poster {
    width: clamp(16rem, 64vw, 24rem);
    height: clamp(18rem, 54vh, 40rem);
  }
}
.poster h1,
.poster h2 {
  color: rgba(255, 255, 255, 0.9);
}

.dithered-img {
  position: absolute;
}

article h1,
article h2,
article h3,
article h4,
article header .button,
.tidbit .button,
.article-content .button {
  font-weight: normal;
}

.poster h1,
.poster h2 {
  margin-bottom: 0;
  line-height: 100%;
  text-transform: uppercase;
  font-size: clamp(3rem, 5vh, 5rem);
}
@media (min-width: 48rem) {
  .poster h1,
.poster h2 {
    font-size: clamp(3rem, 9vh, 5rem);
  }
}

article header .poster {
  width: clamp(16rem, 62vw, 28rem);
  height: clamp(22rem, 48vh, 50vh);
}
@media (min-width: 48rem) {
  article header .poster {
    width: clamp(28rem, 40vw, 28rem);
    height: clamp(10rem, 56vh, 60rem);
  }
}
article header .poster h1 {
  margin-bottom: 0;
}

body > .flow-content {
  overflow: hidden;
}
body > .flow-content > footer {
  background: #ffffff;
}

article header {
  margin-top: -5rem;
  padding-top: 3rem;
  padding-bottom: 6vh;
  background-color: #ddffe7;
  background-image: url("/images/filled/smoke-stack.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top -16rem center;
  text-align: center;
}
@media (min-width: 48rem) {
  article header {
    margin-top: 0;
    padding-top: 0;
    background-image: url(/images/filled/smoke-stack.png), url(/images/filled/smoke-stack.png);
    background-size: 32vh;
    background-position: top -4rem left 25%, top 8rem right 25%;
  }
}
article header .poster {
  background-color: #ddffe7;
}
article header .poster h1 {
  color: #2bb151;
}
article header .button {
  position: relative;
  top: 3rem;
}
article header p {
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 125%;
  background-color: #ddffe7;
}

.tidbit {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-repeat: no-repeat;
}
.tidbit p:not(.disclaimer) {
  text-indent: 1.75rem;
  font-size: 1.75rem !important;
  line-height: 115% !important;
}
@media (min-width: 48rem) {
  .tidbit p:not(.disclaimer) {
    font-size: 2.5rem !important;
    text-indent: 3.5rem;
  }
}
.tidbit p:not(.disclaimer) span {
  font-family: "JetBrainsMono", monospace;
  font-size: 0.75rem;
  color: #30302c;
  vertical-align: top;
  position: relative;
  top: -2px;
}
.tidbit aside {
  margin-top: 2rem;
}
.tidbit aside .disclaimer {
  font-family: "JetBrainsMono", monospace;
  color: #52524c;
}
.tidbit .button {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.tidbit#give-fossil-fuels-the-flick {
  background-color: #ffe6e1;
}
.tidbit#give-fossil-fuels-the-flick .coal {
  width: 20rem;
  height: 20rem;
  top: -2rem;
  right: -2rem;
  background-color: #ffebb9;
  background-image: url("/images/cutouts/coal-320h.png");
  background-size: 20rem 20rem;
  background-image: url("/images/cutouts/coal-sprite-320h.png");
  background-size: 100rem 20rem;
  animation: coalMoveX 5000ms steps(5) infinite;
}
@media (min-width: 48rem) {
  .tidbit#give-fossil-fuels-the-flick .coal {
    width: 30rem;
    height: 30rem;
    top: -2rem;
    bottom: auto;
    left: auto;
    right: 40%;
  }
}
@media (min-width: 48rem) {
  .tidbit#give-fossil-fuels-the-flick .coal {
    background-image: url("/images/cutouts/coal-480h.png");
    background-size: 30rem 30rem;
  }
}
@media (min-width: 48rem) {
  .tidbit#give-fossil-fuels-the-flick .coal {
    background-image: url("/images/cutouts/coal-sprite-480h.png");
    background-size: 150rem 30rem;
    animation: coalMoveXMd 5000ms steps(5) infinite;
  }
}
@keyframes coalMoveX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100rem;
  }
}
@keyframes coalMoveXMd {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -150rem;
  }
}
.tidbit#give-fossil-fuels-the-flick .smoke-stack {
  width: 20rem;
  height: 20rem;
  top: 40vh;
  right: 50%;
  background-color: #f9ecf5;
  background-image: url("/images/cutouts/smoke-stack-320h.png");
  background-size: 20rem 20rem;
  transform: scale(0.75);
}
@media (min-width: 48rem) {
  .tidbit#give-fossil-fuels-the-flick .smoke-stack {
    width: 30rem;
    height: 30rem;
    top: 30vh;
    bottom: auto;
    left: auto;
    right: 20%;
  }
}
@media (min-width: 48rem) {
  .tidbit#give-fossil-fuels-the-flick .smoke-stack {
    background-image: url("/images/cutouts/smoke-stack-480h.png");
    background-size: 30rem 30rem;
  }
}
.tidbit#give-fossil-fuels-the-flick .barrel {
  width: 20rem;
  height: 20rem;
  top: 75vh;
  right: 0;
  background-color: #ffebb9;
  background-image: url("/images/cutouts/barrel-320h.png");
  background-size: 20rem 20rem;
  background-image: url("/images/cutouts/barrel-sprite-320h.png");
  background-size: 320rem 20rem;
  animation: barrelMoveX 2000ms steps(16) infinite;
}
@media (min-width: 48rem) {
  .tidbit#give-fossil-fuels-the-flick .barrel {
    width: 30rem;
    height: 30rem;
    top: 54vh;
    bottom: auto;
    left: 20%;
    right: auto;
  }
}
@media (min-width: 48rem) {
  .tidbit#give-fossil-fuels-the-flick .barrel {
    background-image: url("/images/cutouts/barrel-480h.png");
    background-size: 30rem 30rem;
  }
}
@media (min-width: 48rem) {
  .tidbit#give-fossil-fuels-the-flick .barrel {
    background-image: url("/images/cutouts/barrel-sprite-480h.png");
    background-size: 480rem 30rem;
    animation: barrelMoveXMd 2000ms steps(16) infinite;
  }
}
@keyframes barrelMoveX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -320rem;
  }
}
@keyframes barrelMoveXMd {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -480rem;
  }
}
.tidbit#give-fossil-fuels-the-flick .poster {
  background-color: #f04b23;
  margin-bottom: 54vh;
}
@media (min-width: 48rem) {
  .tidbit#give-fossil-fuels-the-flick .poster {
    margin-top: 6vh;
    margin-bottom: 24vh;
  }
}
.tidbit#give-fossil-fuels-the-flick .disclaimer {
  grid-column: 5/13;
}
.tidbit#your-money-talks {
  background-color: #ffebb9;
}
.tidbit#your-money-talks .coin {
  width: 20rem;
  height: 20rem;
  top: -2vh;
  right: -5rem;
  background-color: #140f14;
  background-image: url("/images/cutouts/coin-320h.png");
  background-size: 20rem 20rem;
  background-image: url("/images/cutouts/coin-sprite-320h.png");
  background-size: 340rem 20rem;
  animation: coinMoveX 2000ms steps(17) infinite;
  transform: scale(0.75);
  transform-origin: top right;
}
@media (min-width: 48rem) {
  .tidbit#your-money-talks .coin {
    width: 30rem;
    height: 30rem;
    top: 4vh;
    bottom: auto;
    left: 52%;
    right: auto;
  }
}
@media (min-width: 48rem) {
  .tidbit#your-money-talks .coin {
    background-image: url("/images/cutouts/coin-480h.png");
    background-size: 30rem 30rem;
  }
}
@media (min-width: 48rem) {
  .tidbit#your-money-talks .coin {
    background-image: url("/images/cutouts/coin-sprite-480h.png");
    background-size: 510rem 30rem;
    animation: coinMoveXMd 2000ms steps(17) infinite;
  }
}
@keyframes coinMoveX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -340rem;
  }
}
@keyframes coinMoveXMd {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -510rem;
  }
}
.tidbit#your-money-talks .earth {
  width: 20rem;
  height: 20rem;
  top: 40vh;
  left: -20%;
  background-color: #d0e0ff;
  background-image: url("/images/cutouts/earth-320h.png");
  background-size: 20rem 20rem;
}
@media (min-width: 48rem) {
  .tidbit#your-money-talks .earth {
    width: 30rem;
    height: 30rem;
    top: 50vh;
    bottom: auto;
    left: 28%;
    right: auto;
  }
}
@media (min-width: 48rem) {
  .tidbit#your-money-talks .earth {
    background-image: url("/images/cutouts/earth-480h.png");
    background-size: 30rem 30rem;
  }
}
.tidbit#your-money-talks .poster {
  background: #2bb151;
  background-color: #fac33c;
  margin-bottom: 15vh;
}
@media (min-width: 48rem) {
  .tidbit#your-money-talks .poster {
    margin-top: 6vh;
    margin-bottom: 24vh;
  }
}
.tidbit#your-money-talks .button {
  color: #140f14;
  background-color: #fac33c;
}
.tidbit#your-money-talks .button:hover {
  color: #ffffff;
  background-color: #0a5aff;
}
.tidbit#your-money-talks .disclaimer {
  grid-column: 4/13;
}
.tidbit#join-in-a-few-taps {
  background-color: #ddffe7;
}
.tidbit#join-in-a-few-taps .wind {
  width: 20rem;
  height: 20rem;
  top: 2rem;
  left: -5rem;
  background-color: #ffebb9;
  background-image: url("/images/cutouts/wind-320h.png");
  background-size: 20rem 20rem;
  transform: scale(0.75);
  transform-origin: top left;
}
@media (min-width: 48rem) {
  .tidbit#join-in-a-few-taps .wind {
    width: 30rem;
    height: 30rem;
    top: 10vh;
    bottom: auto;
    left: auto;
    right: 50%;
  }
}
@media (min-width: 48rem) {
  .tidbit#join-in-a-few-taps .wind {
    background-image: url("/images/cutouts/wind-480h.png");
    background-size: 30rem 30rem;
  }
}
.tidbit#join-in-a-few-taps .flower {
  width: 20rem;
  height: 20rem;
  top: 34vh;
  right: -6rem;
  background-color: #f9ecf5;
  background-image: url("/images/cutouts/flower-320h.png");
  background-size: 20rem 20rem;
  background-image: url("/images/cutouts/flower-sprite-320h.png");
  background-size: 100rem 20rem;
  animation: flowerMoveX 2000ms steps(5) infinite;
}
@media (min-width: 48rem) {
  .tidbit#join-in-a-few-taps .flower {
    width: 30rem;
    height: 30rem;
    top: 40vh;
    bottom: auto;
    left: 54%;
    right: auto;
  }
}
@media (min-width: 48rem) {
  .tidbit#join-in-a-few-taps .flower {
    background-image: url("/images/cutouts/flower-480h.png");
    background-size: 30rem 30rem;
  }
}
@media (min-width: 48rem) {
  .tidbit#join-in-a-few-taps .flower {
    background-image: url("/images/cutouts/flower-sprite-480h.png");
    background-size: 150rem 30rem;
    animation: flowerMoveXMd 2000ms steps(5) infinite;
  }
}
@keyframes flowerMoveX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100rem;
  }
}
@keyframes flowerMoveXMd {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -150rem;
  }
}
.tidbit#join-in-a-few-taps .poster {
  background-color: #2bb151;
  margin-bottom: 10vh;
}
@media (min-width: 48rem) {
  .tidbit#join-in-a-few-taps .poster {
    margin-top: 6vh;
    margin-bottom: 24vh;
  }
}

.product-review-carousel {
  padding: 8rem 0;
  color: #000000;
  background-color: #f9ecf5;
}
.product-review-carousel .coal {
  width: 20rem;
  height: 20rem;
  top: -2rem;
  left: -4rem;
  background-color: #ffebb9;
  background-image: url("/images/cutouts/coal-320h.png");
  background-size: 20rem 20rem;
  background-image: url("/images/cutouts/coal-sprite-320h.png");
  background-size: 100rem 20rem;
  animation: coalMoveX 5000ms steps(5) infinite;
  transform: scale(0.75);
  transform-origin: top left;
}
@media (min-width: 48rem) {
  .product-review-carousel .coal {
    width: 30rem;
    height: 30rem;
    top: -2rem;
    bottom: auto;
    left: -4rem;
    right: auto;
  }
}
@media (min-width: 48rem) {
  .product-review-carousel .coal {
    background-image: url("/images/cutouts/coal-480h.png");
    background-size: 30rem 30rem;
  }
}
@media (min-width: 48rem) {
  .product-review-carousel .coal {
    background-image: url("/images/cutouts/coal-sprite-480h.png");
    background-size: 150rem 30rem;
    animation: coalMoveXMd 5000ms steps(5) infinite;
  }
}
@keyframes coalMoveX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100rem;
  }
}
@keyframes coalMoveXMd {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -150rem;
  }
}
.product-review-carousel .smoke-stack {
  width: 20rem;
  height: 20rem;
  bottom: 14rem;
  right: -2rem;
  background-color: #ddffe7;
  background-image: url("/images/cutouts/smoke-stack-320h.png");
  background-size: 20rem 20rem;
}
@media (min-width: 48rem) {
  .product-review-carousel .smoke-stack {
    width: 30rem;
    height: 30rem;
    top: auto;
    bottom: 4rem;
    left: auto;
    right: -2rem;
  }
}
@media (min-width: 48rem) {
  .product-review-carousel .smoke-stack {
    background-image: url("/images/cutouts/smoke-stack-480h.png");
    background-size: 30rem 30rem;
  }
}
.product-review-carousel figure {
  height: auto;
  padding: 2rem 2rem 6rem 2rem;
  background-color: #f9ecf5;
}
.product-review-carousel figure .star-container {
  display: flex;
  margin-bottom: 2rem;
}
.product-review-carousel figure .star-container .star {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  background-image: url("/images/cutouts/star-sprite.png");
  background-size: 11.25rem 1.25rem;
  animation: moveStarX 1000ms steps(9) infinite;
}
.product-review-carousel figure .star-container .star:nth-of-type(2) {
  animation-delay: 25ms;
}
.product-review-carousel figure .star-container .star:nth-of-type(3) {
  animation-delay: 50ms;
}
.product-review-carousel figure .star-container .star:nth-of-type(4) {
  animation-delay: 75ms;
}
.product-review-carousel figure .star-container .star:nth-of-type(5) {
  animation-delay: 100ms;
}
@keyframes moveStarX {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -360px;
  }
}
.product-review-carousel figure blockquote .review-title {
  font-size: 1.75rem;
}
@media (min-width: 40rem) {
  .product-review-carousel figure blockquote .review-title {
    font-size: 3rem;
  }
}
.product-review-carousel figure blockquote .review-title {
  line-height: 130%;
  margin-right: 4rem;
  text-indent: -0.5rem;
}
@media (min-width: 40rem) {
  .product-review-carousel figure blockquote .review-title {
    margin-right: 0;
    line-height: 120%;
    text-indent: 0;
  }
}
.product-review-carousel figure blockquote .review-title:before {
  content: open-quote;
}
.product-review-carousel figure blockquote .review-title:after {
  content: close-quote;
}
.product-review-carousel figure figcaption cite {
  font-style: normal;
}
.product-review-carousel figure figcaption cite a {
  color: inherit;
}
.product-review-carousel figure figcaption cite a:hover {
  color: #c851a3;
}
.product-review-carousel footer {
  padding-top: 7rem;
}
.product-review-carousel footer .see-all-reviews {
  position: absolute;
  bottom: 3rem;
}
@media (min-width: 40rem) {
  .product-review-carousel footer .see-all-reviews {
    font-size: 1.5rem;
  }
}
.product-review-carousel footer .see-all-reviews a {
  color: inherit;
}
.product-review-carousel footer .see-all-reviews a:hover {
  color: #c851a3;
}

/*# sourceMappingURL=home2.css.map */
