@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
main:focus {
  outline: none;
}

address {
  font-style: inherit;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMonoVariable-subset.woff2") format("woff2");
  font-weight: 1 999;
  font-display: swap;
}
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #000000;
}

.heading-zero {
  text-transform: uppercase;
  line-height: 98%;
  text-align: center;
  color: #140f14;
  font-size: 3rem;
  font-size: min(max(2rem, 7vw), 6rem);
}

h1 {
  font-weight: 900;
  line-height: 115%;
  margin-bottom: 1.8rem;
  font-size: 2.8rem;
  font-size: clamp(2rem, 14vw, 5rem);
  letter-spacing: -0.09rem;
  overflow-wrap: break-word;
}

h2 {
  font-weight: 900;
  line-height: 115%;
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-size: min(max(1.5rem, 4vw), 5rem);
  letter-spacing: -0.04rem;
}

h3,
.heading-three {
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-size: min(max(1rem, 3vw), 1.8rem);
}

h4 {
  line-height: 115%;
}

h5,
.heading-five {
  font-size: 0.875rem;
  line-height: 115%;
}

p {
  margin-bottom: 1rem;
}
p a {
  color: inherit;
  transition: all 125ms ease-in-out;
}
p a:hover {
  color: #0a5aff;
}

.disclaimer {
  color: #76766f;
  font-size: 0.75rem;
  line-height: 140%;
}
.disclaimer a:hover {
  color: #140f14;
}

.bold {
  font-weight: 700;
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}

.text-tertiary {
  color: #76766f;
}

.breadcrumb {
  color: #dadad7;
}
.breadcrumb a {
  color: #76766f;
}

.pink {
  color: #c445a2;
}

.green {
  color: #2bb151;
}

.yellow {
  color: #fac33c;
}

.red {
  color: #f04b23;
}

details,
.doc-or-form-item li,
.career-item li {
  border: 1px solid #000000;
  background-color: #ffffff;
  transition: background-color 550ms ease-in-out;
}
details:not(:last-of-type),
.doc-or-form-item li:not(:last-of-type),
.career-item li:not(:last-of-type) {
  margin-bottom: -1px;
}

details summary {
  cursor: pointer;
  padding: 1.5rem;
  font-weight: 500;
}
details summary:focus {
  outline: none;
}
details summary:hover {
  background-color: #f5f5f4;
}
details .contents {
  padding: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 160%;
  border-top: 1px solid #000000;
}
details .contents :last-child {
  margin-bottom: 0;
}

.doc-or-form-item li:hover,
.career-item li:hover {
  background-color: #f5f5f4;
}
.doc-or-form-item li h3,
.career-item li h3 {
  font-size: 1.125rem;
  margin: 0 0 0.5rem 0 !important;
  line-height: 100%;
}
.doc-or-form-item li p,
.career-item li p {
  margin-bottom: 0;
}

.career-item a {
  display: block;
  padding: 1.5rem;
  color: inherit;
  text-decoration: none;
}
.career-item a p {
  font-size: 1rem;
  line-height: 140%;
}

.doc-or-form-item {
  margin-bottom: 1rem !important;
}
.doc-or-form-item li {
  display: flex;
  padding: 1.5rem;
}
.doc-or-form-item li .icon {
  align-self: center;
  width: 2rem;
  margin-right: 2rem;
}
.doc-or-form-item li .icon svg {
  width: 2rem;
  height: 2rem;
}
.doc-or-form-item li .icon svg .fill-target {
  transition: all 125ms ease-in-out;
}
.doc-or-form-item li .icon a svg:hover .fill-target {
  fill: #0a5aff;
}
.doc-or-form-item li .text {
  flex: 1;
  align-self: center;
}
.doc-or-form-item li .text h3 a {
  color: inherit;
  transition: all 125ms ease-in-out;
}
.doc-or-form-item li .text h3 a:hover {
  color: #0a5aff;
  text-decoration-color: #0a5aff;
}
.doc-or-form-item li .text p {
  font-size: 0.875rem;
  line-height: 140%;
}

input.search {
  border: 2px solid #e6e6e5;
  background-color: #ffffff;
}

body .flow-content {
  background-color: #ffffff;
  margin-bottom: 100vh;
}
body.site-header-aoc-active {
  margin-top: 60vh !important;
  box-shadow: 0 -1rem 5rem #0b0b0a;
}
body.site-header-menu-active {
  background-color: #1d1d1b;
}
body.site-header-menu-active .acknowledgement-of-country.footer {
  display: none;
}
body.site-header-menu-active .flow-content {
  margin-bottom: 0;
}
body.site-header-menu-active .flow-content #main-content,
body.site-header-menu-active .flow-content > footer {
  display: none;
}
body.site-header-menu-active.site-header-aoc-active {
  top: -60vh;
}

.container,
.container-unlimited {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .container,
.container-unlimited {
    padding: 0 2rem;
  }
}
@media (min-width: 80rem) {
  .container,
.container-unlimited {
    padding: 0 3rem;
  }
}

.container {
  max-width: 80rem;
}
.container .article-content {
  margin: 0 auto;
  max-width: 48rem;
}
.container .article-content > section > p:not(.disclaimer),
.container .article-content > p:not(.disclaimer):not(.heading-two),
.container .article-content > ul,
.container .article-content > ol {
  font-size: 1.125rem;
  line-height: 170%;
}
.container .article-content img {
  margin: 3rem 0;
}
.container .article-content h2 {
  margin-top: 9rem;
}

main > article.container {
  padding-bottom: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.grid > * {
  grid-column: span 12;
}
@media (min-width: 40rem) {
  .grid {
    gap: 1.5rem;
  }
  .grid > * {
    grid-column: span 6;
  }
}
@media (min-width: 48rem) {
  .grid {
    gap: 2rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}
@media (min-width: 80rem) {
  .grid {
    gap: 3rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}

.table-intro > * {
  grid-column: span 1;
}
@media (min-width: 40rem) {
  .table-intro > * {
    grid-column: span 12;
  }
}
@media (min-width: 48rem) {
  .table-intro > * {
    grid-column: span 9;
  }
}
@media (min-width: 80rem) {
  .table-intro > * {
    grid-column: span 6;
  }
}

.table-disclaimers > * {
  grid-column: span 1;
}
@media (min-width: 40rem) {
  .table-disclaimers > * {
    grid-column: span 9;
  }
}
@media (min-width: 48rem) {
  .table-disclaimers > * {
    grid-column: span 6;
  }
}
@media (min-width: 80rem) {
  .table-disclaimers > * {
    grid-column: span 6;
  }
}

table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
@media (min-width: 40rem) {
  table th:only-of-type {
    padding-right: 1rem;
  }
}
@media (min-width: 48rem) {
  table th:only-of-type {
    padding-right: 3rem;
  }
}

.callout {
  margin-top: 6rem;
  margin-bottom: 6rem;
  background-color: #fbf9f9;
  padding: 6rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.callout > * {
  text-align: center;
  max-width: 40rem;
}

button,
.button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 0;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
  text-align: center;
}
button.full-width,
.button.full-width {
  padding: 2rem 0;
  width: 100%;
}
button.primary,
.button.primary {
  color: #ffffff;
  background-color: #000000;
}
button.primary.inverted,
.button.primary.inverted {
  color: #000000;
  background-color: #ffffff;
}
button.primary:hover,
.button.primary:hover {
  background-color: #0a5aff;
}
button.clear,
.button.clear {
  color: inherit;
  background-color: inherit;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plain {
  list-style-type: none;
}

input.search {
  width: 100%;
  padding: 1rem 1rem 1rem 3.5rem;
  background-image: url(/images/icons/search.svg);
  background-position: 0.75rem;
  background-repeat: no-repeat;
  background-size: 2rem auto;
  margin-bottom: 6rem;
  font-size: 1.125rem;
}

.table-container .grid-row .balanced-index.row-data {
  color: #3c1631;
}
.table-container .grid-row .balanced-index.row-data svg.fill-core .fill-target {
  fill: #c445a2;
}
.table-container .grid-row .balanced-index.row-data svg.fill-core .stroke-target {
  stroke: #c445a2;
}
.table-container .grid-row .balanced-index.row-data svg.fill-light .stroke-target {
  stroke: #dc91c8;
}
.table-container .grid-row .balanced-index.row-data .button {
  background-color: #c445a2;
}
.table-container .grid-row .balanced-index.row-data .button:hover {
  background-color: #3c1631;
}
.table-container .grid-row .balanced-impact.row-data {
  color: #002166;
}
.table-container .grid-row .balanced-impact.row-data svg.fill-core .fill-target {
  fill: #0a5aff;
}
.table-container .grid-row .balanced-impact.row-data svg.fill-core .stroke-target {
  stroke: #0a5aff;
}
.table-container .grid-row .balanced-impact.row-data svg.fill-light .stroke-target {
  stroke: #a3c1ff;
}
.table-container .grid-row .balanced-impact.row-data .button {
  background-color: #0a5aff;
}
.table-container .grid-row .balanced-impact.row-data .button:hover {
  background-color: #002166;
}
.table-container .grid-row .renewables-plus-growth.row-data {
  color: #025018;
}
.table-container .grid-row .renewables-plus-growth.row-data svg.fill-core .fill-target {
  fill: #2bb151;
}
.table-container .grid-row .renewables-plus-growth.row-data svg.fill-core .stroke-target {
  stroke: #2bb151;
}
.table-container .grid-row .renewables-plus-growth.row-data svg.fill-light .stroke-target {
  stroke: #97ddab;
}
.table-container .grid-row .renewables-plus-growth.row-data .button {
  background-color: #2bb151;
}
.table-container .grid-row .renewables-plus-growth.row-data .button:hover {
  background-color: #025018;
}
.table-container .grid-row .balanced-growth-pension.row-data {
  color: #322401;
}
.table-container .grid-row .balanced-growth-pension.row-data svg.fill-core .fill-target {
  fill: #9a6f04;
}
.table-container .grid-row .balanced-growth-pension.row-data svg.fill-core .stroke-target {
  stroke: #9a6f04;
}
.table-container .grid-row .balanced-growth-pension.row-data svg.fill-light .stroke-target {
  stroke: #fac33c;
}
.table-container .grid-row .balanced-growth-pension.row-data .button {
  background-color: #9a6f04;
}
.table-container .grid-row .balanced-growth-pension.row-data .button:hover {
  background-color: #322401;
}

.table-intro {
  margin-bottom: 1rem;
}
.table-intro > * {
  grid-column: span 12;
}
@media (min-width: 48rem) {
  .table-intro > * {
    grid-column: span 6;
  }
}

.table-container {
  overflow-x: visible;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6rem;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .table-container {
    padding: 0 2rem;
  }
}
.table-container:last-of-type {
  display: none;
}
@media (min-width: 40rem) {
  .table-container:last-of-type {
    display: block;
    margin-top: -6rem;
  }
}
.table-container .grid-row {
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}
.table-container .grid-row:not(:last-of-type) {
  border-bottom: 0.125rem solid #f5f5f4;
}
.table-container .grid-row:first-of-type:not(:only-of-type) {
  position: sticky;
  top: -2rem;
  background-color: #ffffff;
  z-index: 2;
  border-bottom: 0.125rem solid #dadad7;
}
@media (min-width: 40rem) {
  .table-container .grid-row:first-of-type:not(:only-of-type) {
    position: static;
    top: 0;
    background-color: none;
    z-index: auto;
  }
}
.table-container .grid-row .row-header,
.table-container .grid-row .row-data {
  justify-items: start;
}
.table-container .grid-row .row-header h5,
.table-container .grid-row .row-header p,
.table-container .grid-row .row-data h5,
.table-container .grid-row .row-data p {
  font-size: 0.875rem;
  line-height: 125%;
  margin: 0;
  padding: 0;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-header h5,
.table-container .grid-row .row-header p,
.table-container .grid-row .row-data h5,
.table-container .grid-row .row-data p {
    font-size: 1rem;
    line-height: 100%;
  }
}
.table-container .grid-row .row-header h5,
.table-container .grid-row .row-data h5 {
  font-size: 1rem;
}
.table-container .grid-row .row-header {
  grid-column: span 12;
  grid-row: 1;
  position: relative;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-header {
    grid-column: span 3;
  }
}
@media (min-width: 48rem) {
  .table-container .grid-row .row-header {
    grid-column: span 6;
  }
}
.table-container .grid-row .row-header h3 {
  position: absolute;
  bottom: 0;
}
.table-container .grid-row .row-header p {
  font-size: 0.875rem;
  color: #76766f;
  margin-top: 1rem;
}
.table-container .grid-row .row-data {
  grid-column: span 4;
  grid-row: 2;
  font-family: "JetBrainsMono", monospace;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-data {
    grid-column: span 3;
    grid-row: 1;
  }
}
@media (min-width: 48rem) {
  .table-container .grid-row .row-data {
    grid-column: span 2;
  }
}
.table-container .grid-row .row-data.highlight-investments {
  font-size: 0.75rem;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-data.highlight-investments {
    font-size: 0.875rem;
  }
}
.table-container .grid-row .row-data.highlight-investments li:not(:last-of-type) {
  margin-bottom: 1rem;
}
.table-container .grid-row .row-data p.caption {
  margin-top: 0.25rem;
}
.table-container .grid-row .row-data p.caption:not(:last-of-type) {
  margin-bottom: 2rem;
}
.table-container .grid-row .row-data p.caption small {
  font-size: 0.6875rem;
  line-height: 102%;
  color: #76766f;
}
@media (min-width: 40rem) {
  .table-container .grid-row .row-data p.caption small {
    font-size: 0.75rem;
    line-height: 115%;
    color: #52524c;
  }
}
.table-container .grid-row .option-card-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
.table-container .grid-row .option-card-mini svg {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.1rem;
  margin-left: -0.25rem;
}
@media (min-width: 40rem) {
  .table-container .grid-row .option-card-mini svg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.25rem;
    margin-left: 0;
  }
}
.table-container .grid-row .option-card-mini h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
@media (min-width: 48rem) {
  .table-container .grid-row .option-card-mini h4 {
    font-size: 1.125rem;
  }
}
.table-container .grid-row .option-card-mini .button {
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0.75rem 0;
}
@media (min-width: 40rem) {
  .table-container .grid-row .option-card-mini .button {
    font-size: 1rem;
    padding: 1rem 0;
  }
}
@media (min-width: 40rem) {
  .table-container .grid-row {
    gap: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .table-container .grid-row {
    gap: 2rem;
  }
}
@media (min-width: 40rem) {
  .table-container.one-up .grid-row .row-header {
    grid-column: span 4;
  }
}
@media (min-width: 48rem) {
  .table-container.one-up .grid-row .row-header {
    grid-column: span 6;
  }
}
.table-container.one-up .grid-row .row-data {
  grid-column: span 12;
}
@media (min-width: 40rem) {
  .table-container.one-up .grid-row .row-data {
    grid-column: span 8;
  }
}
@media (min-width: 48rem) {
  .table-container.one-up .grid-row .row-data {
    grid-column: span 6;
  }
}
.table-container.four-up .grid-row {
  gap: 0.75rem;
}
@media (min-width: 376px) {
  .table-container.four-up .grid-row {
    gap: 1.5rem;
  }
}
@media (min-width: 40rem) {
  .table-container.four-up .grid-row .row-header {
    grid-column: span 4;
  }
}
@media (min-width: 48rem) {
  .table-container.four-up .grid-row .row-header {
    grid-column: span 4;
  }
}
.table-container.four-up .grid-row .row-data {
  grid-column: span 3;
}
@media (min-width: 40rem) {
  .table-container.four-up .grid-row .row-data {
    grid-column: span 2;
  }
}
.table-container.four-up .grid-row .row-data.option-card-mini {
  overflow: hidden;
}
.table-container.four-up .grid-row .row-data.option-card-mini h4 {
  font-size: 0.75rem;
}

.table-disclaimers {
  margin-top: -3rem;
  margin-bottom: 6rem;
}
.table-disclaimers > * {
  grid-column: span 12;
}
@media (min-width: 48rem) {
  .table-disclaimers > * {
    grid-column: span 5;
  }
}

.perma-tooltip,
.tooltip-text {
  width: 13rem;
  font-family: "JetBrainsMono", monospace;
  font-weight: 500;
  letter-spacing: -1%;
  font-size: 0.75rem;
  padding: 0.75rem;
  position: absolute;
  z-index: 3;
}
.perma-tooltip::after,
.tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip {
  position: relative;
  display: inline;
  text-decoration: dotted underline;
  -webkit-text-decoration: dotted underline;
}
.tooltip:hover {
  cursor: help;
  color: #0a5aff;
}
.tooltip:hover .tooltip-text {
  display: block;
}
.tooltip .tooltip-text {
  display: none;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 100%;
}
.tooltip .tooltip-text::after {
  border-color: #140f14 transparent transparent transparent;
}
.tooltip .tooltip-text.left {
  text-align: left;
  transform: translate(-0.5rem, 0);
  left: 0;
}
.tooltip .tooltip-text.left::after {
  left: 2.5rem;
}
.tooltip .tooltip-text.right {
  text-align: right;
  transform-origin: top right;
  transform: translate(0, 0);
  left: -7.75rem;
}
.tooltip .tooltip-text.right::after {
  left: calc(100% - 2.5rem);
}

.perma-tooltip {
  background-color: #fac33c;
}
.perma-tooltip::after {
  border-color: #fac33c transparent transparent transparent;
}

.marquee-container, #rules-for-impact-investing, .dithered-img {
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming)*/
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
}

.flow-content {
  background-color: #ddffe7 !important;
  position: relative;
}

.dithered-img-container,
.article-content {
  position: relative;
}

article header .button,
.tidbit .button,
article .button {
  font-size: 1.75rem;
  padding: 1rem 0;
  width: 100%;
}
@media (min-width: 40rem) {
  article header .button,
.tidbit .button,
article .button {
    width: inherit;
    padding: 1rem 10rem;
  }
}

.poster {
  text-align: center;
  word-spacing: 100vw;
  margin: 0 auto 4rem;
  width: max-content;
  width: clamp(16rem, 62vw, 21rem);
  height: clamp(18rem, 48vh, 30rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 48rem) {
  .poster {
    width: clamp(16rem, 64vw, 24rem);
    height: clamp(18rem, 54vh, 40rem);
  }
}
.poster h1,
.poster h2 {
  color: rgba(255, 255, 255, 0.9);
}

.dithered-img {
  position: absolute;
}

article h1,
article h2,
article h3,
article h4,
article header .button,
.tidbit .button,
.article-content .button {
  font-weight: normal;
}

.poster h1,
.poster h2 {
  margin-bottom: 0;
  line-height: 100%;
  text-transform: uppercase;
  font-size: clamp(3rem, 5vh, 5rem);
}
@media (min-width: 48rem) {
  .poster h1,
.poster h2 {
    font-size: clamp(3rem, 9vh, 5rem);
  }
}

article header .poster {
  width: clamp(16rem, 62vw, 28rem);
  height: clamp(22rem, 48vh, 50vh);
}
@media (min-width: 48rem) {
  article header .poster {
    width: clamp(28rem, 40vw, 28rem);
    height: clamp(10rem, 56vh, 60rem);
  }
}
article header .poster h1 {
  margin-bottom: 0;
}

body > .flow-content {
  overflow: hidden;
}
body > .flow-content > footer {
  background: #ffffff;
}

#our-voting-record .poster, #everything-we-invest-in .poster, #how-we-exclude-investments .poster, #rules-for-impact-investing .poster, #our-theory-of-change .poster, article header .poster {
  height: auto;
  padding: 3rem 0.75rem;
}

.marquee-container .marquee ul, .marquee-container .marquee {
  height: 4rem;
}
@media (min-width: 48rem) {
  .marquee-container .marquee ul, .marquee-container .marquee {
    height: 5rem;
  }
}

.article-content > h2,
.article-content > h3,
.heading-two,
article header p {
  font-size: 1.75rem;
  line-height: 115%;
}
@media (min-width: 48rem) {
  .article-content > h2,
.article-content > h3,
.heading-two,
article header p {
    font-size: 2.5rem;
  }
}

.article-content > h2,
.article-content > h3 {
  color: #2bb151;
}

.article-content h3 {
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
}

.article-content p:not(.disclaimer) {
  text-indent: 1.75rem;
}

article {
  padding-bottom: 6rem;
}

.exclude {
  background-color: #ffe6e1;
}

.neutral {
  background-color: #f5f0f0;
}

.article-content .button,
.article-content .doc-or-form-item {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.marquee-container {
  margin: 2.5rem auto;
  height: 56vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 48rem) {
  .marquee-container {
    margin-bottom: 10rem;
    background-size: 28rem;
  }
}
.marquee-container.seek {
  background-image: url("/images/mixed/wind.jpg");
  background-color: #2bb151;
}
@media (min-width: 48rem) {
  .marquee-container.seek {
    background-color: initial;
  }
}
.marquee-container.exclude {
  background-image: url("/images/mixed/bulldozer.jpg");
  background-color: #f04b23;
}
@media (min-width: 48rem) {
  .marquee-container.exclude {
    background-color: initial;
  }
}
.marquee-container .marquee {
  top: calc(50% - 2rem);
  left: -1rem;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
@media (min-width: 48rem) {
  .marquee-container .marquee {
    top: calc(50% - 2.5rem);
    left: 0;
    width: 100%;
  }
}
.marquee-container .marquee.seek {
  background-color: #ddffe7;
  border-top: 1px solid #2bb151;
  border-bottom: 1px solid #2bb151;
}
.marquee-container .marquee.seek ul {
  animation: marquee 72s linear infinite;
}
.marquee-container .marquee.seek ul li {
  color: #2bb151;
}
.marquee-container .marquee.seek ul li::after {
  content: " ▲";
}
.marquee-container .marquee.exclude {
  background-color: #ffe6e1;
  border-top: 1px solid #f04b23;
  border-bottom: 1px solid #f04b23;
}
.marquee-container .marquee.exclude ul {
  animation: marquee 140s linear infinite;
}
.marquee-container .marquee.exclude ul li {
  color: #f04b23;
  text-decoration: line-through;
}
.marquee-container .marquee.exclude ul li::after {
  content: " ▼";
}
.marquee-container .marquee ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.marquee-container .marquee ul li {
  text-transform: uppercase;
  font-size: 2rem;
  margin-right: 5rem;
}
@media (min-width: 48rem) {
  .marquee-container .marquee ul li {
    font-size: 2.5rem;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

article header {
  margin-top: -8rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
article header .earth {
  width: 20rem;
  height: 20rem;
  top: 6rem;
  right: -20%;
  background-color: #d0e0ff;
  background-image: url("/images/cutouts/earth-320h.png");
  background-size: 20rem 20rem;
}
@media (min-width: 48rem) {
  article header .earth {
    width: 30rem;
    height: 30rem;
    top: 10vh;
    bottom: auto;
    left: 46%;
    right: auto;
  }
}
@media (min-width: 48rem) {
  article header .earth {
    background-image: url("/images/cutouts/earth-480h.png");
    background-size: 30rem 30rem;
  }
}
article header .flower {
  width: 20rem;
  height: 20rem;
  top: 34vh;
  left: -6rem;
  background-color: #f9ecf5;
  background-image: url("/images/cutouts/flower-320h.png");
  background-size: 20rem 20rem;
  background-image: url("/images/cutouts/flower-sprite-320h.png");
  background-size: 100rem 20rem;
  animation: flowerMoveX 2000ms steps(5) infinite;
}
@media (min-width: 48rem) {
  article header .flower {
    width: 30rem;
    height: 30rem;
    top: 42vh;
    bottom: auto;
    left: auto;
    right: 49%;
  }
}
@media (min-width: 48rem) {
  article header .flower {
    background-image: url("/images/cutouts/flower-480h.png");
    background-size: 30rem 30rem;
  }
}
@media (min-width: 48rem) {
  article header .flower {
    background-image: url("/images/cutouts/flower-sprite-480h.png");
    background-size: 150rem 30rem;
    animation: flowerMoveXMd 2000ms steps(5) infinite;
  }
}
@keyframes flowerMoveX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100rem;
  }
}
@keyframes flowerMoveXMd {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -150rem;
  }
}
article header .poster {
  background-color: #2bb151;
  margin-top: 26vh;
  margin-bottom: 30vh;
}
@media (min-width: 48rem) {
  article header .poster {
    margin-top: 26vh;
  }
}
article header p {
  color: #2bb151;
}

#mission p,
#our-theory-of-change p {
  font-size: 1.75rem;
  line-height: 115%;
}
@media (min-width: 48rem) {
  #mission p,
#our-theory-of-change p {
    font-size: 2.5rem;
    text-indent: 3.5rem;
  }
}

#mission {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
@media (min-width: 48rem) {
  #mission {
    margin-top: 5rem;
    margin-bottom: 9rem;
  }
}

#our-theory-of-change {
  padding-top: 5rem;
  position: relative;
}
#our-theory-of-change .banana {
  width: 20rem;
  height: 20rem;
  top: -2rem;
  left: -5rem;
  background-color: #d0e0ff;
  background-image: url("/images/cutouts/banana-320h.png");
  background-size: 20rem 20rem;
}
@media (min-width: 48rem) {
  #our-theory-of-change .banana {
    width: 30rem;
    height: 30rem;
    top: -2rem;
    bottom: auto;
    left: auto;
    right: 48%;
  }
}
@media (min-width: 48rem) {
  #our-theory-of-change .banana {
    background-image: url("/images/cutouts/banana-480h.png");
    background-size: 30rem 30rem;
  }
}
#our-theory-of-change .macintosh {
  width: 20rem;
  height: 20rem;
  top: 25vh;
  right: -5rem;
  background-color: #ffebb9;
  background-image: url("/images/cutouts/macintosh-320h.png");
  background-size: 20rem 20rem;
  transform: scale(0.75);
}
@media (min-width: 48rem) {
  #our-theory-of-change .macintosh {
    width: 30rem;
    height: 30rem;
    top: 34vh;
    bottom: auto;
    left: 44%;
    right: auto;
  }
}
@media (min-width: 48rem) {
  #our-theory-of-change .macintosh {
    background-image: url("/images/cutouts/macintosh-480h.png");
    background-size: 30rem 30rem;
  }
}
#our-theory-of-change .poster {
  background-color: #2bb151;
  margin-bottom: 24vh;
}
@media (min-width: 48rem) {
  #our-theory-of-change .poster {
    margin-bottom: 40vh;
  }
}
#our-theory-of-change h3:last-of-type {
  color: #f04b23;
}

#rules-for-impact-investing {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-image: url("/images/filled/solar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#rules-for-impact-investing .poster {
  background-color: #2bb151;
  margin-bottom: 0;
}
#rules-for-impact-investing .rules-carousel {
  font-family: "JetBrainsMono", monospace;
  font-weight: 400;
  letter-spacing: -1%;
  text-align: center;
}
#rules-for-impact-investing .rules-carousel figure {
  padding: 2rem 3rem;
  border: 1px solid #2bb151;
  background-color: #ddffe7;
  height: auto;
}
#rules-for-impact-investing .rules-carousel figure h3 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #2bb151;
}
#rules-for-impact-investing .rules-carousel figure p {
  margin-bottom: 0;
}

#impact-investing {
  padding-bottom: 4rem;
}
#impact-investing .marquee-container {
  height: 75vw;
  background-size: 75vw;
}
@media (min-width: 48rem) {
  #impact-investing .marquee-container {
    height: 24rem;
    background-size: 24rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
#impact-investing .marquee-container .marquee {
  background-color: #f5f0f0;
}
#impact-investing .marquee-container:nth-of-type(1) {
  background-image: url("/images/filled/solar.png");
}
#impact-investing .marquee-container:nth-of-type(1) .marquee ul {
  animation: marquee 16s linear infinite;
}
#impact-investing .marquee-container:nth-of-type(2) {
  background-image: url("/images/filled/waste-management.png");
}
#impact-investing .marquee-container:nth-of-type(2) .marquee ul {
  animation: marquee 14s linear infinite;
}
#impact-investing .marquee-container:nth-of-type(3) {
  background-image: url("/images/filled/speciality-housing.png");
}
#impact-investing .marquee-container:nth-of-type(3) .marquee ul {
  animation: marquee 15s linear infinite;
}

#how-we-exclude-investments {
  padding-top: 4rem;
  padding-bottom: 6rem;
}
#how-we-exclude-investments .coal {
  width: 20rem;
  height: 20rem;
  top: -2rem;
  right: -2rem;
  background-color: #ffebb9;
  background-image: url("/images/cutouts/coal-320h.png");
  background-size: 20rem 20rem;
  background-image: url("/images/cutouts/coal-sprite-320h.png");
  background-size: 100rem 20rem;
  animation: coalMoveX 5000ms steps(5) infinite;
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .coal {
    width: 30rem;
    height: 30rem;
    top: -2rem;
    bottom: auto;
    left: 44%;
    right: auto;
  }
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .coal {
    background-image: url("/images/cutouts/coal-480h.png");
    background-size: 30rem 30rem;
  }
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .coal {
    background-image: url("/images/cutouts/coal-sprite-480h.png");
    background-size: 150rem 30rem;
    animation: coalMoveXMd 5000ms steps(5) infinite;
  }
}
@keyframes coalMoveX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100rem;
  }
}
@keyframes coalMoveXMd {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -150rem;
  }
}
#how-we-exclude-investments .smoke-stack {
  width: 20rem;
  height: 20rem;
  top: 30vh;
  left: -4em;
  background-color: #f9ecf5;
  background-image: url("/images/cutouts/smoke-stack-320h.png");
  background-size: 20rem 20rem;
  transform: scale(0.75);
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .smoke-stack {
    width: 30rem;
    height: 30rem;
    top: 28vh;
    bottom: auto;
    left: auto;
    right: 48%;
  }
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .smoke-stack {
    background-image: url("/images/cutouts/smoke-stack-480h.png");
    background-size: 30rem 30rem;
  }
}
#how-we-exclude-investments .poster {
  background-color: #f04b23;
  hyphens: auto;
  margin-bottom: 20vh;
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .poster {
    margin-bottom: 18vh;
  }
}
#how-we-exclude-investments .perma-tooltip-container,
#how-we-exclude-investments .screens-container {
  max-width: 40rem;
  margin: 0 auto;
}
#how-we-exclude-investments .perma-tooltip-container {
  position: relative;
}
#how-we-exclude-investments .perma-tooltip-container.active {
  display: none;
}
#how-we-exclude-investments .perma-tooltip-container .perma-tooltip {
  top: 0.5rem;
  left: -0.5rem;
  width: 13rem;
}
@media (min-width: 40rem) {
  #how-we-exclude-investments .perma-tooltip-container .perma-tooltip {
    top: 3rem;
    left: -1.5rem;
    width: auto;
  }
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .perma-tooltip-container .perma-tooltip {
    top: 0.25rem;
    left: auto;
    right: -1.5rem;
    width: auto;
  }
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .perma-tooltip-container .perma-tooltip#swipe-instructions {
    display: none;
  }
}
#how-we-exclude-investments .perma-tooltip-container .perma-tooltip#tap-instructions {
  display: none;
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .perma-tooltip-container .perma-tooltip#tap-instructions {
    display: inherit;
  }
}
#how-we-exclude-investments .screens-container {
  font-family: "JetBrainsMono", monospace;
  font-weight: 400;
  letter-spacing: -1%;
  background-color: #ffffff;
  border: 1px solid #f04b23;
  max-width: 40rem;
  margin: 3rem auto;
  position: relative;
  overflow: hidden;
  transition: max-height 1000ms ease;
  max-height: 64vh;
  -webkit-transform: translate3d(0, 0, 0);
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .screens-container {
    max-height: 72vh;
  }
}
#how-we-exclude-investments .screens-container.active {
  max-height: 300vh;
}
#how-we-exclude-investments .screens-container .screens {
  padding: 1.5rem;
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .screens-container .screens {
    padding: 2rem;
  }
}
#how-we-exclude-investments .screens-container .screens .scroll-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .screens-container .screens .scroll-buttons {
    display: none;
  }
}
#how-we-exclude-investments .screens-container .screens .scroll-buttons button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background: inherit;
}
#how-we-exclude-investments .screens-container .screens .scroll-buttons button:hover {
  background: #fdefec;
}
#how-we-exclude-investments .screens-container .screens .scroll-buttons button svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}
#how-we-exclude-investments .screens-container .screens .scroll-buttons button svg .fill-target {
  fill: #dadad7;
}
#how-we-exclude-investments .screens-container .screens .scroll-buttons button.active svg .fill-target {
  fill: #f04b23;
}
#how-we-exclude-investments .screens-container .screens .buttons-container {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .screens-container .screens .buttons-container {
    overflow-x: inherit;
    flex-wrap: wrap;
    margin-right: 0;
  }
}
#how-we-exclude-investments .screens-container .screens .buttons-container input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
#how-we-exclude-investments .screens-container .screens .buttons-container input:checked + label {
  background-color: #db380f;
  color: #ffffff;
  border-color: #db380f;
}
#how-we-exclude-investments .screens-container .screens .buttons-container label {
  font-size: 0.875rem;
  cursor: pointer;
  padding: 0.75rem 1rem;
  color: #db380f;
  border: 1px solid #faccc2;
  background-color: #ffffff;
  transition: all 200ms ease;
  flex-shrink: 0;
  text-align: center;
}
#how-we-exclude-investments .screens-container .screens .buttons-container label:not(:last-of-type) {
  margin-right: 0.25rem;
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .screens-container .screens .buttons-container label {
    font-size: 1rem;
    margin: 0.25rem;
    flex-grow: 1;
  }
}
#how-we-exclude-investments .screens-container .screens .buttons-container label:hover {
  background-color: #faccc2;
  border-color: #f04b23;
}
#how-we-exclude-investments .screens-container .screens .criteria-container {
  display: none;
}
#how-we-exclude-investments .screens-container .screens .criteria-container.active {
  display: inherit;
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-intro {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .screens-container .screens .criteria-container .criteria-intro {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-intro h3 {
  color: #f04b23;
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-intro p {
  color: #47170b;
  font-size: 0.75rem;
  padding: 0 2rem;
}
@media (min-width: 40rem) {
  #how-we-exclude-investments .screens-container .screens .criteria-container .criteria-intro p {
    padding: 0;
  }
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item {
  padding: 1.5rem;
  background: #faccc2;
  color: #47170b;
  font-size: 0.875rem;
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item {
    padding: 2rem;
  }
}
@media (min-width: 48rem) {
  #how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item {
    font-size: 1rem;
  }
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item .examples-intro {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #f04b23;
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item .examples-intro,
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item ul li {
  font-size: 0.75rem;
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item ul li {
  margin-bottom: 0.25rem;
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item ul li::before {
  content: "❌";
  margin-right: 1em;
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item ul li a {
  color: #db380f;
}
#how-we-exclude-investments .screens-container .screens .criteria-container .criteria-item ul li a:hover {
  color: #f04b23;
}
#how-we-exclude-investments .screens-container .screens .criteria-container .disclaimer {
  margin-top: 2rem;
}
#how-we-exclude-investments .screens-container .expander {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  color: #47170b;
  box-shadow: 0 -2rem 2rem #ffffff;
  border-top: 1px solid #f04b23;
}
#how-we-exclude-investments .screens-container .expander:hover {
  background-color: #faccc2;
}
#how-we-exclude-investments .screens-container .expander.active {
  display: none;
}

#everything-we-invest-in {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
#everything-we-invest-in .tv {
  width: 20rem;
  height: 20rem;
  top: -3rem;
  left: -5rem;
  background-color: #ffebb9;
  background-image: url("/images/cutouts/tv-320h.png");
  background-size: 20rem 20rem;
}
@media (min-width: 48rem) {
  #everything-we-invest-in .tv {
    width: 30rem;
    height: 30rem;
    top: -3rem;
    bottom: auto;
    left: auto;
    right: 44%;
  }
}
@media (min-width: 48rem) {
  #everything-we-invest-in .tv {
    background-image: url("/images/cutouts/tv-480h.png");
    background-size: 30rem 30rem;
  }
}
#everything-we-invest-in .fifty-cents {
  width: 20rem;
  height: 20rem;
  top: 32vh;
  right: -5rem;
  background-color: #f9ecf5;
  background-image: url("/images/cutouts/fifty-cents-320h.png");
  background-size: 20rem 20rem;
  transform: scale(0.75);
}
@media (min-width: 48rem) {
  #everything-we-invest-in .fifty-cents {
    width: 30rem;
    height: 30rem;
    top: 28vh;
    bottom: auto;
    left: 44%;
    right: auto;
  }
}
@media (min-width: 48rem) {
  #everything-we-invest-in .fifty-cents {
    background-image: url("/images/cutouts/fifty-cents-480h.png");
    background-size: 30rem 30rem;
  }
}
#everything-we-invest-in .poster {
  background-color: #2bb151;
  margin-bottom: 18vh;
}

#our-voting-record {
  margin-top: 3rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
}
#our-voting-record .telephone {
  width: 20rem;
  height: 20rem;
  top: 0;
  right: -5rem;
  background-color: #ffebb9;
  background-image: url("/images/cutouts/telephone-320h.png");
  background-size: 20rem 20rem;
  transform: scale(0.75);
  transform-origin: center right;
}
@media (min-width: 48rem) {
  #our-voting-record .telephone {
    width: 30rem;
    height: 30rem;
    top: 0;
    bottom: auto;
    left: 44%;
    right: auto;
  }
}
@media (min-width: 48rem) {
  #our-voting-record .telephone {
    background-image: url("/images/cutouts/telephone-480h.png");
    background-size: 30rem 30rem;
  }
}
#our-voting-record .megaphone {
  width: 20rem;
  height: 20rem;
  top: 22vh;
  left: -2rem;
  background-color: #d0e0ff;
  background-image: url("/images/cutouts/megaphone-320h.png");
  background-size: 20rem 20rem;
}
@media (min-width: 48rem) {
  #our-voting-record .megaphone {
    width: 30rem;
    height: 30rem;
    top: 20vh;
    bottom: auto;
    left: auto;
    right: 42%;
  }
}
@media (min-width: 48rem) {
  #our-voting-record .megaphone {
    background-image: url("/images/cutouts/megaphone-480h.png");
    background-size: 30rem 30rem;
  }
}
#our-voting-record .poster {
  background-color: #2bb151;
  margin-bottom: 19vh;
}
@media (min-width: 48rem) {
  #our-voting-record .poster {
    margin-bottom: 32vh;
  }
}

/*# sourceMappingURL=how-we-invest.css.map */
