/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
main:focus {
  outline: none;
}

address {
  font-style: inherit;
}

details {
  border: 1px solid #000000;
  background-color: #ffffff;
}
details:not(:last-of-type) {
  margin-bottom: -1px;
}
details summary {
  cursor: pointer;
  padding: 1.5rem;
  font-weight: 500;
}
details summary:focus {
  outline: none;
}
details summary:hover {
  background-color: #f5f5f4;
}
details p {
  padding: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 160%;
  border-top: 1px solid #000000;
}

button,
.button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 0;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
  text-align: center;
}
button.primary,
.button.primary {
  color: #ffffff;
  background-color: #000000;
}
button.primary.inverted,
.button.primary.inverted {
  color: #000000;
  background-color: #ffffff;
}
button.primary:hover,
.button.primary:hover {
  background-color: #0a5aff;
}
button.clear,
.button.clear {
  color: inherit;
  background-color: inherit;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plain {
  list-style-type: none;
}

body.mobile-menu-active {
  position: fixed;
}
body.mobile-menu-active.aoc-active {
  top: -60vh;
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2rem;
}
@media (min-width: 48rem) {
  .container {
    padding: 0 3rem;
  }
}

main > article.container {
  padding-bottom: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.grid > * {
  grid-column: span 1;
}
@media (min-width: 40rem) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
  .grid > * {
    grid-column: span 6;
  }
}
@media (min-width: 48rem) {
  .grid {
    gap: 2rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}
@media (min-width: 80rem) {
  .grid {
    gap: 3rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}

.investment-options section .intro > * {
  grid-column: span 1;
}
@media (min-width: 40rem) {
  .investment-options section .intro > * {
    grid-column: span 12;
  }
}
@media (min-width: 48rem) {
  .investment-options section .intro > * {
    grid-column: span 9;
  }
}
@media (min-width: 80rem) {
  .investment-options section .intro > * {
    grid-column: span 6;
  }
}

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskBook19-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskMedium19-subset.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskMedium19-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskSmBold19-subset.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMonoVariable.ttf") format("truetype");
  font-weight: 1 999;
  font-display: swap;
}
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #000000;
}

.heading-zero {
  text-transform: uppercase;
  line-height: 98%;
  text-align: center;
  color: #140f14;
  font-size: 3rem;
  font-size: min(max(2rem, 7vw), 6rem);
}

h1 {
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 1.8rem;
  font-size: 2.8rem;
  font-size: min(max(2rem, 7vw), 5rem);
  letter-spacing: -0.09rem;
}

h2 {
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-size: min(max(1.5rem, 4vw), 5rem);
  letter-spacing: -0.04rem;
}

h3,
.heading-three {
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-size: min(max(1rem, 3vw), 1.8rem);
}

h4 {
  line-height: 110%;
}

p {
  margin-bottom: 1rem;
}
p a {
  color: inherit;
}
p a:hover {
  color: #0a5aff;
}
p.page-header-summary {
  font-size: 2rem;
}

.disclaimer {
  color: #76766f;
  font-size: 0.75rem;
}

.bold {
  font-weight: 700;
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}

.text-tertiary {
  color: #76766f;
}

.pink {
  color: #c445a2;
}

.green {
  color: #2bb151;
}

.yellow {
  color: #fac33c;
}

.red {
  color: #f04b23;
}

.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: dashed underline;
}
.tooltip:hover {
  cursor: pointer;
  color: #0a5aff;
}
.tooltip .tooltip-text {
  font-family: "JetBrainsMono", monospace;
  font-weight: 600;
  letter-spacing: -1%;
  visibility: hidden;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.75rem 0.5rem;
  position: absolute;
  z-index: 1;
  width: 10rem;
  bottom: 100%;
  left: 50%;
  margin-left: -5rem;
}
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #140f14 transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
table th:only-of-type {
  padding-right: 3rem;
}

.investment-options section .table-container .grid-row .balanced-index.row-data, .investment-options .grid .balanced-index.option-card-full {
  color: #3c1631;
}
.investment-options section .table-container .grid-row .balanced-index.row-data svg.fill-core .fill-target, .investment-options .grid .balanced-index.option-card-full svg.fill-core .fill-target {
  fill: #c445a2;
}
.investment-options section .table-container .grid-row .balanced-index.row-data svg.fill-core .stroke-target, .investment-options .grid .balanced-index.option-card-full svg.fill-core .stroke-target {
  stroke: #c445a2;
}
.investment-options section .table-container .grid-row .balanced-index.row-data svg.fill-light .stroke-target, .investment-options .grid .balanced-index.option-card-full svg.fill-light .stroke-target {
  stroke: #dc91c8;
}
.investment-options section .table-container .grid-row .balanced-index.row-data .button, .investment-options .grid .balanced-index.option-card-full .button {
  background-color: #c445a2;
}
.investment-options section .table-container .grid-row .balanced-index.row-data .button:hover, .investment-options .grid .balanced-index.option-card-full .button:hover {
  background-color: #3c1631;
}
.investment-options section .table-container .grid-row .balanced-impact.row-data, .investment-options .grid .balanced-impact.option-card-full {
  color: #002166;
}
.investment-options section .table-container .grid-row .balanced-impact.row-data svg.fill-core .fill-target, .investment-options .grid .balanced-impact.option-card-full svg.fill-core .fill-target {
  fill: #0a5aff;
}
.investment-options section .table-container .grid-row .balanced-impact.row-data svg.fill-core .stroke-target, .investment-options .grid .balanced-impact.option-card-full svg.fill-core .stroke-target {
  stroke: #0a5aff;
}
.investment-options section .table-container .grid-row .balanced-impact.row-data svg.fill-light .stroke-target, .investment-options .grid .balanced-impact.option-card-full svg.fill-light .stroke-target {
  stroke: #a3c1ff;
}
.investment-options section .table-container .grid-row .balanced-impact.row-data .button, .investment-options .grid .balanced-impact.option-card-full .button {
  background-color: #0a5aff;
}
.investment-options section .table-container .grid-row .balanced-impact.row-data .button:hover, .investment-options .grid .balanced-impact.option-card-full .button:hover {
  background-color: #002166;
}
.investment-options section .table-container .grid-row .renewables-plus-growth.row-data, .investment-options .grid .renewables-plus-growth.option-card-full {
  color: #025018;
}
.investment-options section .table-container .grid-row .renewables-plus-growth.row-data svg.fill-core .fill-target, .investment-options .grid .renewables-plus-growth.option-card-full svg.fill-core .fill-target {
  fill: #2bb151;
}
.investment-options section .table-container .grid-row .renewables-plus-growth.row-data svg.fill-core .stroke-target, .investment-options .grid .renewables-plus-growth.option-card-full svg.fill-core .stroke-target {
  stroke: #2bb151;
}
.investment-options section .table-container .grid-row .renewables-plus-growth.row-data svg.fill-light .stroke-target, .investment-options .grid .renewables-plus-growth.option-card-full svg.fill-light .stroke-target {
  stroke: #97ddab;
}
.investment-options section .table-container .grid-row .renewables-plus-growth.row-data .button, .investment-options .grid .renewables-plus-growth.option-card-full .button {
  background-color: #2bb151;
}
.investment-options section .table-container .grid-row .renewables-plus-growth.row-data .button:hover, .investment-options .grid .renewables-plus-growth.option-card-full .button:hover {
  background-color: #025018;
}

.investment-options {
  background-color: #ffffff;
  padding: 4rem 0 12rem;
}
.investment-options h1 {
  padding: 3rem 0;
}
.investment-options .grid {
  margin-bottom: 6rem;
}
.investment-options .grid .option-card-full {
  padding: 3rem;
  border: 2px solid #e6e6e5;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.investment-options .grid .option-card-full svg {
  align-self: center;
  margin-bottom: 1rem;
  width: 6rem;
  height: 6rem;
}
@media (min-width: 40rem) {
  .investment-options .grid .option-card-full {
    grid-column: span 12;
  }
}
@media (min-width: 48rem) {
  .investment-options .grid .option-card-full {
    grid-column: span 4;
  }
  .investment-options .grid .option-card-full svg {
    width: 9rem;
    height: 9rem;
  }
}
.investment-options .grid .option-card-full h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.investment-options .grid .option-card-full p {
  flex-grow: 1;
}
.investment-options .grid .option-card-full .button {
  color: #ffffff;
}
.investment-options section {
  margin-top: 6rem;
}
.investment-options section .intro {
  margin-bottom: 1.5rem;
}
.investment-options section .table-container {
  width: 100%;
  overflow-x: scroll;
}
.investment-options section .table-container:not(:first-of-type):not(:last-of-type) {
  margin-top: 5rem;
}
.investment-options section .table-container .grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  padding: 1.5rem 0;
}
.investment-options section .table-container .grid-row:not(:last-of-type) {
  border-bottom: 0.125rem solid #f5f5f4;
}
.investment-options section .table-container .grid-row:first-of-type:not(:only-of-type) {
  border-bottom: 0.125rem solid #dadad7;
}
.investment-options section .table-container .grid-row .row-header,
.investment-options section .table-container .grid-row .row-data {
  justify-items: start;
}
.investment-options section .table-container .grid-row .row-header h5,
.investment-options section .table-container .grid-row .row-header p,
.investment-options section .table-container .grid-row .row-data h5,
.investment-options section .table-container .grid-row .row-data p {
  font-size: 1rem;
  line-height: 100%;
  margin: 0;
  padding: 0;
}
.investment-options section .table-container .grid-row .row-header {
  grid-column: span 6;
}
.investment-options section .table-container .grid-row .row-header p {
  font-size: 0.875rem;
  color: #76766f;
  margin-top: 1rem;
}
.investment-options section .table-container .grid-row .row-data {
  grid-column: span 2;
  font-family: "JetBrainsMono", monospace;
}
.investment-options section .table-container .grid-row .row-data.highlight-investments {
  font-size: 0.875rem;
}
.investment-options section .table-container .grid-row .row-data.highlight-investments li:not(:last-of-type) {
  margin-bottom: 1rem;
}
.investment-options section .table-container .grid-row .option-card-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
.investment-options section .table-container .grid-row .option-card-mini svg {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.25rem;
}
.investment-options section .table-container .grid-row .option-card-mini h4 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.investment-options section .table-container .grid-row .option-card-mini .button {
  color: #ffffff;
  font-size: 1rem;
}
@media (min-width: 40rem) {
  .investment-options section .table-container .grid-row {
    gap: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .investment-options section .table-container .grid-row {
    gap: 2rem;
  }
}

/*# sourceMappingURL=investment-options.css.map */
