@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
main:focus {
  outline: none;
}

address {
  font-style: inherit;
}

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskBook19-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskMedium19-subset.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskMedium19-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGroteskSmBold19-subset.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMonoVariable.ttf") format("truetype");
  font-weight: 1 999;
  font-display: swap;
}
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #000000;
}

.heading-zero {
  text-transform: uppercase;
  line-height: 98%;
  text-align: center;
  color: #140f14;
  font-size: 3rem;
  font-size: min(max(2rem, 7vw), 6rem);
}

h1 {
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 1.8rem;
  font-size: 2.8rem;
  font-size: min(max(2rem, 7vw), 5rem);
  letter-spacing: -0.09rem;
}

h2 {
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-size: min(max(1.5rem, 4vw), 5rem);
  letter-spacing: -0.04rem;
}

h3,
.heading-three {
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-size: min(max(1rem, 3vw), 1.8rem);
}

h4 {
  line-height: 110%;
}

p {
  margin-bottom: 1rem;
}
p a {
  color: inherit;
}
p a:hover {
  color: #0a5aff;
}

.disclaimer {
  color: #76766f;
  font-size: 0.75rem;
}

.bold {
  font-weight: 700;
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}

.text-tertiary {
  color: #76766f;
}

.pink {
  color: #c445a2;
}

.green {
  color: #2bb151;
}

.yellow {
  color: #fac33c;
}

.red {
  color: #f04b23;
}

table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
table th:only-of-type {
  padding-right: 3rem;
}

details,
.forms-and-docs li {
  border: 1px solid #000000;
  background-color: #ffffff;
}
details:not(:last-of-type),
.forms-and-docs li:not(:last-of-type) {
  margin-bottom: -1px;
}

details summary {
  cursor: pointer;
  padding: 1.5rem;
  font-weight: 500;
}
details summary:focus {
  outline: none;
}
details summary:hover {
  background-color: #f5f5f4;
}
details .contents {
  padding: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 160%;
  border-top: 1px solid #000000;
}

.forms-and-docs li > a {
  display: block;
  padding: 1.5rem;
  text-decoration: none;
  color: inherit;
  padding: 1.5rem 1.5rem 1.5rem 5rem;
  background-image: url(/images/icons/download.svg);
  background-position: 1.5rem;
  background-repeat: no-repeat;
  background-size: 2rem auto;
}
.forms-and-docs li > a:hover {
  background-color: #f5f5f4;
}
.forms-and-docs li > a h2 {
  margin: 0 0 0.5rem 0 !important;
  font-size: 1rem;
}
.forms-and-docs li > a p {
  font-size: 0.875rem;
  margin-bottom: 0;
}

button,
.button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 0;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
  text-align: center;
}
button.full-width,
.button.full-width {
  padding: 1rem 0;
}
button.primary,
.button.primary {
  color: #ffffff;
  background-color: #000000;
}
button.primary.inverted,
.button.primary.inverted {
  color: #000000;
  background-color: #ffffff;
}
button.primary:hover,
.button.primary:hover {
  background-color: #0a5aff;
}
button.clear,
.button.clear {
  color: inherit;
  background-color: inherit;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plain {
  list-style-type: none;
}

.also-see ul li, input.search {
  border: 2px solid #e6e6e5;
  background-color: #ffffff;
}

body.mobile-menu-active {
  position: fixed;
}
body.mobile-menu-active.aoc-active {
  top: -60vh;
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .container {
    padding: 0 2rem;
  }
}
@media (min-width: 80rem) {
  .container {
    padding: 0 3rem;
  }
}
.container .article-content {
  margin: 0 auto;
  max-width: 48rem;
}
.container .article-content > p,
.container .article-content > ul,
.container .article-content > ol {
  font-size: 1.125rem;
  line-height: 170%;
}
.container .article-content img {
  margin: 3rem 0;
}
.container .article-content h2 {
  margin-top: 3rem;
}

main > article.container {
  padding-bottom: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.grid > * {
  grid-column: span 1;
}
@media (min-width: 40rem) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
  .grid > * {
    grid-column: span 6;
  }
}
@media (min-width: 48rem) {
  .grid {
    gap: 2rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}
@media (min-width: 80rem) {
  .grid {
    gap: 3rem;
  }
  .grid > * {
    grid-column: span 2;
  }
}

input.search {
  width: 100%;
  padding: 1rem 1rem 1rem 3.5rem;
  background-image: url(/images/icons/search.svg);
  background-position: 0.75rem;
  background-repeat: no-repeat;
  background-size: 2rem auto;
  margin-bottom: 6rem;
  font-size: 1.125rem;
}

.tooltip {
  position: relative;
  display: inline;
  text-decoration: dotted underline;
  -webkit-text-decoration: dotted underline;
}
.tooltip:hover {
  cursor: help;
  color: #0a5aff;
}
.tooltip:hover .tooltip-text {
  display: block;
}
.tooltip .tooltip-text {
  font-family: "JetBrainsMono", monospace;
  font-weight: 500;
  letter-spacing: -1%;
  display: none;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.75rem;
  position: absolute;
  z-index: 3;
  width: 13rem;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 100%;
}
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #140f14 transparent transparent transparent;
}
.tooltip .tooltip-text.left {
  text-align: left;
  transform: translate(-0.5rem, 0);
  left: 0;
}
.tooltip .tooltip-text.left::after {
  left: 2.5rem;
}
.tooltip .tooltip-text.right {
  text-align: right;
  transform-origin: top right;
  transform: translate(0, 0);
  left: -7.75rem;
}
.tooltip .tooltip-text.right::after {
  left: calc(100% - 2.5rem);
}

.also-see {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.also-see ul li {
  overflow: hidden;
  transition: background-color 100ms ease-in-out;
  grid-column: span 1;
}
.also-see ul li:hover {
  background-color: #f5f5f4;
}
.also-see ul li a {
  display: block;
  padding: 1.5rem 2rem;
  text-decoration: none;
  font-weight: bold;
  color: #140f14;
  white-space: nowrap;
}
@media (min-width: 40rem) {
  .also-see ul li {
    grid-column: span 12;
  }
}
@media (min-width: 48rem) {
  .also-see ul li {
    grid-column: span 6;
  }
}
@media (min-width: 80rem) {
  .also-see ul li {
    grid-column: span 4;
  }
}

.join-cta {
  color: #140f14;
  text-align: center;
}
.join-cta .container {
  padding: 10rem 3rem;
}
@media (max-width: 40rem) {
  .join-cta .container {
    padding: 4rem 3rem;
  }
}
.join-cta .button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.join-cta p:first-of-type {
  font-size: 1rem;
  font-size: min(max(1rem, 3vw), 1.8rem);
}
.join-cta p:last-of-type {
  font-size: 0.875rem;
}

header[role=banner] {
  overflow: hidden;
}
header[role=banner] .banner {
  text-align: center;
  padding: 1.5rem;
}
header[role=banner] .banner p {
  margin: 0;
}
header[role=banner] .banner.advice {
  color: #52524c;
  background-color: #f5f0f0;
}
header[role=banner] .banner.advice a:hover {
  color: #0b0b0a;
}
header[role=banner] .banner.critical {
  color: #322401;
  background-color: #fac33c;
}
header[role=banner] .banner.critical a:hover {
  color: #9a6f04;
}
header[role=banner] section {
  margin-top: 1rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1068px) {
  header[role=banner] section {
    margin-top: 2rem;
  }
}
header[role=banner] section .logo,
header[role=banner] section .show-hide-mobile-menu {
  height: 2.5rem;
}
header[role=banner] section .logo svg .fill-target,
header[role=banner] section .show-hide-mobile-menu svg .fill-target {
  fill: #000000;
  transition: fill 100ms ease-in-out;
}
header[role=banner] section .logo:hover svg .fill-target,
header[role=banner] section .show-hide-mobile-menu:hover svg .fill-target {
  fill: #52524c;
}
header[role=banner] section .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
  z-index: 2;
}
header[role=banner] section .logo svg {
  height: 1.25rem;
  width: auto;
}
header[role=banner] section .show-hide-mobile-menu {
  z-index: 2;
}
header[role=banner] section .show-hide-mobile-menu .menu-button {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
}
header[role=banner] section .show-hide-mobile-menu .menu-button svg {
  height: 2.5rem;
  width: 2.5rem;
}
header[role=banner] section .show-hide-mobile-menu .menu-button#menu-button-open {
  display: block;
}
header[role=banner] section .show-hide-mobile-menu .menu-button#menu-button-open.mobile-menu-active {
  display: none;
}
header[role=banner] section .show-hide-mobile-menu .menu-button#menu-button-close {
  display: none;
}
header[role=banner] section .show-hide-mobile-menu .menu-button#menu-button-close.mobile-menu-active {
  display: block;
}
@media (min-width: 1068px) {
  header[role=banner] section .show-hide-mobile-menu {
    display: none;
  }
  header[role=banner] section .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  header[role=banner] section .nav-container nav {
    display: flex;
    align-items: center;
  }
  header[role=banner] section .nav-container nav .clear:after {
    content: " ▾";
  }
  header[role=banner] section .nav-container nav .non-dropdown {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid transparent;
    color: #000000;
  }
  header[role=banner] section .nav-container nav .non-dropdown:hover {
    color: #52524c;
  }
  header[role=banner] section .nav-container nav .dropdown {
    border: 1px solid transparent;
  }
  header[role=banner] section .nav-container nav .dropdown:hover {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  header[role=banner] section .nav-container nav .dropdown:hover .dropdown-content {
    display: flex;
  }
  header[role=banner] section .nav-container nav .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    min-width: 10rem;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-left: -1px;
  }
  header[role=banner] section .nav-container nav .dropdown-content a {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding: 1rem 2rem;
  }
  header[role=banner] section .nav-container nav .dropdown-content a:hover {
    background-color: #000000;
    color: #ffffff;
  }
}
@media (max-width: 1067px) {
  header[role=banner] section .show-hide-mobile-menu {
    display: block;
  }
  header[role=banner] section .nav-container {
    display: none;
    height: 100%;
    width: 100%;
    padding: 5rem 1rem 3rem;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #fbf9f9;
    overflow-x: hidden;
    flex-direction: column;
  }
  header[role=banner] section .nav-container.mobile-menu-active {
    display: flex;
  }
  header[role=banner] section .nav-container nav:first-of-type .button {
    color: #000000;
    padding: 1.4rem 0 0.8rem 0;
  }
  header[role=banner] section .nav-container nav:first-of-type .non-dropdown {
    display: block;
    padding: 1.4rem 0 2rem 0;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
  }
  header[role=banner] section .nav-container nav:first-of-type .non-dropdown:hover {
    color: #0a5aff;
  }
  header[role=banner] section .nav-container nav:first-of-type .dropdown-content a {
    display: block;
    padding: 1rem 0;
    color: #000000;
    text-decoration: none;
  }
  header[role=banner] section .nav-container nav:first-of-type .dropdown-content a:hover {
    color: #0a5aff;
  }
  header[role=banner] section .nav-container nav:first-of-type .dropdown-content a:not(:last-of-type) {
    border-bottom: 1px solid #e6e6e5;
  }
  header[role=banner] section .nav-container nav:last-of-type a {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border: 2px solid #000000;
  }
  header[role=banner] section .nav-container nav:last-of-type a:first-of-type {
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.8rem 2rem;
    text-decoration: none;
    color: #000000;
  }
  header[role=banner] section .nav-container nav:last-of-type a:first-of-type:hover {
    background-color: #dc91c8;
  }
  header[role=banner] section .nav-container nav:last-of-type a:last-of-type:hover {
    border-color: #0a5aff;
  }
}

body > .flow-content > footer {
  background-color: #f5f0f0;
  font-size: 0.875rem;
  padding: 3rem 0 4rem;
}
body > .flow-content > footer h2 {
  font-size: 1rem;
  letter-spacing: -0.03rem;
  font-weight: 700;
}
body > .flow-content > footer nav {
  margin-bottom: 5rem;
}
body > .flow-content > footer nav h2,
body > .flow-content > footer nav img {
  margin-bottom: 1rem;
}
body > .flow-content > footer nav ul > li {
  margin-bottom: 1rem;
}
body > .flow-content > footer nav ul > li a {
  text-decoration: none;
  color: #1d1d1b;
}
body > .flow-content > footer nav ul > li a:hover {
  text-decoration: underline;
  color: #0a5aff;
}
@media (min-width: 48rem) {
  body > .flow-content > footer .socials-list {
    grid-column: span 4;
  }
}
body > .flow-content > footer .legal-section {
  margin-top: 3rem;
}
@media (min-width: 40rem) {
  body > .flow-content > footer .legal-section {
    margin-top: 10rem;
  }
}
body > .flow-content > footer .legal-section img {
  grid-row: 1/1;
  margin-bottom: 3rem;
}
body > .flow-content > footer .legal-section table.essential-fund-info {
  grid-column: span 4;
  grid-row: 2/2;
  border-spacing: 0;
}
@media (min-width: 40rem) {
  body > .flow-content > footer .legal-section table.essential-fund-info {
    grid-column: span 6;
  }
}
@media (min-width: 48rem) {
  body > .flow-content > footer .legal-section table.essential-fund-info {
    grid-column: span 4;
  }
}
body > .flow-content > footer .legal-section p {
  grid-row: 3/3;
  grid-column: span 12;
  margin-top: 1rem;
}
@media (min-width: 48rem) {
  body > .flow-content > footer .legal-section p {
    grid-column: span 8;
  }
}
@media (min-width: 80rem) {
  body > .flow-content > footer .legal-section table.essential-fund-info {
    grid-row: 1/1;
    grid-column: span 3;
  }
  body > .flow-content > footer .legal-section p,
body > .flow-content > footer .legal-section img {
    grid-row: 2/2;
  }
  body > .flow-content > footer .legal-section p {
    grid-column: span 6;
    margin-top: 0;
  }
  body > .flow-content > footer .legal-section img {
    justify-self: end;
    grid-column: 12/12;
    margin-bottom: 0;
  }
}
body > .flow-content > footer .legal-link-list {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}
body > .flow-content > footer .legal-link-list li a {
  color: inherit;
  text-decoration: none;
}
body > .flow-content > footer .legal-link-list li a:hover {
  text-decoration: underline;
  color: #52524c;
}
@media (min-width: 40rem) {
  body > .flow-content > footer .legal-link-list {
    flex-direction: row;
  }
  body > .flow-content > footer .legal-link-list li:not(:last-of-type) {
    margin-right: 1.15rem;
  }
  body > .flow-content > footer .legal-link-list li:not(:last-of-type)::after {
    margin-left: 1rem;
    font-weight: 900;
    content: "•";
  }
}

header[role=heading] {
  margin-bottom: 6rem;
  text-align: center;
}
header[role=heading] .page-header-summary {
  font-size: 2rem;
  max-width: 48rem;
  margin: 0 auto;
}

.acknowledgement-of-country {
  color: #ffffff;
  background-color: #0b0b0a;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
}
.acknowledgement-of-country.header {
  z-index: -1;
  height: 60vh;
  top: 0;
  display: none;
}
.acknowledgement-of-country.header .container {
  opacity: 0;
  transition: opacity 900ms 80ms ease-in-out;
}
.acknowledgement-of-country.header.active {
  display: block;
}
.acknowledgement-of-country.header.active .container {
  opacity: 1;
}
.acknowledgement-of-country.footer {
  z-index: -2;
  height: 100vh;
  bottom: 0;
}
.acknowledgement-of-country .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.js .acknowledgement-of-country.footer .container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 900ms 80ms ease-in-out;
}
.js .acknowledgement-of-country.footer.active {
  z-index: -1;
}
.js .acknowledgement-of-country.footer.active .container {
  opacity: 1;
  visibility: visible;
}

.acknowledgement-of-country .container article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.acknowledgement-of-country .container article .flags {
  display: flex;
  margin-bottom: 2rem;
}
.acknowledgement-of-country .container article .flags img:first-child {
  margin-right: 1rem;
}
@media (min-width: 40rem) {
  .acknowledgement-of-country .container article .statement .content {
    grid-column: span 10;
  }
}
@media (min-width: 48rem) {
  .acknowledgement-of-country .container article .statement .content {
    grid-column: span 7;
  }
}
@media (min-width: 80rem) {
  .acknowledgement-of-country .container article .statement .content {
    grid-column: span 5;
  }
}
.acknowledgement-of-country .container article .statement .content p {
  font-size: 1.125rem;
}
.acknowledgement-of-country .container article .statement .content p .traditional-custodians.active {
  color: #fac33c;
  animation: fadeOutYellow 3s ease-in-out 2s 1 forwards;
}
@keyframes fadeOutYellow {
  0% {
    color: #fac33c;
  }
  100% {
    color: #ffffff;
  }
}
.acknowledgement-of-country .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}
@media (min-width: 40rem) {
  .acknowledgement-of-country .details {
    flex-direction: row;
  }
  .acknowledgement-of-country .details p:nth-child(1) {
    order: 2;
  }
  .acknowledgement-of-country .details p:nth-child(2) {
    order: 1;
  }
}
.acknowledgement-of-country .details p.custodian {
  color: #fac33c;
  opacity: 0;
  transition: opacity 900ms ease-in-out;
}
.acknowledgement-of-country .details p.custodian.active {
  opacity: 1;
}
.acknowledgement-of-country .details p a {
  color: #dadad7;
}
.acknowledgement-of-country .details p a:hover {
  color: #ffffff;
}

body .flow-content {
  background-color: #ffffff;
  margin-bottom: 100vh;
}
body .flow-content.aoc-active {
  margin-top: 60vh;
  box-shadow: 0 -1rem 5rem #0b0b0a;
}

/*# sourceMappingURL=main.css.map */
