---
title: "Everything We Invest In"
---

{% extends "layouts/base.html" %}
{% set pageSpecificStyles = ['/css/everything-we-invest-in.css'] %}

{% block content %}
<div class="everything-we-invest-in mix-container">
  {# Page header and selectors #}
  <div class="top-section-container">
    <h1>{{ title }}</h1>
    <div class="selectors-container">
      <div class="everything-form-text">Show me</div>
 	    <fieldset data-filter-group="">
        <select class="everything-dropdown select-filter">
          <option value="">all types of</option>
          {% for companyType in companyTypes %}
            <option value=".{{ companyType | lower |  replace(' ', '-') | replace('&amp;', '') | replace(',', '')}}">
              {{ companyType | replace('&amp;', '&')}}
            </option>
          {% endfor %}
        </select>
      </fieldset>
      <div>investments</div>
    </div>
    {# Selectors section #}
    <div class="selectors-container">
	    <div>from</div>
      <fieldset data-filter-group="">
        <select class="everything-dropdown select-filter">
          <option value="">any country</option>
          {% for country in countries %}
            <option value=".{{ country | lower |  replace(' ', '-')}}">{{country}}</option>
          {% endfor %}
        </select>
      </fieldset>
      <div>in</div>
      <fieldset data-filter-group="">
        <select class="everything-dropdown select-filter">
          <option value="">any investment option</option>
          <option value=".balanced-index">Balanced Index</option>
          <option value=".balanced-impact">Balanced Impact</option>
          <option value=".renewables-plus-growth">Renewables Plus Growth</option>
          <option value=".pension-fund">Pension Fund</option>
        </select>
      </fieldset>
    </div>
  </div>

  {# Section with investment cards #}
  <div class="investment-card-section-container">

    {# Date and sort by filter #}
    <div class="info-at-top">
      <div>
        <div>
          As at {{ investments.asAtDate }}
        </div>
      </div>
      <div class="sorting-container">
        <div>Show</div>
        <fieldset>
          <select id="detailed-info">
            <option value="basic">Basic info</option>
            <option value="detailed">Detailed info</option>
          </select>
        </fieldset>
        <div style="padding-left: 1rem">Sort by</div>
        <fieldset>
          <select class="select-sort" name="field">
            <option value="featured:asc">Featured</option>
            <option value="name:asc">Alphabetically</option>
            <option value="size:desc">Holding Size</option>
          </select>
        </fieldset>
      </div>
    </div>

    {# Investment Cards #}
    <div class="grid-of-cards">
      {% for investment in investments.list %}
        <div
          class="mix investment-container"
          data-name="{{ investment.name }}"
          data-featured="{{ investment.featured }}"
          data-size="{{ investment.totalSize }}"
        >
          <h3>{{ investment.name }}</h3>
          {% if investment.country %}
            <h4>Country</h4>
            <div class="filter-category">{{ investment.country }}</div>
          {% endif %}
          {% if investment.businessType %}
            <h4>Business Type</h4>
            <div class="filter-category">{{ investment.businessType }}</div>
          {% endif %}
          {% for investmentOption in investment.investmentOptions %}
            <div style="display: none" class="filter-category">{{ investmentOption.name }}</div>
          {% endfor %}
          <div class="details" style="display: none">
            <h4>Investment Type</h4>
            <div class="filter-category">{{ investment.type }}</div>
            <h4>Investment Options</h4>
            <div class="grid-options-weight">
              <div class="bold">Option</div>
              <div class="bold">Portfolio Weight</div>
              {% for investmentOption in investment.investmentOptions %}
                <div>{{ investmentOption.name }}</div>
                <div>{{ investmentOption.weight | round(2) }}%</div>
              {% endfor %}
            </div>
            <h4>Total Holding Size (All Options)</h4>
            <div>
              {% if investment.totalSize > 0.1 %}
                ${{ investment.totalSize | round(1) }} Million
              {% else %}
                Less than $0.1 Million
              {% endif %}
            </div>
            {% if investment.etf !== "No" %}
            <h4>Held via ETF</h4>
            <div>{{ investment.etf }}</div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div id="noItemsFoundMessage">
      No items found
    </div>
  </div>
</div>


<!--- // 1) Connecting MixItUp JS library using public CDN link --->

<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.0/mixitup.min.js"></script>
<script src="https://content.myfuturesuper.com.au/scripts/mixitup-multifilter.min.js"></script>

<script>
  // Basic/Detailed View Selector
  var details = document.getElementsByClassName("details");
  var viewSelector = document.querySelector('#detailed-info');
  viewSelector.addEventListener('change', function() {
    let visibility = viewSelector.value === "detailed" ? "block" : "none";
    for(var i = 0; i < details.length; i++){
      details[i].style.display = visibility;
    }
  });
</script>

<script>

// 2) Reusable function to convert any string/text to css-friendly format
  var conv = function (str) {
    if (!str) {
        str = 'empty';
    }  return str.replace(/[!\"#$%&'\(\)\*\+,\.\/:;<=>\?\@\[\\\]\^`\{\|\}~]/g, '')
              .replace(/ /g, "-")
              .toLowerCase()
              .trim();
  };

// 3) Creating dynamic elements classes from its categories for filtering:
  var catArray = document.querySelectorAll('.filter-category');
  catArray.forEach( function(elem) {
    var text = elem.innerText || elem.innerContent;
    var className = conv(text);
    elem.parentElement.classList.add(className);
  });

// 4) Creating custom data-date attributes from blog dates:
  var sortArray = document.querySelectorAll('.sort-category');
  sortArray.forEach( function(sortElem) {
    var sortText = sortElem.innerText || sortElem.innerContent;
    sortElem.parentElement.parentElement.setAttribute('data-date', sortText);
  });

// 5) Set the reference to the container. Use the class-name of your Collection List or ID of the Collection List
  var containerEl = document.querySelector('.mix-container');
  var selectFilter = document.querySelector('.select-filter');
  var selectSort = document.querySelector('.select-sort');

// 6) Call the MixitUp plugin

	// hide alert message by deafult
  var noItemsFoundMessage = document.getElementById("noItemsFoundMessage");
  noItemsFoundMessage.style.display = "none";

  // hide detailed view by deafult
  var details = document.getElementsByClassName("details");
  for(var i = 0; i < details.length; i++){
    details[i].style.display = "none";
  }

  var mixer = mixitup(containerEl, {
    multifilter: {
        enable: true // enable the multifilter extension for the mixer
    },
    load: {
        sort: 'featured:asc'
    },
    callbacks: {
         onMixEnd: function(state){
           // ## 3 - hasFailed true? show alert
           if(state.hasFailed){
              noItemsFoundMessage.style.display = "block";
           }
           // ## 3 - hasFailed false? hide alert
           else{
              noItemsFoundMessage.style.display = "none";
           }
           console.log(state);
     		}
     }
	});

  selectSort.addEventListener('change', function() {
      var order = selectSort.value;
      mixer.sort(order);
  });

</script>






{% endblock %}
