---
title: "Home"
pageScripts: ["scripts/home/netlifyIdentity.js"]
pageStyles: ["src/css/pages/how-we-invest.css"]
---

{% extends "layouts/base.html" %}

{% block content %}

  <div class="flex-center" style="flex-direction: column; min-height: 60vh; align-items: center">
    <h1 class="heading-zero">Switch your super.<br>Shake the system.</h1>
    <p style="margin-top: 1rem">Your super has the power to combat climate change. Let’s put it to work.</p>
    <a href="{{ site.joinurl }}" class="button primary" style="margin-top: 2rem">Join Now</a>
  </div>

  <section>
    <img src="{% src 'coal-flick.png', 502 %}" alt="A hand flicking a piece of coal">
    <h2>Give fossil fuels the flick</h2>
    <p>Each time just 34 people switch, that’s another million dollars out of super exposed to the fossil fuel industry^.</p>
  </section>

  <section>
    <img src="{% src 'queen-megaphone.png', 464 %}" alt="A collage of the queen and a megaphone">
    <h2>Your money talks</h2>
    <p>Changing the future is simple when you understand your power over the systems around you.</p>
    <p>Only 7.7% of super could fund Australia's transition to 100% clean energy*.</p>
    <p>Future Super helps move your super out of fossil fuels and into climate solutions to make that vision for your future a reality.</p>
    <a href="/how-we-invest">See how we invest →</a>
    <aside>
      <p>
        <a href="https://www.uts.edu.au/sites/default/files/article/downloads/teske_et_al_2018_supercharging_australia’s_clean_energy_transition_0.pdf" target="_blank" rel="noopener noreferrer">*Supercharging Australia's Clean Energy Transition</a>
        UTS: Institute For Sustainable Futures, 2018
      </p>
    </aside>
  </section>

  <section>
    <img src="{% src 'phone-tap', 205 %}" alt="A finger tapping a mobile phone">
    <h2>Switching is easy as a few taps</h2>
    <a href="https://join.futuresuper.com.au">Make the switch →</a>
  </section>

  {% include "partials/join-cta.html" %}

{% endblock %}