@use "../base" as *;

.acknowledgement-of-country {
  color: $white-500;
  background: $grey-900;
  width: 100%;
  display: flex;
  align-items: center;

  &.header {
    // Allow parts of page to 'bleed through'
    // So visitor knows they can scroll to continue
    height: 60vh;
    // Don't display by default
    display: none;
    // Only display if first visit
    &.active {
      display: block;
    }
  }

  &.footer {
    height: 100vh;
    position: fixed;
    z-index: -1;
    bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Traverse back up the DOM to check if the HTML tag has signaled JS is available
    // Only hide this content in the case that JS is available
    @at-root .js {
      .acknowledgement-of-country.footer {
        .container {
          opacity: 0;
          visibility: hidden;
          transition: opacity 900ms 80ms ease-in-out;

          &.active {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    article {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .flags {
        display: flex;
        margin-bottom: 2rem;

        img:first-child {
          margin-right: 1rem;
        }
      }

      .statement {
        .content {
          @media (min-width: $breakpoint-sm) {
            grid-column: span 10;
          }
          @media (min-width: $breakpoint-md) {
            grid-column: span 7;
          }
          @media (min-width: $breakpoint-lg) {
            grid-column: span 5;
          }

          p {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-sm) {
      // Put into row and swap visual order
      flex-direction: row;
      p {
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          order: 1;
        }
      }
    }

    justify-content: space-between;
    margin-bottom: 3rem;

    p {
      &.custodian {
        color: $yellow-500;
        opacity: 0;
        transition: opacity 900ms ease-in-out;

        &.active {
          opacity: 1;
        }
      }

      a {
        color: $grey-300;

        &:hover {
          color: $white-500;
        }
      }
    }
  }
}
