@use "../base" as *;

.acknowledgement-of-country {
  color: $white-500;
  background: $grey-900;
  height: 100vh;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    article {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .flags {
    display: flex;
    margin-bottom: 2rem;

    img:first-child {
      margin-right: 1rem;
    }
  }

  .statement {
    .content {
      @media (min-width: $breakpoint-sm) {
        grid-column: span 10;
      }
      @media (min-width: $breakpoint-md) {
        grid-column: span 7;
      }
      @media (min-width: $breakpoint-lg) {
        grid-column: span 5;
      }

      p {
        font-size: 1.125rem;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-sm) {
      // Put into row and swap visual order
      flex-direction: row;
      p {
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          order: 1;
        }
      }
    }

    justify-content: space-between;
    margin-bottom: 3rem;

    p {
      &#custodian {
        color: $yellow-500;
        opacity: 0;
        transition: opacity 900ms ease-in-out;

        &.active {
          opacity: 1;
        }
      }

      a {
        color: $grey-300;

        &:hover {
          color: $white-500;
        }
      }
    }
  }
}
