@use "../base" as *;

header[role="heading"] {
  margin-bottom: $space-section-y-sm;
  text-align: center;

  .page-header-summary {
    font-size: 2rem;
    line-height: $line-height-xs;
    max-width: $breakpoint-md;
    margin: 0 auto;
  }
}
