@use "../base" as *;

// Target only the site footer
// (as the footer can be semantically used elsewhere)
body > footer {
  background-color: $white-500;
  font-size: $size-sm;
  padding-top: 2rem;

  h2 {
    font-size: 1rem;
  }

  .acknowledgement-of-country {
    .flags {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  }
}
