@use "../base" as *;

// Target only the site header
header[role="banner"] {
  // Style conditional notice banner
  .banner {
    text-align: center;
    padding: 1.5rem;

    p {
      margin: 0;
    }

    &.advice {
      color: $grey-500;
      background-color: $off-white-500;

      a:hover {
        color: $grey-900;
      }
    }

    &.critical {
      color: $yellow-900;
      background-color: $yellow-500;

      a:hover {
        color: $yellow-700;
      }
    }
  }

  // Style core navigation area
  .banner-content {
    padding-top: 1rem;
    margin-bottom: $space-section-y-sm;

    display: flex;
    justify-content: space-between;
    align-items: center;

    nav.desktop {
      display: none;
      @media (min-width: $breakpoint-nav) {
        display: flex;
        justify-content: space-between;
        flex: 1;
        // Position dropdown elements above any transforms or page content
        z-index: 1;
      }

      .nav-group {
        display: flex;
      }

      .button.clear {
        &:after {
          content: " ▾";
        }
      }

      .non-dropdown {
        display: inline-block;
        padding: 1rem 2rem;
        text-decoration: none;
        font-weight: 700;
        border: 1px solid transparent;

        color: $black-900;

        &:hover {
          color: $grey-500;
        }
      }

      .dropdown {
        border: 1px solid transparent;

        &:hover {
          color: $black-900;
          background-color: $white-500;
          border: 1px solid $black-900;

          .dropdown-content {
            display: flex;
          }
        }
      }

      .dropdown-content {
        display: none;
        flex-direction: column;
        position: absolute;
        min-width: 10rem;
        background-color: $white-500;
        border: 1px solid $black-900;
        margin-left: -1px;

        a {
          text-decoration: none;
          font-weight: 500;
          color: $black-900;
          padding: 1rem 2rem;

          &:hover {
            background-color: $black-900;
            color: $white-500;
          }
        }
      }
    }

    .logo,
    .menu-button {
      height: 2.5rem;

      // Set a default branded fill colour for icons
      svg {
        .fill-target {
          fill: $black-900;
          transition: fill 100ms ease-in-out;
        }
      }

      &:hover {
        svg {
          .fill-target {
            fill: $grey-500;
          }
        }
      }
    }

    .logo {
      margin-right: 2rem;
      // Necessary to align SVG in center of larger tap target
      display: flex;

      svg {
        height: 1.25rem;
        width: auto;
        margin: auto;
      }
    }

    .menu-button {
      cursor: pointer;
      width: 2.5rem;
      height: 2.5rem;

      &#close {
        display: none;
      }
      @media (min-width: $breakpoint-nav) {
        display: none;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  // Default menu is closed
  .menu-content {
    display: none;
  }

  // Begin styling open menu
  // See layout.scss for global changes
  &.site-header-menu-active {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: $grey-800;
    color: $white-500;

    .banner-content {
      margin-bottom: 4rem;
      .logo,
      .menu-button {
        // Set a default branded fill colour for icons
        svg {
          .fill-target {
            fill: $grey-200;
          }
        }

        &:hover {
          svg {
            .fill-target {
              fill: $grey-400;
            }
          }
        }
      }

      .menu-button {
        &#open {
          display: none;
        }
        &#close {
          display: inherit;
        }
      }
    }

    .menu-content {
      display: inherit;

      nav.mobile,
      .nav-group,
      .nav-group-subgroup {
        display: flex;
        flex-direction: column;
      }

      .nav-group-subgroup {
        h2 {
          margin-bottom: 0.5rem;
          color: $grey-400;
        }
        li {
          a {
            display: block;
            padding: 1rem 0;
            color: $white-500;
            text-decoration: none;
            transition: $transition-text-hover;
            &:hover {
              color: $mint-500;
            }
          }

          &:not(:last-of-type) {
            border-bottom: 1px solid $grey-500;
          }
        }
        &:not(:last-of-type) {
          margin-bottom: 3rem;
        }
      }

      .nav-group.cta {
        margin-top: 3rem;
        margin-bottom: 2rem;
        // Calculate extra padding for iPhone home button
        padding-bottom: env(safe-area-inset-bottom);
        .button.primary {
          &:hover {
            background-color: $mint-500;
          }
        }
        .button.clear {
          margin-top: 0.5rem;
          &:hover {
            color: $mint-500;
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}
