<section class="acknowledgement-of-country header">
  <div class="container">
    <article>
      <div class="statement grid">
        <div class="content">
          <p>Future Super acknowledges the <span class="traditional-custodians">Traditional Custodians</span> of the
            lands on which we operate and pay our respects to Elders, past, present and emerging. We recognise the
            enduring relationship Aboriginal and/or Torres Strait Islander peoples have with Country and that
            sovereignty was never ceded.</p>
        </div>
      </div>
    </article>
    <footer class="details">
      <p class="custodian">{{ custodians[0] }}</p>
      <p>
        <a href="/reconciliation">Learn more</a>
      </p>
    </footer>
  </div>
</section>