<section class="acknowledgement-of-country">
  <div class="container">
    <div class="flags">
      <img src="/images/icons/flag-aboriginal.svg" alt="Aboriginal flag">
      <img src="/images/icons/flag-torres-strait.svg" alt="Torres Strait Islander flag">
    </div>

    <div class="statement grid">
      <p>Future Super acknowledges the Traditional Custodians of the lands on which we operate and pay our respects to
        Elders, past, present and emerging.</p>
    </div>

    <div class="details">
      <p>
        <a href="/rap">Our Reconciliation Action Plan</a>
      </p>
      <p id="custodian">{{ custodians[0] }}</p>
    </div>
  </div>
</section>