<div id="donation-offer" class="container-unlimited" style="padding-top: 2rem">
  <div
    style="
      padding: 1.5rem;
      background-color: black;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div>
      Looks like your friend <span id="friend-name" class="bold"></span>referred
      you here. Switch to Future Super and we'll donate $50 to WIRES on behalf
      of you and your friend.
    </div>
    <svg
      onClick="hideBox()"
      style="margin-left: 1rem"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M27 1L1 27" stroke="white" stroke-width="2.23529" />
      <path d="M27 27L1 0.999999" stroke="white" stroke-width="2.23529" />
    </svg>
  </div>
</div>
