<section class="product-review-carousel">
  <header class="container">
    <h2>Don't just take it from us</h2>
  </header>

  <div class="glide">
    <div data-glide-el="track" class="glide__track">
      <div class="glide__slides">
        {% for item in productReviewSubset.latestReviews %}
        {% set reviewStarRating %}
        {% for i in range(0, item.stars) %}★{% endfor %}
        {% endset %}

        <figure class="glide__slide">
          <blockquote cite={{ item.url }}">
            <p class="stars">{{ reviewStarRating }}</p>
            <p class="review-title">{{ item.title }}</p>
          </blockquote>
          <figcaption>{{ item.author }}, <cite><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer"><time
                  datetime="{{ item.date | w3DateFilter }}">{{ item.date | timeSinceFilter }}</time></a></cite>
          </figcaption>
        </figure>
        {% endfor %}
      </div>
    </div>
  </div>

  {% set roundedOverallStarRating %}
  {{ productReviewSubset.rating | round }}
  {% endset %}
  {% set overallStarRating %}
  {% for i in range(0, roundedOverallStarRating) %}★{% endfor %}
  {% endset %}

  <footer class="container">
    <p class="see-all-reviews">See all reviews on <br><a href="https://www.productreview.com.au/listings/future-super"
        target="_blank" rel="noopener noreferrer">ProductReview.com.au</a></p>

    <p class="stars">{{ overallStarRating }}</p>
    <p class="overall-rating"><span>{{ productReviewSubset.rating }}</span> from {{ productReviewSubset.reviews }}
      reviews</p>
  </footer>
</section>