<header role="banner">
  <div class="flex-center" style="justify-content: space-between">
    <div class="flex-center">
      <a href="/" aria-label="{{ site.name }} — Home" style="margin-right: 2rem">
        <img src="/images/Future_Super_Logo.svg" alt="Future Super Logo">
      </a>
      <nav aria-label="Primary">
        <ul>
          {% for item in navigation.items %}
              {% if item.url %}
                <li>
                  <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% else %}
                <li class="has-subitems">
                  {{ item.text }}
                  <ul>
                    {% for subItem in item.subItems %}
                      <li>
                        {{ subItem.text }}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
    <nav class="flex-center">
      <ul><li><a href="#">
        Login
      </a></li></ul>
      <a href="#" class="button">
        Join Now
      </a>
    </nav>
  </div>
</header>