<footer>
  <div class="container">
    <nav class="grid">
      <div>
        <a class="logo" href="/" aria-label="{{ site.name }} — Home">
          {{ '/src/images/logo-single-line.svg' | svgContents | safe }}
        </a>
        <ul class="plain">
          {% for item in socials.items %}
          {% if item.inSiteFooter %}
          <li>
            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.platform}}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>

      </div>

      {% for item in navigation.items %}
      {# Not all items will go in site header, so check them #}
      {% if item.inSiteFooter %}
      {# Don't include shortcut links #}
      {% if not item.url %}
      <div>
        <h2>{{ item.text }}</h2>
        <ul class="plain">
          {% for subItem in item.subItems %}
          <li>
            <a href="{{ subItem.url }}">{{ subItem.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </nav>

    <section class="legal-section grid">
      <img src="/images/icons/b-corp.svg" alt="Logo for Certified B Corporation">
      <table class="essential-fund-info text-tertiary">
        <tr>
          <th>ABN</th>
          {# Zero-width joiner (&zwj;) necessary to stop iOS formatting as phone number #}
          <td>&zwj;45 &zwj;960 &zwj;194 &zwj;277</td>
        </tr>
        <tr>
          <th>USI</th>
          {# Zero-width joiner (&zwj;) necessary to stop iOS formatting as phone number #}
          <td>&zwj;45 &zwj;960 &zwj;194 &zwj;277 &zwj;010</td>
        </tr>
      </table>
      <p class="text-tertiary">
        Information provided is of a general nature only and we have not taken your personal financial objectives,
        situation or needs into account. We recommend you seek financial advice when considering if Future Super is
        right for your objectives and needs. When considering returns, past performance is not indicative of future
        performance.
      </p>
    </section>

    <ul class="legal-link-list text-tertiary">
      {% for item in navigation.items %}
      {% if "Legal" in item.text %}
      {% for subItem in item.subItems %}
      <li>
        <a href="{{ subItem.url }}">{{ subItem.text }}</a>
      </li>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</footer>