<footer>
    <div class="container">
        <div class="grid">
            <div>
                <a href="/" aria-label="{{ site.name }} — Home">
                    <img src="/images/logo-single-line.svg" alt="Future Super Logo">
                    {# TODO: replace with: #}
                    {# {% include "partials/brand.svg" %} #}
                    <ul>
                        {% for item in navigation.items %}
                        <li>
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </a>
            </div>

            <div>
                <h2>Why us</h2>
                <ul>
                    {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h2>Resources</h2>

                <ul>
                    {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>

                <h2>Company</h2>
                <ul>
                    {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>

                <h2>Members</h2>
                <ul>
                    {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="acknowledgement-of-country">
            <div class="flags">
                <img src="/images/icons/flag-aboriginal.svg" alt="Aboriginal flag">
                <img src="/images/icons/flag-torres-strait.svg" alt="Torres Strait Islander flag">
            </div>
            <p>
                We acknowledge the Traditional Custodians of the lands on which we operate. We pay our respects
                to their
                Elders,
                past, present and emerging, and recognise that sovereignty was never ceded. See our <a
                    href="/rap">Reconciliation
                    Action Plan</a>.
            </p>
        </div>

        <img src="/images/icons/b-corp.svg" alt="Logo for Certified B Corporation">

        <div class="legal">
            <p>
                All information provided is general in nature only. We recommend you seek financial advice when
                considering if Future Super is right for your objectives and needs. When considering returns, past
                performance is not indicative of future performance.
            </p>


            <ul>
                <li>Fund Information</li>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</footer>